<!-- snippets/addresses__input.liquid -->
{% comment %} 
  This snippet is used to render input fields on customer account pages. It accepts several arguments to customize the input field.

  Accepts:
  - required: {boolean} If set to true, the input field will be required.
  - type: {string} The type of the input field (e.g., 'text', 'email', 'password').
  - label: {string} The label for the input field.
  - placeholder: {string} The placeholder text for the input field.
  - name: {string} The name attribute for the input field.
  - value: {string} The default value for the input field.

  Usage:
    {% render 'addresses__input',
      required: 'true',
      type: 'text', 
      label: first_name_label,
      placeholder: first_name_placeholder,
      name: 'address[first_name]',
      value: form.first_name 
    %}

  Recommendations:
  - This snippet is best used for rendering input fields on forms, especially on customer account pages.
  - Consider updating this snippet to accommodate all types of input fields.
{% endcomment %}

{% liquid 
  if type == blank 
    assign type = 'text' 
  endif 
  if autocomplete == blank 
    assign autocomplete = 'off' 
  endif 
  if autocapitalize == blank 
    assign autocapitalize = 'off' 
  endif 
  if spellcheck == blank 
    assign spellcheck = 'false' 
  endif 
  if required == blank 
    assign required = 'false' 
  endif 
  capture inputId 
    echo type 
    echo name 
  endcapture 
  capture container_class 
    echo 'w-full' 
  endcapture 
%}

<div 
  class="{{ container_class }}" 
  data-component="input-text">
  <label 
    class="block" 
    for="{{ inputId }}">
    {{ label }}
  </label>
  <input
    id="{{ inputId }}"
    class="w-full"
    type="{{ type }}"
    name="{{ name }}"
    value="{{ value }}"
    placeholder="{{ placeholder }}"
    autocomplete="{{ autocomplete }}"
    autocapitalize="{{ autocapitalize }}"
    spellcheck="{{ spellcheck }}"
    {% unless required == 'false' %}
      required="{{ required }}"
    {% endunless %}
  />
</div>
