<!-- snippets/addresses__select.liquid -->
{% comment %} 
  This snippet is used to render a select dropdown on customer account pages. It accepts several arguments to customize the select dropdown.

  Accepts:
  - id: {string} A unique string to set the id of the select dropdown.
  - label: {string} A string to set the label of the select dropdown.
  - placeholder: {string} A string to set the placeholder of the select dropdown.
  - name: {string} A string to set the name attribute of the select dropdown.
  - options: {string} A set of options to populate the select dropdown.
  - attributes: {string} A string to set additional attributes for the select dropdown.

  Usage:
    {% render 'addresses__select',
      id: form_country_id,
      label: country_label,
      placeholder: country_placeholder,
      name: 'address[country]',
      options: country_option_tags,
      attributes: attr 
    %}

  Recommendations:
  - This snippet is best used for rendering select dropdowns on forms, especially on customer account pages.
  - Consider updating this snippet to accommodate all types of select dropdowns.
{% endcomment %}

{% capture uid %}
  select{{ name | default: label }}
{% endcapture %}

<div 
  class="{{ container_class }}" 
  style="{{ style }}">
  <label 
    class="block" 
    for="{{ id }}">
    {{ label }}
  </label>
  <select
    id="{{ id }}"
    class="form-select"
    name="{{ name | default: label | strip }}"
    value="{{ value }}"
    data-product-select
    {% if required %}
      required
    {% endif %}
    {{ attributes }}>
    {% if placeholder %}
      <option disabled>{{ placeholder }}</option>
    {% endif %}
    {{ options }}
  </select>
</div>

{% liquid
  assign id = blank
  assign style = blank
  assign label = blank
  assign name = blank
  assign value = blank
  assign required = blank
  assign placeholder = blank
  assign options = blank
  assign attributes = blank
%}

