<!-- snippets/article__share.liquid -->
{% comment %} 
  Includes links to share and a button to copy the article URL.
  
  Accepts:
  - block: {Object} Liquid object containing block settings.

  Globals:
  - settings.x_margin: {string} Determines the horizontal margin.

  Usage:
    {% render 'article__share',
      block: block 
    %}

  Recommendations:
  - Render this snippet on an article template.
{% endcomment %}

<section 
  id="article-share"
  class="
    {{ block.settings.color_border }}
    {{ block.settings.style_border }}
  "
  style="
    padding-top:{{ block.settings.spacing_top }}px;
    padding-bottom:{{ block.settings.spacing_bottom }}px;
  ">
  <div 
    class="flex
      {{ block.settings.layout_x_alignment }}
    ">
    <div 
      class="w-full max-w-3xl">
      <div class="flex flex-col gap-2">
        <p class="type--small">{{ 'labels.link_to_share' | t }}</p>
        <div class="flex w-full gap-4" 
          x-data="{
            copy: '{{ 'actions.copy_url' | t }}'
          }">
          <input 
            id="copy-article-url"
            class="flex-grow form-input" 
            type="text"
            placeholder="..."
            value="{{ shop.domain }}{{ article.url }}"
            autocorrect="off" 
            autocapitalize="off">
          <button 
            class="btn btn--secondary btn--smaller whitespace-nowrap shrink-0"
            type="submit" 
            @click="
              copyToClipboard('copy-article-url');
              copy = '{{ 'actions.copied' | t }}';
            ">
            <span 
              class="btn__content" 
              x-text="copy">{{ 'actions.copy_url' | t }}</span>
          </button>
        </div>
        <p class="opacity-75 type--smaller">
          {{ 'info.article_share_description' | t }}
        </p>
        <div class="flex gap-2">
          <a class="btn btn--plain btn--small"
            href="https://www.facebook.com/sharer/sharer.php?u={{ shop.domain }}{{ article.url }}"
            target="_blank">
            {% render 'component__icon', icon: 'facebook', size: '16', class: 'mr-1' %}
            {{ 'actions.share' | t }}
          </a>
          <a class="btn btn--plain btn--small"
            href="https://twitter.com/intent/tweet?text={{ shop.domain }}{{ article.url }}"
            target="_blank">
            {% render 'component__icon', icon: 'twitter', size: '16', class: 'mr-1' %}
            {{ 'actions.share' | t }}
          </a>
          <a class="btn btn--plain btn--small"
            href="http://pinterest.com/pin/create/link/?url={{ shop.domain }}{{ article.url }}"
            target="_blank">
            {% render 'component__icon', icon: 'pinterest', size: '16', class: 'mr-1' %}
            {{ 'actions.pin_it' | t }}
          </a>
        </div>
      </div>
    </div>
  </div>
</section>