<!-- snippets/article__comment.liquid -->
{% comment %} 
  Comments for a blog article.

  Accepts:
  - block: {Object} Liquid object containing block settings.

  Globals:
  - settings.x_margin: {string} Determines the horizontal margin.

  Usage:
    {% render 'article__comment',
      block: block 
    %}

  Recommendations:
  - Render this snippet on an article template.
{% endcomment %}

<section 
  id="article-comments"
  class="
    flex flex-col
    {{ block.settings.color_border }}
    {{ block.settings.style_border }}
  "
  style="
    padding-top:{{ block.settings.spacing_top }}px;
    padding-bottom:{{ block.settings.spacing_bottom }}px;
  ">
  {% paginate article.comments by 10 %}

    {% comment %} Comments {% endcomment %}
    {% if article.comments.size > 0 %}
      <div
        id="pagination"
        class="
          flex w-full
          {{ block.settings.layout_x_alignment }}
        ">
        <div 
          class="flex flex-col w-full max-w-3xl max-h-[550px] overflow-auto border--radius p-4 border--width color__border-divider-1">
          {% for comment in article.comments %}
            <div class="pb-6 group">
              <div 
                class="inline-block p-2 px-4 mb-2 rounded-bl-sm md:max-w-3xl rounded-2xl color__bg-shade-2 ">
                {{ comment.content }}
              </div>
              <div class="flex items-center gap-2"> 
                <span class="inline-flex items-center justify-center w-6 h-6 rounded-full color__bg-shade-2">
                  <span class="type--smaller">{{ comment.author | truncate: 1, '' | upcase }}</span>
                </span>
                <div>
                  <span class="opacity-50 type--small">
                    {{ comment.author }}
                  </span>
                  <span class="opacity-0 type--small animation-300 group-hover:opacity-50">
                    {{ comment.updated_at | date: format: 'abbreviated_date' }}
                  </span>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
    
    {% comment %} Sticky footer {% endcomment %}
    <div
      class="
        flex w-full flex-col gap-6 
        {{ block.settings.layout_x_alignment }}
      ">
      <div class="max-w-3xl">
        {% render 'component__pagination-default', paginate: paginate %}
      </div>
      <div 
        class="w-full max-w-3xl"
        x-data="{ commenting: false }">
        {% form 'new_comment', article, class: "grid" %}
          
          <div
            x-show="commenting"
            x-cloak>
            <label 
              class="sr-only"
              for="{{ block.id }}_comment_author">
              {{ 'labels.name' | t }}
            </label>
            <input 
              class="mb-4 form-input"
              id="{{ block.id }}_comment_author"
              name="comment[author]"
              type="text"
              placeholder="{{ 'actions.name_placeholder' | t }}"
              required    
              value="{{ form.author }}">
            <label 
              class="sr-only"
              for="{{ block.id }}_comment_email">
              {{ 'labels.email' | t }}
            </label>
            <input 
              class="mb-4 form-input"
              id="{{ block.id }}_comment_email"
              name="comment[email]"
              type="email"
              placeholder="{{ 'actions.email_placeholder' | t }}"
              required 
              value="{{ form.email }}">
          </div>
          <div 
            class="relative flex items-end w-full"
            @click="commenting = true">
            <textarea 
              class="!pr-10" 
              placeholder="{{ 'actions.leave_a_comment' | t }}" 
              name="comment[body]"
              required
              @focus="commenting = true"
              @click="commenting = true"></textarea>
            <button
              type="submit"
              class="absolute btn btn--secondary btn--smaller whitespace-nowrap right-2 bottom-2">
              <span class="btn__content">{{ 'actions.post' | t }}</span>
            </button>
          </div>
          
          {% if form.posted_successfully? %}
            <p class="p-2 mt-2 color__bg-shade-1 type--small border--radius">
              {{ 'info.comment_posted_successfully' | t }}
            </p>
          {% endif %}
          {% if form.errors %}
            <div class="p-2 mt-2 color__bg-shade-1 type--small border--radius">
              {{ form.errors | default_errors }}
            </div>
          {% endif %}

        {% endform %}
      </div>
    </div>

  {% endpaginate %}
</section>