<!-- snippets/blog__subtags.liquid -->
{% comment %} 
  Secondary navigation for blog pages. Use tags for quick filtering.

  Usage:
    {% render 'blog__subtags' %}

  Globals:
    - settings.x_margin: horizontaly margin

  Pro tips:
    - Use this snippet on blog templates.
    - These links are populated using metafields. For more information on how to add and manage metafields, refer to this guide: https://help.brickspacelab.com/en/articles/281-core-templates-blog
{% endcomment %}

{% assign raw_sub_tags = blog.metafields.custom.subtags %}

{% if raw_sub_tags != blank %}
  <section
    style="
      background-color: {{ section.settings.color_background }};">
    <nav 
      class="
        border--b-width flex flex-wrap
        color__border-divider-1
        {% if section.settings.enable_margin %}
          {{ settings.x_margin }}
        {% else %}
          window--full
        {% endif %}
      ">
      <div class="relative w-full">
        <div class="inline-flex w-full gap-6 overflow-x-auto whitespace-nowrap scroll-smooth snap-x">
          <div class="flex justify-center flex-none snap-center">
            <a href="{{ blog.url }}"
              class="no-underline type--big py-4 border-b-2 color__border-selected-2
              {% if current_tags != blank %}opacity-40 !border-b-0{% endif %}">
              {{ 'labels.all' | t }}
            </a>
          </div>
          {% for item in raw_sub_tags.value %}
            <div class="flex justify-center flex-none snap-center">
              <a href="{{ blog.url }}/tagged/{{ item | handle }}"
                class="no-underline type--big opacity-40 py-4
                {% assign handleized_current_tags = current_tags | handleize %}
                {% assign handleized_item = item | handleize %}
                {% if handleized_current_tags contains handleized_item %}
                  !opacity-100
                  border-b-2
                  color__border-selected-2
                {% endif %}">
                {{ item }}
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </nav> 
  </section>
{% endif %}