<!-- snippets/component__content-item.liquid -->
{% comment %} 
  This file is a component that generates a thumbnail for simple content in a product or collection grid.
  
  Accepts:
  - heading: {string} Set content for heading text.
  - content: {string} Set content for body text.
  - button_label: {string} Set content for button text.
  - url: {string} Set URL for this block.
  - image: {Object} Liquid object for image values.
  - image_background: {Object} Liquid object for background image values.
  - video: {Object} Liquid object for video values.
  - enable_autoplay: {boolean} Indicates if video should autoplay.
  - enable_mute_toggle: {boolean} Indicates if video should include mute buttons.
  - enable_loop: {boolean} Indicates if video should loop.
  - color_scheme: {string} Class string to set color.
  - color_border: {string} Class string to set border color.
  - color_text: {string} Class string to set text color.
  - color_button: {string} Class string to set button color.
  - enable_image_crop: {boolean} Indicates if image should be cropped.
  - enable_gradient: {boolean} Indicates if content should use a gradient.
  - enable_scroll_motion: {boolean} Indicates if scroll animation should be used.
  - spacing_top: {integer} Set top padding within block.
  - spacing_bottom: {integer} Set bottom padding within block.
  - spacing_minimum_height {integer} Set minimum height for block.
  - spacing_maximum_height {integer} Set maxium height for block.
  - enable_padding: {boolean} Indicates if content should use padding.
  - layout_col_span_desktop: {string} Class string to set column span on desktop.
  - layout_col_span_mobile: {string} Class string to set column span on mobile.
  - layout_row_span_desktop: {string} Class string to set row span on desktop.
  - layout_row_span_mobile: {string} Class string to set row span on mobile.
  - layout_y_alignment: {string} Class string to set vertical aligment.
  - layout_x_alignment: {string} Class string to set horizontal aligment (left, center, right).
  - enable_max_width: {boolean} Indicates if content should use max width.
  
  Usage:
    {% render 'component__content-item',
      heading: block.settings.heading,
      content: block.settings.content,
      button_label: block.settings.button_label,
      url: block.settings.url,
      image: block.settings.image,
      image_background: block.settings.image_background,
      video: block.settings.video,
      enable_autoplay: block.settings.enable_autoplay,
      enable_mute_toggle: block.settings.enable_mute_toggle,
      enable_loop: block.settings.enable_loop,
      color_scheme: block.settings.color_scheme,
      color_border: block.settings.color_border,
      color_text: block.settings.color_text,
      color_button: block.settings.color_button,
      enable_image_crop: block.settings.enable_image_crop,
      enable_gradient: block.settings.enable_gradient,
      enable_scroll_motion: block.settings.enable_scroll_motion,
      spacing_top: block.settings.spacing_top,
      spacing_bottom: block.settings.spacing_bottom,
      spacing_minimum_height: block.settings.spacing_minimum_height,
      spacing_maximum_height: 400,
      enable_padding: block.settings.enable_padding,
      layout_col_span_desktop: 'md:col-span-2',
      layout_col_span_mobile: 'col-span-2' ,
      layout_row_span_desktop: 'md:row-span-2',
      layout_row_span_mobile: 'row-span-2',
      layout_y_alignment: block.settings.layout_y_alignment,
      layout_x_alignment: block.settings.layout_x_alignment,
      enable_max_width: block.settings.enable_max_width
    %}
  
  Recommendations:
  - Use this snippet to display promotional content.
  - This file is best used in product or collection grid layouts.
{% endcomment %}

{% liquid 
  assign enable_scroll_motion = enable_scroll_motion | default: true 
%}

{% if enable_image_crop == true %}
  {% assign image_crop = 'object-cover' %}
{% else %}
  {% assign image_crop = 'object-contain' %}
{% endif %}


{% if url == blank %}<div{% else %}<a href="{{ url }}"{% if link_blank %} target="_blank"{% endif %}{% endif %}
    class="
    relative hover:!no-underline overflow-clip no-underline object-cover flex flex-col w-full animation-300 hover:opacity-100 group/content-item
    {% if enable_radius != false %}border--radius{% endif %}
    {{ layout_y_alignment }}
    {{ layout_col_span_desktop }}
    {{ layout_col_span_mobile }}
    {{ layout_row_span_desktop }}
    {{ layout_row_span_mobile }}
    {{ color_scheme }}
    {{ color_border }}
    {{ color_text }}
    {% if layout_x_alignment == 'left' %}
      items-start text-left
    {% elsif layout_x_alignment == 'center' %}
      items-center text-center
    {% elsif layout_x_alignment == 'right' %}
      items-end text-right
    {% elsif layout_x_alignment == 'justify' %}
      items-start text-justify
    {% endif %}
  "
  style="
    padding-top:{{ spacing_top }}px;
    padding-bottom:{{ spacing_bottom }}px;
    min-height: {{ spacing_minimum_height }}px;
    max-height: {{ spacing_maximum_height }}px;
  ">

  {% if enable_gradient %}
    <div 
      class="
        absolute h-full w-full z-[1] componet_gradient
      "
      style="
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
      ">
    </div>
  {% endif %}

  {% comment %} Image background {% endcomment %}
  {% unless image_background == blank %}
    <div 
      class="absolute w-full h-full ">
      {% render 'component__image', 
        image: image_background,
        max_width: 1600,
        background_class: 'color__bg-shade-2',
        container_class: 'h-full w-full',
        image_class: 'group-hover/content-item:scale-105 animation-500',
        crop_class: 'object-cover',
        enable_lazy_load: true,
        enable_2x: true
      %}
    </div>
  {% endunless %}

  {% comment %} Image {% endcomment %}
  {% unless image == blank %}
    {% render 'component__image', 
      image: image,
      max_width: 1600,
      background_class: 'color__bg-transparent',
      container_class: 'h-full',
      crop_class: image_crop,
      enable_lazy_load: true,
      enable_2x: true,
      enable_scroll_motion: 'false'
    %}
  {% endunless %}

  {% comment %} Video {% endcomment %}
  {% unless video == blank %}
    {% render 'component__video', 
      video: video,
      background_class: 'color__bg-shade-2',
      container_class: '!aspect-auto',
      video_class: 'object-cover',
      enable_custom_controls: true,
      enable_mute_toggle: enable_mute_toggle,
      enable_autoplay: enable_autoplay,
      enable_loop: enable_loop
    %}
  {% endunless %}

  {% comment %} Content {% endcomment %}
  <div 
    class="
      z-10 flex flex-col whitespace-normal gap-2 w-full
      {{ layout_y_alignment }}
      {% if enable_padding %}
        p-4
      {% endif %}
      {% if enable_max_width %}
        max-w-prose
      {% endif %}
      {% if layout_x_alignment == 'left' %}
        items-start text-left
      {% elsif layout_x_alignment == 'center' %}
        items-center text-center
      {% elsif layout_x_alignment == 'right' %}
        items-end text-right
      {% elsif layout_x_alignment == 'justify' %}
        items-start text-justify
      {% endif %}
      {% if settings.enable_animations and enable_scroll_motion == true %}
        motion-safe:scroll-fadein-2-20
      {% endif %}
    ">
    {% unless heading == blank %}
      <h3 
        class=" type__heading type__heading-3">
        {{ heading }}
      </h3>
    {% endunless %}
    {% unless content == blank %}
      <div class="space-y-2">
        {{ content }}
      </div>
    {% endunless %}
    {% unless button_label == blank %}
      <button 
        class="
        {{ color_button }}"
        tabindex="-1">
        {{ button_label }}
      </button>
    {% endunless %}
  </div>

{% if url == blank %}</div>{% else %}</a>{% endif %}