<!-- snippets/component__video.liquid -->
{% comment %} 
  Responive video component

  Accepts: 
  - video: {Object} video object to be displayed.
  - background_class: {string} Classes to set the background of the container.
  - container_class: {string} Additional classes to add to the video container.
  - video_class: {string} Additional classes to add to the video.
  - ratio_class: {string} Classes to set the aspect ratio of the video. If not included video aspect ratio will be used.
  - enable_custom_controls: {boolean} If set to true, video controls (play, pause, etc.) will be visible. 
  - enable_default_controls: {boolean} If set to true, video controls (play, pause, etc.) will be visible. 
  - enable_mute_toggle: {boolean} If set to true, provides an option to mute or unmute the video's audio.
  - enable_play_button: {boolean} If set to true, provides a play button to play the video.
  - enable_autoplay: {boolean} If set to true, the video will start playing as soon as it's ready.
  - enable_loop: {boolean} If set to true, the video will loop back to the beginning once finished.

  Usage:
    {% render 'component__video', 
      video: video,
      background_class: 'color__bg-shade-2',
      container_class: 'my-class',
      video_class: 'my-class',
      ratio_class: 'aspect-ratio-16/9',
      enable_custom_controls: true,
      enable_default_controls: true,
      enable_mute_toggle: true,
      enable_play_button: true,
      enable_autoplay: true,
      enable_loop: true
    %}
{% endcomment %}

<div 
  class="
    relative w-full h-full overflow-hidden group/video
    {{ background_class }}
    {{ container_class }}
    {% if ratio_class %}
      {{ ratio_class }}
    {% endif %}
  " 
  style="
    {% unless ratio_class %}
      {% if video.aspect_ratio %}
        aspect-ratio:{{ video.aspect_ratio }};
      {% else %}
        aspect-ratio: 16 / 9;
      {% endif %}
    {% endunless %}
  "
  x-data="{
    video_muted: true,
    video_playing: {% if enable_autoplay %} true {% else %} false {% endif %}
  }">
  <video 
    class="
      absolute h-full w-full left-0 top-0
      {{ video_class }}
    "
    style="
      aspect-ratio:{{ video.aspect_ratio }};
    "
    muted
    playsinline
    poster="{{ video.preview_image | image_url: width: 1200 }}"
    {% if enable_default_controls %}
      controls="controls"
    {% endif %}
    {% if enable_autoplay %} 
      autoplay 
    {% endif %}
    {% if enable_loop %} 
      loop 
    {% endif %}
    x-ref="video">
    {% for source in video.sources %}
      <source src="{{ source.url }}" type="{{ source.mime_type }}">
    {% endfor %}
  </video>

  {% if enable_custom_controls %}
    <div class="absolute z-20 flex flex-col p-2 md:opacity-0 top-2 right-2 bg-black/20 border--radius group-hover/video:opacity-100 animation-300">
      <button 
        class="flex items-center justify-center w-full p-2 overflow-hidden pointer-events-auto hover:bg-black/30 color__light border--radius"
        title="{{ 'actions.pause' | t }}"
        x-ref="pauseBtn" 
        @click='
          $refs.video.pause();
          video_playing = false;'
        x-show="video_playing"
        x-cloak>
          {% render 'component__icon', icon: 'pause', size: '16' %}
      </button> 
      <button 
        class="flex items-center justify-center w-full p-2 overflow-hidden pointer-events-auto hover:bg-black/30 color__light border--radius"
        title="{{ 'actions.pause' | t }}"
        x-ref="playBtn" 
        @click='
          $refs.video.play();
          video_playing = true;'
        x-show="!video_playing"
        x-cloak>
        {% render 'component__icon', icon: 'play', size: '16' %}
      </button> 
      {% if enable_mute_toggle %}
        <button 
          class="flex items-center justify-center w-full p-2 overflow-hidden pointer-events-auto hover:bg-black/30 color__light border--radius"
          title="{{ 'actions.mute' | t }}"
          x-ref="muteBtn" 
          @click='
            $refs.video.muted = true;
            video_muted = true;'
          x-show="!video_muted"
          x-cloak>
          {% render 'component__icon', icon: 'volume', size: '16' %}
        </button> 
        <button 
          class="flex items-center justify-center w-full p-2 overflow-hidden pointer-events-auto hover:bg-black/30 color__light border--radius"
          title="{{ 'actions.unmute' | t }}"
          x-ref="unmuteBtn" 
          @click='
            $refs.video.muted = false;
            video_muted = false;'
          x-show="video_muted"
          x-cloak>
          {% render 'component__icon', icon: 'volume-x', size: '16' %}
        </button> 
      {% endif %}
    </div>
  {% endif %}

  {% if enable_play_button %}
    <button 
      class="absolute top-0 bottom-0 z-10 flex items-center justify-center w-full h-full overflow-hidden cursor-pointer"
      x-ref="playBtn"
      @click="
        $refs.video.play();
        $refs.video.currentTime = 0;
        $refs.video.controls = true;
        $refs.video.muted = false;
        $refs.playBtn.style.display = 'none';
      ">
      <span 
        class="
          btn btn--small btn--plain absolute
          {{ section.settings.color_button }}
        ">
        {{ 'actions.play' | t }}
      </span>
    </button> 
  {% endif %}

</div>