<!-- snippets/component__skeleton-grid.liquid -->
{% comment %} 
  Placeholder thumbnail shown while content is loading.

  Usage:
    {% render 'component__skeleton-grid' %}
  
  Globals:
  - product_card_color_border: {string} This global variable is a class string that sets the border color of the product card.
  - product_card_ratio: {string} This global variable is a class string that sets the aspect ratio of the thumbnails on the product card.
  - product_card_alignment: {string} This global variable is a class string that sets the alignment of the thumbnails on the product card.
  - product_card_border_style: {string} This global variable is a class string that sets the border style of the product card.
  - product_card_color_scheme: {string} This global variable is a class string that sets the color scheme of the product card.

  Recommendations:
  - Used on dynamic content sections like recently viewed. This snippet will be shown as a placeholder before dynamic content is injected.
{% endcomment %}

<div 
  class="
    animate-pulse relative w-full
    {{ settings.product_card_alignment }}
    {% if settings.product_card_border_style == 'thumbnail' %}
      border--radius
      {{ settings.product_card_color_border }} 
      {{ settings.product_card_color_scheme }} 
    {% endif %}
  ">

  {% comment %} Image {% endcomment %}
  <div 
    class="
      border--radius flex items-center overflow-hidden color__bg-shade-2
      {{ settings.product_card_ratio }}
      {% if settings.product_card_border_style == 'image' %}
        {{ settings.product_card_color_border }} 
        {{ settings.product_card_color_scheme }} 
      {% endif %}
    ">
  </div>

  {% comment %} Content {% endcomment %}
  <div 
    class="
      flex flex-wrap py-4 gap-1
      {{ settings.product_card_alignment }}
      {% if settings.product_card_border_style == 'thumbnail' %}
        px-4
      {% endif %}
    ">
    <div class="
      block w-4/5 color__bg-shade-2
      {% if settings.product_card_title_font contains 'big' %}
        height--big
      {% else %}
        height--base
      {% endif %}
    "></div>
    <div class="block w-2/5 height--base color__bg-shade-2"></div>
  </div>
  
</div>