<!-- snippets/component__section-header.liquid -->
{% comment %} 
  Renders the section title and featured button. This accepts content directly from section settings.

  Accepts: 
  - container_class: {string} Class string to apply to container element.

  Globals:
  - settings.enable_animations: {boolean} Indicates if animations should be enabled.

  Usage:
    {% render 'component__section-header',
      container_class: 'px-4' 
    %} 

  Recommendations:
  - Display at the top of a section.
{% endcomment %}

{% if section.settings.heading != blank or section.settings.content != blank or section.settings.button_url != blank %}
  <div 
    class="
      gap-4 flex flex-row flex-wrap items-end pb-4 w-full
      {{ container_class }}
      {{ section.settings.layout_x_alignment }}
      {% if settings.enable_animations %}
        motion-safe:scroll-fadein-2-20
      {% endif %}
    ">

    <div 
      class="
        max-w-prose md:w-auto w-full gap-4 flex flex-col
        {% if section.settings.enable_split %}!w-full{% endif%}
      ">
      {% unless section.settings.heading == blank %}
        <h3 class="type__heading-1">{{ section.settings.heading }}</h3>
      {% endunless %}
      {% unless section.settings.content == blank %}
        <div class="space-y-4">
          {{ section.settings.content }}
        </div>
      {% endunless %}
    </div>

    {% unless section.settings.button_url == blank %}
      <div 
        class="w-full">
        <a href="{{ section.settings.button_url }}" 
          class="{{ section.settings.color_button }}">
          {{ section.settings.button_label }}
        </a>
      </div>
    {% endunless %}

  </div>
{% endif %}