<!-- snippets/component__image.liquid -->
{% comment %} 
  Responive image component

  Accepts: 
  - image: {Object} Image object to be displayed.
  - max_width: {number} Max width for the image. Default is 100% width.
  - background_class: {string} Classes to set the background of the container.
  - parent_class: {string} Additional classes to add to the parent container.
  - container_class: {string} Additional classes to add to the image container.
  - image_class: {string} Additional classes to add to the image itself.
  - ratio_class: {string} Classes to set the aspect ratio of the image.
  - crop_class: {string} Classes to set object sizing for the image.
  - enable_lazy_load: {boolean} Enable lazy loading for the image. Default is true.
  - enable_2x: {boolean} Whether to include 2x image for high-resolution displays. Default is false.
  - enable_scroll_motion: {boolean} Whether to enable scroll motion for the image. Default is true.

  Globals:
  - settings.enable_animations: {boolean} Determines if animations are enabled.
  - settings.enable_animated_images: {boolean} Determines if animated images are enabled.

  Usage:
    {% render 'component__image', 
      image: image,
      max_width: 900,
      background_class: 'color__bg-shade-2',
      parent_class: 'my-class',
      container_class: 'my-class',
      image_class: 'my-class',
      ratio_class: 'aspect-[1/1]',
      crop_class: 'object-cover',
      enable_lazy_load: true,
      enable_2x: true,
      enable_scroll_motion: block.settings.enable_scroll_motion
    %}
{% endcomment %}

{% liquid
  assign enable_scroll_motion = enable_scroll_motion | default: true 

  assign alt = image.alt | escape

  capture adjusted_image_class
    echo " animation-500 w-full h-full "
    echo image_class
    echo " "
    echo crop_class
    unless request.design_mode
      echo " js-image "
    endunless
  endcapture

  capture loading
    if enable_lazy_load
      echo " lazy"
    else
      echo " eager"
    endif
  endcapture
%}

<div 
  class="
    relative w-full h-full overflow-clip flex items-center justify-center
    {{ background_class }}
    {{ parent_class }}
    {% unless request.design_mode %}
      js-picture
    {% endunless %}
  ">
  <picture 
    class="
      w-full flex items-center justify-center overflow-clip
      {{ ratio_class }}
      {{ container_class }}
      {% if settings.enable_animations and enable_scroll_motion == true %}
        motion-safe:scroll-blurinzoom-2-20
      {% endif %}
    ">
    {{
      image
      | image_url: width: max_width
      | image_tag:
        alt: alt,
        class: adjusted_image_class,
        widths: '100,200,300,400,500,600,700,800,1000,1200,1400,1600,1800,5000',
        loading: loading,
        fetchpriority: priority,
        decoding: decoding
    }}
  </picture>
  {% if request.design_mode != true and settings.enable_animated_images %}
    <img 
      class="
        js-placeholder animation-1000 absolute inset-0 w-full h-full blur-lg
        {{ image_class }} 
        {{ crop_class }}
      "
      alt="
        {{ alt }}
      "
      width="5760"
      height="5760"
      loading="{{ loading }}"
      src="{{ image | image_url: width: 4 }}">
  {% endif %}
</div>