<!-- snippets/component__accordion.liquid -->
{% comment %} 
  This is a dropdown accordion that can be opened and closed. It is a reusable component that can be used in various parts of the Shopify theme.

  Accepts: 
  - container_class: {string} Classes to add to the container.
  - inner_class: {string} Classes for the inner container.
  - button_class: {string} Classes to add to the button.
  - button_label: {string} Text for the accordion button.
  - content: {string} Content to display.
  - is_button: {boolean} To set if the accordion should use button design
  - enable_open: {boolean} To show accordion open by default. Default is false.
  - enable_once: {boolean} To set if only one accordion can be open at a time.
  - index: {integer} To set the index of the accordion if used with 'enable_once'.

  Usage:
    {% render 'component__accordion',
      container_class: accordion_container_class,
      inner_class: accordion_inner_class,
      button_class: "px-4",
      button_label: link.title, 
      content: accordion_content,
      is_button: false,
      enable_open: true,
      enable_once: false,
      index: forloop.index0
    %}

  Recommendations:
  - Use this snippet to create a dropdown accordion in your Shopify theme.
  - You can customize the appearance of the accordion by passing different classes to the 'container_class', 'inner_class', and 'button_class' parameters.
  - You can control the initial state of the accordion (open or closed) by passing a boolean value to the 'open' parameter.
  - If you want to ensure that only one accordion can be open at a time, pass a true value to the 'enable_once' parameter.
{% endcomment %}

{% liquid 
  assign is_button = is_button | default: false 
%}

<div 
  class="
    {{ container_class }}
    {% unless is_button %} 
      border--b-width color__border-divider-1
    {% endunless %}
  "
  {% if enable_once %} 
    id="store-{{ index }}" 
  {% endif %} 
  x-data="{ 
    {% if enable_once %} 
      accordion: activeAccordion == {{ index }} ? true : false 
    {% else %} 
      accordion: {{ enable_open | default: false }}
    {% endif %}
  }">

  {% comment %} Button to open accordion {% endcomment %}
  <button 
    class="
      flex !items-start !w-full !justify-between 
      {{ button_class }}
      {% if is_button %} 
        btn !border-0
      {% else %}
        pb-4
      {% endif %}
    "
    type="button" 
    @click="
      {% if enable_once %} 
        if(activeAccordion == {{ index }}) { activeAccordion = 999 } else { activeAccordion = {{ index }} } 
      {% else %} 
        accordion = ! accordion
      {% endif %}">
    <span class="flex items-center text-left grow">
      {{ button_label }}
    </span>
    <div
      x-show="
        {% if enable_once %} 
          activeAccordion != {{ index }} 
        {% else %} 
          !accordion 
        {% endif %}">
      {% render 'component__icon', icon: 'plus', size: '16', class: '' %}
    </div>
    <div 
      x-show="
        {% if enable_once %} 
          activeAccordion == {{ index }} 
        {% else %} 
          accordion 
        {% endif %}" 
      x-cloak>
      {% render 'component__icon', icon: 'minus', size: '16', class: '' %}
    </div>
  </button>
  
  {% comment %} Accordion content {% endcomment %}
  <div
    class="
      {{ inner_class }}
      {% if is_button %} 
        mt-4 p-4 px-6  color__bg-shade-1 border--radius
      {% else %}
        pb-4
      {% endif %}
    "
    x-show="
      {% if enable_once %} 
        activeAccordion == {{ index }} 
      {% else %} 
        accordion 
      {% endif %}"
    {% if settings.enable_animations %}
      x-transition:enter="animation-100"
      x-transition:enter-start="opacity-0"
      x-transition:enter-end="opacity-100"
      x-transition:leave="animation-100"
      x-transition:leave-start="opacity-100"
      x-transition:leave-end="opacity-0"
    {% endif %}
    x-cloak>
    {{ content }}
  </div>

</div>
