<!-- snippets/component__collection-item.liquid -->
{% comment %} 
  Thumbnail of a collection. Featured image and collection title shown.
  
  Accepts:
  - collection: {Object} Liquid object for collection values.
  
  Globals:
  - collection_card_color_scheme: {string} Class string to set color.
  - collection_card_color_border: {string} Class string to set border color.
  - collection_card_border_style: {string} Set the border style (image, thumbnail).
  - collection_card_ratio: {string} Class string to set image ratio.
  - collection_cards_object: {string} Class string to set image crop.
  - collection_card_title_font: {string} Class string to set font family.
  - collection_card_title_capitlization: {string} Class string to capitilization
  - enable_animations: {boolean} Indicates if the animations should be used.

  Usage:
    {% render 'component__collection-item', 
      collection: block.settings.collection 
    %}

  Recommendations:
  - Use this snippet to display collection thumbnails in a grid.
{% endcomment %}

{% comment %} Set placeholder product if blank {% endcomment %}
{% if collection == null  %}
  {% for collection in collections limit:1 %}
    {% assign collection = collection %}
  {% endfor %}
{% endif %}

<div 
  class="
    group/collection relative w-full focus-within:border--focus 
    {% if settings.collection_card_border_style == 'thumbnail' %}
      border--radius overflow-clip
      {{ settings.collection_card_color_border }} 
      {{ settings.collection_card_color_scheme }} 
    {% endif %}
  ">

  {% comment %} Image + overlay {% endcomment %}
  <a 
    href="{{ collection.url }}"
    class="
      hover:opacity-100 relative block w-full
      {% if settings.collection_card_border_style == 'image' %}
        border--radius overflow-clip
        {{ settings.collection_card_color_border }} 
      {% endif %}
    ">
    
    {% comment %} Image {% endcomment %}
    <div 
      class="
        w-full
        {{ settings.collection_card_color_scheme }} 
      ">
      <div 
        class="
          overflow-clip
          {{ settings.collection_card_ratio }}
        ">
        {% unless collection.featured_image == blank %}
          {% capture aspect_ratio %}
            {{ settings.collection_card_ratio }}
          {% endcapture %}
          {% capture crop %}
            {% if settings.collection_card_crop == "cover" %}
              object-cover
            {% else %}
              object-contain
            {% endif %}
          {% endcapture %}
          {% render 'component__image', 
            image: collection.featured_image,
            max_width: 1600,
            background_class: 'color__bg-shade-2',
            image_class: 'w-full h-full',
            ratio_class: aspect_ratio,
            crop_class: crop,
            enable_lazy_load: true,
            enable_2x: true
          %}
        {% endunless %}
      </div>
    </div>

    {% comment %} Overlay {% endcomment %}
    {% if settings.collection_card_enable_size or settings.collection_card_enable_description %}
      <div 
        class="
          group-hover/collection:opacity-100 animation-300 absolute top-0 bottom-0 w-full p-4 opacity-0
          {{ settings.collection_card_overlay_text }}
        "
        style="
          background: {{ settings.collection_card_color_overlay }};
        ">
        {% if settings.collection_card_enable_size %}
          <p class="mb-0 mb-4 uppercase opacity-50 type--smaller">
            {{ collection.products_count }} {{ 'labels.items' | t | downcase }}
          </p>
        {% endif %}
        {% if settings.collection_card_enable_description %}
          <p class="mb-0">
            {{ collection.description | truncate: 256 | strip_html | strip }}
          </p>
        {% endif %}
      </div>
    {% endif %}
    
  </a>

  {% comment %} Content {% endcomment %}
  <a 
    href="{{ collection.url }}" 
    class="
      hover:no-underline block no-underline whitespace-normal py-4
      {{ settings.collection_card_alignment }}
      {% if settings.collection_card_border_style == "thumbnail" %}
        px-4
      {% endif %}
    "
    tabindex="-1">
    <h3 
      class="
        {{ settings.collection_card_title_capitlization }}
        {{ settings.collection_card_title_font }}
      ">
      {{ collection.title }}
    </h3>
  </a>

</div>