<!-- snippets/component__product-stack.liquid -->
{% comment %} 
  This file is a component for displaying an upsell item in a vertical stack. It is primarily used for cart upsells to increase the Average Order Value (AOV) by highlighting products that are an easy upsell.

  Accepts:
  - product: {Object} The liquid product object that needs to be displayed as an upsell item.
  
  Globals:
  - product_card_enable_tagline: {boolean} Display a short description.

  Usage:
    {% render 'component__product-stack', 
      product: product
    %}

  Recommendations:
  - This component is best used to display products that are likely to be added to the cart along with the current product. It is recommended to use this for products that are an easy upsell to increase the AOV.
{% endcomment %}

<div 
  class="
    group border--radius upsell relative flex justify-center flex-none overflow-hidden whitespace-normal w-full
    {{ settings.product_card_color_border }}
  "
  x-show="{{ product.available }}"
  x-data="{ 
    button_loading: false
  }">

  {% comment %} Content {% endcomment %}
  <div 
    class="
      flex items-start w-full
      {{ settings.product_card_color_scheme }} 
    ">

    {% comment %} Image {% endcomment %}
    <div 
      class="w-[25%] h-full flex-none overflow-hidden flex justify-center">
      <a 
        class="object-cover flex items-center aspect-[1/1] h-full w-full color__bg-shade-2 hover:opacity-100"
        href="{{ product.url }}">
        {% render 'component__image', 
          image: product.featured_image,
          max_width: 200,
          background_class: 'color__bg-shade-2',
          container_class: 'h-full',
          ratio_class: 'aspect-[1/1]',
          crop_class: 'object-cover',
          enable_lazy_load: true,
          enable_2x: true
        %}
      </a>
    </div>

    {% comment %} Content {% endcomment %}
    <div 
      class="flex items-start justify-between flex-grow w-full h-full gap-4 p-4 text-left">

        {% comment %} Title and price {% endcomment %}
        <div>
          <h3 
            class="type__body type--base">
            {{ product.title }}
          </h3>
          {% if settings.product_card_show_prices %}
            <span>
              {% render 'component__format-price', price: product.price %}
            </span>
          {% endif %}
        </div>
        
        {% comment %} Quick add {% endcomment %}
        <div 
          class="flex gap-1">
          <div>
            <form 
              class="flex flex-wrap" 
              action="/cart/add" 
              method="post" 
              enctype="multipart/form-data"
              x-data="{
                current_variant_id: {{ product.variants[0].id | default: 0 }},
                current_variant_selling_plan_id: 0,
                quantity: 1,
              }"
              @submit.prevent="
                button_loading = true;               
                addCartItem(current_variant_id, current_variant_selling_plan_id, quantity, false); 
                setTimeout(function(){ button_loading = false}, 500);
              ">
          
              {% comment %} Add to cart {% endcomment %}
              {% if product.has_only_default_variant and product.selected_or_first_available_selling_plan_allocation == nil %}
                <input 
                  name="id" 
                  type="hidden"
                  :value="current_variant_id">
                <label 
                  class="sr-only"
                  for="quantity_c_upsell_grid_item_{{ product.variants[0].id }}-{{ section.id }}">
                  {{ 'labels.quantity' | t }}
                </label>
                <input 
                  id="quantity_c_upsell_grid_item_{{ product.variants[0].id }}-{{ section.id }}"
                  name="quantity" 
                  type="hidden" 
                  value="1" 
                  min="1"
                  max="" 
                  x-model="quantity">
                <button 
                  class="btn btn--secondary btn--smaller "
                  :class="{
                    'animate-pulse': button_loading
                  }"
                  type="submit" 
                  role="button">
                  <div 
                    class="btn__content">
                    {{ 'actions.add' | t }}
                  </div>
                </button>

              {% comment %} Open quick add overlay {% endcomment %}
              {% else %}
                <button 
                  class="btn btn--secondary btn--smaller" 
                  :class="{
                    'animate-pulse': button_loading
                  }"
                  type="button" 
                  role="button"
                  @click="
                    button_loading = true; 
                    fetchAndRenderQuickAdd('{{ product.handle }}');
                    setTimeout(function(){ button_loading = false}, 500);
                  ">
                  <div 
                    class="btn__content">
                    {{ 'actions.add' | t }}
                  </div>
                </button>
              {% endif %}

            </form>
          </div>
        </div>
        
    </div>
  
  </div>


</div>