{% comment %}
  This file is a Shopify Liquid snippet for rendering a 3D model viewer with zoom and view-in-space functionalities. It is designed to enhance product pages by allowing users to interact with 3D models of products.

  Accepts:
  - media: {Object} Liquid object containing video details like host platform and other attributes.
  - ratio_class: {string} CSS class to control the aspect ratio of the video container.
  - model_viewer_id: {string} Unique identifier for the model viewer.

  Usage:
    {% render 'gallery__model', 
      media: product.media.first,
      ratio_class: 'aspect-ratio-16-9',
      model_viewer_id: 'model-viewer'
    %}

  Recommendations:
  - Utilize this snippet in product detail pages to provide an interactive 3D view of products.
  - Ensure that the 'model_viewer_id' is unique per instance to avoid conflicts in the DOM.
{% endcomment %}

{% liquid
  assign model_viewer_id = model_viewer_id | handle
%}

<div
  class="w-full h-full group/model"
  x-data="{ 
    modelViewer: null,
    init() {
      this.modelViewer = document.getElementById('{{ model_viewer_id }}');
    }
  }"
  x-init="init()">

  {% comment %} Model viewer {% endcomment %}
  <div 
    class="
      overflow-hidden object-cover h-full
      {{ ratio_class }}
    ">
    <div class="flex items-center h-full">
      {{ media | model_viewer_tag: 
        id: model_viewer_id,
        class: 'w-full h-full'
      }}
    </div>
  </div>

  {% comment %} Zoom controls {% endcomment %}
  <div class="absolute z-20 flex flex-col p-2 md:opacity-0 top-2 right-2 bg-black/20 border--radius group-hover/model:opacity-100 animation-300">
    <button 
      class="flex items-center justify-center w-full p-2 overflow-hidden pointer-events-auto hover:bg-black/30 color__light border--radius"
      title="{{ 'actions.zoom_in' | t }}"
      type="button"
      @click="modelViewer.zoom(4.0);">
      {% render 'component__icon', icon: 'plus', size: '16', class: '' %}
    </button>
    <button 
      class="flex items-center justify-center w-full p-2 overflow-hidden pointer-events-auto hover:bg-black/30 color__light border--radius"
      title="{{ 'actions.zoom_out' | t }}"
      type="button"
      @click="modelViewer.zoom(-4.0);">
      {% render 'component__icon', icon: 'minus', size: '16', class: '' %}
    </button>
  </div>

  {% comment %} View in space {% endcomment %}
  <div class="absolute left-auto right-auto z-10 w-full md:hidden bottom-4 padding--b-gap">
    <button
      class="btn btn--small btn--secondary"
      data-shopify-xr
      data-shopify-model3d-id="{{ media.id }}"
      data-shopify-title="{{ product.title | escape }}"
      data-shopify-xr-hidden>
      {{ 'actions.view_in_space' | t }}
    </button>
  </div>

  {% comment %} Badge {% endcomment %}
  <div class="absolute z-10 pointer-events-none top-2 left-2">
    {% capture badge_content %}
      {% render 'component__icon', icon: 'box', size: '16' %}
    {% endcapture %}
    {% render 'component__badge', 
      background: 'shade-3',
      text: 'text',
      border: 'transparent',
      icon: '',
      content: badge_content 
    %}
  </div>

</div>