<!-- snippets/product__text.liquid -->
{% comment %} 
  Block for displaying rich text content.

  Accepts:
  - blocksettings: {object}: A liquid object of block settings.
      
  Usage:
    {% render 'product__text', 
      block: block 
    %}

  Recommendations:
  - Use metafields to display dynamic product content.
{% endcomment %}

<div 
  id="product-text"
  class="
    px-4 w-full
    {{ block.settings.color_scheme }}
    {{ block.settings.color_border }}
    {{ block.settings.style_border }}
    {% if block.settings.layout_x_alignment == 'left' %}
      text-left
    {% elsif block.settings.layout_x_alignment == 'center' %}
      text-center
    {% elsif block.settings.layout_x_alignment == 'right' %}
      text-right
    {% elsif block.settings.layout_x_alignment == 'justify' %}
      text-justify
    {% endif %}
  "
  style="
    padding-top:{{ block.settings.spacing_top }}px;
    padding-bottom:{{ block.settings.spacing_bottom }}px;
  ">
  <div class="block">
    {{ block.settings.content }}
  </div>
</div>