<!-- snippets/product__title.liquid -->
{% comment %} 
  This snippet is responsible for displaying the product title along with optional rich text content. It can be used within a section or a product template.

  Accepts:
  - blocksettings: {object}: A liquid object of block settings.
  - is_featured: {boolean} Set to true if block is used within a section rather than product template. This will assign product object from section settings.

  Usage:
    {% render 'product__title', 
      block: block, 
      is_featured: true 
    %}

  Globals:
  - type_seperator: {string}: This setting allows you to choose the type of separator between text.

  Recommendations:
  - Use metafields to display dynamic product content in the rich text field.
  - Consider adding an option to set the product title font size. Longer product titles may need to be smaller to fit properly.
{% endcomment %}

{% if is_featured %}

  {% comment %} Set product based on section settings {% endcomment %}
  {% assign product = section.settings.product %}

  {% comment %} Set placeholder product if blank {% endcomment %}
  {% if request.design_mode and product == null  %}
    {% for product in collections['all'].products limit:1 %}
      {% assign product = product %}
    {% endfor %}
  {% endif %}

{% endif %}

{% comment %} Capture badge content {% endcomment %}
{% liquid
  capture badge_snippet

    if block.settings.savings_badge != "none"
      if product.price < product.compare_at_price
        if block.settings.savings_badge == "percent"
          capture badge_content
          echo discount_percentage
          endcapture
          capture a
          echo product.compare_at_price | minus: product.price
          endcapture
          capture b
          echo a | times: 100
          endcapture 
          capture discount_percentage
          echo b | divided_by: product.compare_at_price | round
          endcapture 
          capture badge_content
          echo 'labels.save' | t
          echo ' '
          echo discount_percentage | strip | append: '%'
          endcapture
        else
          capture discount_amount
            echo product.compare_at_price | minus: product.price
          endcapture
          capture badge_content
            echo 'labels.save' | t
            render 'component__format-price', price: discount_amount
          endcapture
        endif
        render 'component__badge', background: 'overlay-1', text: 'text', border: 'transparent', content: badge_content 
      endif
    endif

    if product.metafields.reviews.rating.value != blank
      capture badge_content
        assign rating = product.metafields.reviews.rating.value | strip
        echo rating | times: 1 | round: 2
          render 'component__icon', icon: 'star-fill', size: '12', class: 'ml-1' 
      endcapture
      render 'component__badge', background: 'overlay-1', text: 'text', border: 'transparent', content: badge_content
    endif

    for tag in product.tags
      if tag contains "badge_"
        capture badge_content
        echo tag | remove: "badge_"
        endcapture
        render 'component__badge', background: 'overlay-1', text: 'text', border: 'transparent', content: badge_content 
      endif
    endfor

    assign metafield = product.metafields.custom.badge
    if metafield
      capture badge_content
        echo metafield
      endcapture
      render 'component__badge', background: 'overlay-1', text: 'text', border: 'transparent', content: badge_content 
    endif

  endcapture
%}

<div 
  id="product-title"
  class="
    px-4 flex flex-col gap-2
    {{ block.settings.color_scheme }}
    {{ block.settings.color_border }}
    {{ block.settings.style_border }}
  "
  style="
    padding-top:{{ block.settings.spacing_top }}px;
    padding-bottom:{{ block.settings.spacing_bottom }}px;
  ">

  {% comment %} Title {% endcomment %}
  <h1 class="type__heading">
    {{ product.title }}
  </h1>

  {% comment %} Product details - type, vendor, sku {% endcomment %}
  {% if block.settings.enable_type or block.settings.enable_vendor or block.settings.enable_sku %}
    <ul class="p-0">
      {% if block.settings.enable_type %}
        <span class="type--small inline-block last:after:hidden
          {% if settings.type_seperator == 'dot' %} after:content-['\00B7'] {% else %} after:content-['\007C'] {% endif %}">
          {{ product.type }}
        </span>
      {% endif %}
      {% if block.settings.enable_vendor %}
        <span class="type--small inline-block last:after:hidden
          {% if settings.type_seperator == 'dot' %} after:content-['\00B7'] {% else %} after:content-['\007C'] {% endif %}">
          {{ product.vendor }}
        </span>
      {% endif %}
      {% if block.settings.enable_sku %}
        <span class="type--small inline-block last:after:hidden
          {% if settings.type_seperator == 'dot' %} after:content-['\00B7'] {% else %} after:content-['\007C'] {% endif %}">
          <span x-text="current_variant_sku"></span>
        </span>
      {% endif %}
    </ul>
  {% endif %}

  {% comment %} Optional text {% endcomment %}
  {% unless block.settings.content == blank %}
    <div class="block">
      {{ block.settings.content }}
    </div>
  {% endunless %}

  {% comment %} Badges {% endcomment %}
  {% if block.settings.enable_badges %}
    {% unless badge_snippet == blank %}
      <div class="flex flex-wrap w-full gap-2 whitespace-normal">
        {{ badge_snippet }}
      </div>
    {% endunless %}
  {% endif %}

</div>