{% comment %}
  Renders a form for gift card recipients. This form includes fields for the recipient's email, name, and a message.

  Usage:
    {% render 'product__gift-form' %}

  Recommendations:
  - Use this snippet when you need to collect information about the gift card recipient.
{% endcomment %}
  
{%- assign gift_card_recipient_control_flag = 'properties[__shopify_send_gift_card_to_recipient]' -%}

<div 
  id="product-gift-form"
  class="flex flex-col gap-4 px-4 mb-4" 
  x-data="{ 
    show_form: false 
  }">

  <div class="flex items-center">
    <input 
      id="recipient-checkbox-{{ section.id }}" 
      class="mr-2" 
      type="checkbox" 
      name="{{ gift_card_recipient_control_flag }}"
      @change="show_form = !show_form"/>
    <label 
      for="recipient-checkbox-{{ section.id }}">
      {{ 'actions.send_as_gift' | t }}
    </label>
  </div>

  <template x-if="show_form">
    <div 
      class="flex flex-col gap-4">
      <div>
        <label 
          class="flex mb-2 opacity-75 type--smaller"
          for="recipient-email-{{ section.id }}">
          {{ 'labels.recipient_email' | t }} *
        </label>
        <input 
          id="recipient-email-{{ section.id }}" 
          type="email" 
          name="properties[Recipient email]"
          required>
      </div>
    
      <div>
        <label 
          class="flex mb-2 opacity-75 type--smaller"
          for="recipient-name-{{ section.id }}">
          {{ 'labels.recipient_name_optional' | t }} *
        </label>
        <input 
          id="recipient-name-{{ section.id }}" 
          type="text" 
          name="properties[Recipient name]">
      </div>
    
      <div class="flex flex-col">
        <label 
          class="flex mb-2 opacity-75 type--smaller"
          for="recipient-message-{{ section.id }}">
          {{ 'labels.message' | t }}
        </label>
        <textarea 
          id="recipient-message-{{ section.id }}"
          name="properties[Message]">
        </textarea>
      </div>

      <div class="flex flex-col">
        <label 
          class="flex mb-2 opacity-75 type--smaller"
          for="recipient-send-on-{{ section.id }}">
          {{ 'labels.recipient_send_on' | t }}
        </label>
        <input
          class="text-body"
          autocomplete="send_on"
          type="date"
          id="recipient-send-on-{{ section.id }}"
          name="properties[Send on]"
          pattern="\d{4}-\d{2}-\d{2}"
          value="{{ form.send_on }}"
          {% if form.errors contains 'send_on' %}
            aria-invalid="true"
            aria-describedby="RecipientForm-send_on-error-{{ section.id }}"
          {% endif %}>
      </div>
      
    </div>
  </template>
 
</div>