<!-- snippets/product__drawer-button.liquid -->
{% comment %} 
  Block to display a link to open a customizeable drawer drawer.

  Accepts:
  - blocksettings: {object} Liquid object of block settings.
  
  Globals:
  - close_button_color: {string} Class string to set close button color.
  - close_button_content: {string} Content of the close button.

  Usage:
    {% render 'product__drawer-button', 
      block: block 
    %}
      
  Possible enhancements:
  - Add option to set overlay style to drawer or drawer. 

  Recommendations:
  - This can be used to display a variety of content on product pages in collapsable pannels. For example this block can be used to display a sizing guide page in a drawer. 
{% endcomment %}

{% if block.settings.option == blank %}
  <div 
    id="product-drawer"
    class="
      px-4
      {{ block.settings.color_scheme }}
      {{ block.settings.color_border }}
      {{ block.settings.style_border }}
    "
    style="
      padding-top:{{ block.settings.spacing_top }}px;
      padding-bottom:{{ block.settings.spacing_bottom }}px;
    ">

    {% comment %} Button {% endcomment %}
    <button 
      class="underline"
      type="button"  
      @click="
        drawer_{{ block.id }} = true; 
        has_overlay = true;
      ">
      {{ block.settings.title }}
    </button>

  </div>
{% endif %}