<!-- snippets/product__linked-products.liquid -->
{% comment %} 
  Block to display a swatch of linked products.

  Accepts:
  - blocksettings: {object} Liquid object of block settings.
  
  Usage:
    {% render 'product__linked-products', 
      block: block
     %}

  Pro tips:
    - 
{% endcomment %}

<div 
  id="product-linked-products"
  class="
    px-4
    {{ block.settings.color_scheme }}
    {{ block.settings.color_border }}
    {{ block.settings.style_border }}
  "
  style="
    padding-top:{{ block.settings.spacing_top }}px;
    padding-bottom:{{ block.settings.spacing_bottom }}px;
  ">
  {% if block.settings.linked_products_title != empty %}
    <p class="flex mb-0 opacity-75 type--smaller">{{ block.settings.linked_products_title }}</p>
  {% endif %}
  <div class="inline-flex w-full gap-2 py-2 overflow-x-auto overflow-y-hidden whitespace-nowrap md:snap-x scroll-smooth hidescrollbar">
    {% for linked_product in product.metafields.custom.linked_collection.value.products %}
      <button 
        class="
          btn btn--plain btn--small bg-center !w-16 !h-16 !min-w-[64px] !min-h-[64px] bg-contain focus:border--focus--inset
        "
        :class="{ 
          'btn--plain border--focus--inset' : '{{ product.handle }}' == '{{ linked_product.handle }}',
          'btn--plain' : '{{ product.handle }}' != '{{ linked_product.handle }}',
        }"
        style="background-image: url('{{ linked_product.featured_image | image_url: width: 128 }}');"
        aria-label="{{ value }}" 
        type="button" 
        @click="window.location.href = '{{ linked_product.url }}'">
      </button>
    {% endfor %}
  </div>
</div>
