<!-- snippets/product__breadcrumb.liquid -->
{% comment %} 
  Breadcrumb block to display product categorization.
  
  Accepts:
  - blocksettings: {object} Liquid object of block settings.
  - is_featured: {boolean} Set to true if block is used within a section rather than product template. This will assign product object from section settings.

  Usage:
    {% render 'product__breadcrumb', 
      block: block, 
      is_featured: true, 
    %}
  
  Recommendations:
  - Use this snippet to display the breadcrumb navigation on product pages.
  - It is recommended to include a nesting container within the snippet for better control over the layout.
{% endcomment %}

{% if is_featured %}

  {% comment %} Set product based on section settings {% endcomment %}
  {% assign product = section.settings.product %}

  {% comment %} Set placeholder product if blank {% endcomment %}
  {% if request.design_mode and product == null  %}
    {% for product in collections['all'].products limit:1 %}
      {% assign product = product %}
    {% endfor %}
  {% endif %}

{% endif %}

<nav 
  id="product-breadcrumb"
  class="
    px-4 type--smaller
    {{ block.settings.color_scheme }}
    {{ block.settings.color_border }}
    {{ block.settings.style_border }}
  "
  style="
    padding-top:{{ block.settings.spacing_top }}px;
    padding-bottom:{{ block.settings.spacing_bottom }}px;
  "
  role="navigation" 
  aria-label="breadcrumbs">

  <a 
    href="{{ routes.root_url }}"
    title="{{ 'labels.home' | t }}">{{ 'labels.home' | t }}</a>
  
  {% if collection.url %}
    <span aria-hidden="true">/</span>
    {{ collection.title | link_to: collection.url }}
  {% endif %}

  <span aria-hidden="true">/</span>
  <span>{{ product.title }}</span>

</nav>