<!-- snippets/product__gallery-thumbnail-slider.liquid -->
{% comment %} 
  Block to display product photos in a slider with thumbnails.

  Accepts:
  - is_featured: {boolean} Assigns product object from section settings. Set this to true if block is used within a section rather than product template.
  
  Globals:
  - layout_gap_size: {integer} Sets the gap size in the grid layout.

  Usage:
    {% render 'product__gallery-grid', 
      is_featured: true 
    %}

  Possible enhancements:
  - Add global setting to set grid gap width and apply to entire theme.
  - Move position of indicators to avoid overlap of alt text.
{% endcomment %}

{% liquid
  assign has_3d = product.media | where: "media_type", "model" | first

  capture model_viewer_id
    echo section.id
    echo '-model-viewer'
  endcapture

  if is_featured
    assign product = section.settings.product
    if request.design_mode and product == null
      for product in collections['all'].products limit:1
        assign product = product
      endfor
    endif
  endif

  if section.settings.media_object_sizing == "cover"
    capture crop_class
      echo "object-cover"
    endcapture
  else
    capture crop_class
      echo "object-contain"
    endcapture
  endif

  if section.settings.enable_ratio
    capture ratio_class
      echo section.settings.media_ratio
    endcapture
  endif

  if is_overlay
    capture ratio_class
      echo "aspect-[1/1]"
    endcapture
    capture crop_class
      echo "object-cover"
    endcapture
  endif
%}

<div class="w-full group">
  <div 
    class="flex flex-wrap h-full md:flex-nowrap padding--gap"
    style="
      {% unless settings.gap_size == 1 %}
        gap: {{ settings.gap_size }}px;
      {% endunless %}
    "
    x-data="{
      slider_height: 0
    }">

    {% comment %} Thumbnails - desktop only {% endcomment %}
    <div 
      class="
        hidden md:flex flex-col basis-[10%] max-h-[200px] overflow-x-hidden overflow-y-auto
        js-thumbnailSlider
      "
      style="
        gap: {{ settings.gap_size }}px;
        padding-left: {{ settings.border_element_width }}px;
        padding-right: {{ settings.border_element_width }}px;
        {% if settings.gap_size > 1 %}
          padding: {{ settings.border_element_width }}px;
        {% endif %}
      "
      :style="{ 
        maxHeight: slider_height + 'px',
      }">
      {% capture media_group %}{% endcapture %}
      {% for media in product.media %}
        {% for variant in product.variants %}
          {% if media.src == variant.featured_image %}
            {% capture media_group %}
              {{ variant.featured_image.id }}
            {% endcapture %}
          {% endif %}
        {% endfor %}
        <div 
          class="
            relative md:snap-center flex-none hover:cursor-pointer w-full border--radius overflow-hidden animation-300
            {{ section.settings.media_border }}
            {{ media | handle }}
          "
          @click="
            galleryScrollToIndex({{ forloop.index0 }});
          "
          {% if media.media_type == 'image' and section.settings.enable_variant_images %}
            x-show="current_variant_featured_image_id == {{ media_group }}"
          {% endif %}>

          {% comment %} Badges {% endcomment %}
          {% if media.media_type == 'model' %}
            <div class="absolute z-10 pointer-events-none top-2 left-2">
              {% capture badge_content %}
                {% render 'component__icon', icon: 'box', size: '14' %}
              {% endcapture %}
              {% render 'component__badge', 
                background: 'shade-3',
                text: 'text',
                border: 'transparent',
                icon: '',
                content: badge_content 
              %}
            </div>
          {% endif %}
          {% if media.media_type == 'external_video' or media.media_type == 'video' %}
            <div class="absolute z-10 pointer-events-none top-2 left-2">
              {% capture badge_content %}
                {% render 'component__icon', icon: 'play', size: '14' %}
              {% endcapture %}
              {% render 'component__badge', 
                background: 'shade-3',
                text: 'text',
                border: 'transparent',
                icon: '',
                content: badge_content 
              %}
            </div>
          {% endif %}

          {% comment %} Image {% endcomment %}
          {% render 'component__image', 
            image: media,
            max_width: 200,
            background_class: '!bg-transparent',
            ratio_class: 'aspect-[1/1]',
            crop_class: 'object-cover',
            enable_lazy_load: true,
            enable_2x: true
          %}
        </div>
      {% endfor %}
    </div>

    {% comment %} Main images {% endcomment %}
    <div 
      class="
        relative flex w-full md:basis-[90%]
      "
      x-ref="gallery_slider"
      x-init="
        slider_height = $refs.gallery_slider.offsetHeight;
      ">

      {% comment %} Arrows {% endcomment %}
      {% if product.media.size > 1 %}
        <div 
          class="absolute left-0 z-10 justify-start hidden h-full -translate-y-1/2 opacity-0 pointer-events-auto md:flex top-1/2 group-hover:opacity-100 animation-300 mix-blend-difference">
          <button 
            class="h-full !color__bg-transparent px-6 !border-0 !cursor-w-resize !rounded-none"
            title="{{ 'actions.previous' | t }}"
            type="button"
            {% if settings.enable_animations %}
              x-transition:enter="animation-300"
              x-transition:enter-start="opacity-0"
              x-transition:enter-end="opacity-100"
              x-transition:leave="animation-300"
              x-transition:leave-start="opacity-100"
              x-transition:leave-end="opacity-0"
            {% endif %}
            x-cloak
            @click="galleryScrollBack();">
            <span 
              class="btn btn--smaller btn--outline-alt !p-0 !border-0 !cursor-w-resize">
              {% render 'component__icon', icon: 'chevron-left', size: '20', class: '' %}
            </span>
          </button>
        </div>
        <div 
          class="absolute right-0 z-10 justify-end hidden h-full -translate-y-1/2 opacity-0 pointer-events-auto top-1/2 group-hover:opacity-100 animation-300 md:flex mix-blend-difference">
          <button 
            class="h-full !color__bg-transparent px-6 !cursor-e-resize !rounded-none"
            type="button"
            title="{{ 'actions.next' | t }}"
            {% if settings.enable_animations %}
              x-transition:enter="animation-300"
              x-transition:enter-start="opacity-0"
              x-transition:enter-end="opacity-100"
              x-transition:leave="animation-300"
              x-transition:leave-start="opacity-100"
              x-transition:leave-end="opacity-0"
            {% endif %}
            x-cloak
            @click="galleryScrollNext();">
            <span 
              class="btn btn--smaller btn--outline-alt !p-0 !border-0 !cursor-e-resize">
              {% render 'component__icon', icon: 'chevron-right', size: '20', class: '' %}
            </span>
          </button>
        </div>
      {% endif %}
      
      {% comment %} Slides {% endcomment %}
      <div 
        class="inline-flex w-full overflow-x-auto overflow-y-hidden text-center scroll-smooth whitespace-nowrap md:snap-x md:snap-mandatory hidescrollbar js-slider"
        style="
          padding-left: {{ settings.border_element_width }}px;
          padding-right: {{ settings.border_element_width }}px;
          gap: {{ settings.gap_size }}px;
          {% if settings.gap_size > 1 %}
            padding: {{ settings.border_element_width }}px;
          {% endif %}
        "
        x-ref="slider">
        {% capture media_group %}{% endcapture %}
        {% for media in product.media %}

          {% for variant in product.variants %}
            {% if media.src == variant.featured_image.src %}
              {% capture media_group %}
                {{ variant.featured_image.id }}
              {% endcapture %}
            {% endif %}
          {% endfor %}
          <div 
            class="
              relative md:snap-center flex-none border--radius overflow-hidden flex items-center
              js-{{ media.id }}
              {% if settings.enable_animations %}
                motion-safe:scroll-fadeinhalf-inline-2-20
              {% endif %}
              {{ section.settings.media_color_scheme }}
              {{ section.settings.media_border }}
              {% if is_overlay %}
                w-2/5
              {% else %}
                {% if product.media.size > 1 %}
                  w-4/5 md:w-[{{ section.settings.media_slider_size }}%] 
                {% else %} 
                  w-full
                {% endif %}
              {% endif %}
            "
            x-bind:data-slide="{{ forloop.index0 }}"
            x-intersect:enter.half="gallery_index = {{ forloop.index0 }};"
            {% if section.settings.enable_variant_images and media.media_type == 'image' %}
              x-show="current_variant_featured_image_id == {{ media_group }}"
            {% endif %}>
            {% case media.media_type %}

              {% when 'image' %}
                {% render 'gallery__image',
                  media: media,
                  ratio_class: ratio_class,
                  crop_class: crop_class,
                  enable_zoom: section.settings.enable_zoom,
                  enable_alt: section.settings.enable_alt,
                  index: forloop.index0
                %}

              {% when 'video' %}
                {% render 'gallery__video',
                  media: media,
                  ratio_class: ratio_class,
                  crop_class: crop_class
                %}

              {% when 'external_video' %}
                {% render 'gallery__external_video',
                  media: media,
                  ratio_class: ratio_class,
                  crop_class: crop_class
                %}

              {% when 'model' %}
                {% render 'gallery__model',
                  media: media,
                  ratio_class: ratio_class,
                  model_viewer_id: model_viewer_id
                %}
                
            {% endcase %}
          </div>

        {% endfor %}
      </div>

      {% comment %} Indicators {% endcomment %}
      {% if product.media.size > 1 %}
        <div 
          class="absolute bottom-0 left-0 right-0 flex flex-wrap items-center justify-center gap-2 px-2 text-center md:hidden mix-blend-difference padding--b-gap">
          {% capture media_group %}
            -
          {% endcapture %}
          {% for media in product.media %}
            {% for variant in product.variants %}
              {% if media.src == variant.featured_image %}
                {% capture media_group %}
                  {{ variant.featured_image.id }}
                {% endcapture %}
              {% endif %}
            {% endfor %}
            <button 
              class="w-2 h-1 bg-white opacity-25 animation-300--all border--radius !shadow-none" 
              type="button"
              :class="{ 
                '!opacity-100 !w-3': gallery_index === {{ forloop.index0 }} 
              }"
              aria-label="gallery_grid_button_{{ forloop.index0 }}" 
              @click="
                galleryScrollToIndex({{ forloop.index0 }});
              "
              {% if media.media_type == 'image' and section.settings.enable_variant_images %}
                x-show="current_variant_featured_image_id == {{ media_group }}"
              {% endif %}>
            </button>
          {% endfor %}
        </div>
      {% endif %}
        
    </div>
  
    {% comment %} Thumbnails - mobile only {% endcomment %}
    <div 
      class="flex h-full overflow-x-auto md:hidden hidescrollbar"
      style="
        gap: {{ settings.gap_size }}px;
        padding: {{ settings.border_element_width }}px;
      ">
      {% capture media_group %}{% endcapture %}
      {% for media in product.media %}
        {% for variant in product.variants %}
          {% if media.src == variant.featured_image.src %}
            {% capture media_group %}
              {{ variant.featured_image.id }}
            {% endcapture %}
          {% endif %}
        {% endfor %}
        <div 
          class="relative md:snap-center flex-none w-16 border--radius overflow-hidden opacity-50 animation-300 
          {{ media | handle }}
          {{ section.settings.media_border }}"
          :class="{ 
            '!opacity-100': gallery_index === {{ forloop.index0 }} 
          }"
          x-bind:data-slide="{{ forloop.index0 }}"
          @click="
            galleryScrollToIndex({{ forloop.index0 }});
          "
          {% if section.settings.enable_variant_images %}
            x-show="current_variant_featured_image_id == {{ media_group }}"
          {% endif %}>

          {% comment %} Badges {% endcomment %}
          {% if media.media_type == 'model' %}
            <div class="absolute top-0 left-0 z-10 flex pointer-events-none">
              {% capture badge_content %}
                {% render 'component__icon', icon: 'box', size: '10' %}
              {% endcapture %}
              {% render 'component__badge', 
                background: 'shade-3',
                text: 'text',
                border: 'transparent',
                icon: '',
                content: badge_content 
              %}
            </div>
          {% endif %}
          {% if media.media_type == 'external_video' or media.media_type == 'video' %}
            <div class="absolute top-0 left-0 z-10 flex pointer-events-none">
              {% capture badge_content %}
                {% render 'component__icon', icon: 'play', size: '10' %}
              {% endcapture %}
              {% render 'component__badge', 
                background: 'shade-3',
                text: 'text',
                border: 'transparent',
                icon: '',
                content: badge_content 
              %}
            </div>
          {% endif %}

          {% comment %} Images {% endcomment %}
          {% render 'component__image', 
            image: media,
            max_width: 200,
            background_class: '!bg-transparent',
            ratio_class: 'aspect-[1/1]',
            crop_class: 'object-cover',
            enable_lazy_load: true,
            enable_2x: true
          %}
          
        </div>
      {% endfor %}
    </div>

  </div>
</div>
  
{% comment %} Load 3d viewer {% endcomment %}
{% if has_3d %}
  <script 
    id="ProductJSON-{{ product.id }}"
    type="application/json">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>
  <script type="module">
    function setupShopifyXr(){
      if (!window.ShopifyXR) {
        document.addEventListener('shopify_xr_initialized', function() {
          setupShopifyXr();
        });
      }else{
        window.ShopifyXR.addModels();
        window.ShopifyXR.setupXRElements();
      }
    }
  
    window.Shopify.loadFeatures([
      {
        name: 'shopify-xr',
        version: '1.0',
        onLoad: setupShopifyXr
      }
    ]);
  </script>
{% endif %}

  
