<!-- snippets/product__liquid.liquid -->
{% comment %} 
  Block to include custom liquid code.
  
  Accepts:
  - blocksettings: {object} Liquid object of block settings.
  
  Usage:
    {% render 'product__liquid', 
      block: block 
    %}

  Recommendations:
  - Use this for custom code or app integrations.
  - Ensure the custom liquid code is valid and does not break the theme.
{% endcomment %}

<div 
  id="product-liquid"
  class="
    px-4 w-full
    {{ block.settings.color_scheme }}
    {{ block.settings.color_border }}
    {{ block.settings.style_border }}
  "
  style="
    padding-top:{{ block.settings.spacing_top }}px;
    padding-bottom:{{ block.settings.spacing_bottom }}px;
  ">
  {{ block.settings.liquid }}
</div>