{% comment %} 
  This script is responsible for handling product specific JavaScript in the Shopify theme. It pulls in variables and settings from liquid.
  
  Accepts:
  - gallery_style: {string} Sets the gallery style for the product section.
  - is_featured: {boolean} Assigns product object from section settings. Set this to true if block is used within a section rather than product template.
  - enable_default_selling_plan_widget 
  - enable_default_variant 

  Globals:
  - type_seperator: {Object} Global settings object from Shopify. This object is used to determine the type of separator to use in the product display.

  Usage:
    {% capture script_product %}
      {% render 'script__product',
        gallery_style: section.settings.media_gallery_style
        is_product_template: is_product_template
        enable_default_selling_plan_widget: true,
        enable_default_variant: true,
      %}
    {% endcapture %}
    <div 
      class="h-full"
      x-data="{{ script_product }}"
      x-init="initProductForm();"
      x-ref="formContainer">
      ...form
    </div>

{% endcomment %}

{% if is_featured %}

  {% comment %} Set product based on section settings {% endcomment %}
  {% assign product = all_products[section.settings.product] %}

  {% comment %} Set placeholder product if blank {% endcomment %}
  {% if request.design_mode and product == null  %}
    {% for product in collections['all'].products limit:1 %}
      {% assign product = product %}
    {% endfor %}
  {% endif %}

{% endif %}

{

  product: JSON.parse(decodeURIComponent('{{ product | json | url_encode }}')),

  variants: {
    {% for variant in product.variants %}
      '{{ variant.id }}': [
        {
          inventory_quantity: {{ variant.inventory_quantity }},
          inventory_policy: '{{ variant.inventory_policy }}',
        }
      ],
    {% endfor %}
  },
  
  {% comment %} Product options {% endcomment %}
  {% for product_option in product.options_with_values %}
    option{{ product_option.position }}: '',
    unavailable_options{{ product_option.position }}: '',
  {% endfor %}

  {% comment %} Display values {% endcomment %}
  {% comment %} Values get updated when variant changes {% endcomment %}
  current_variant_available: {{ product.available }},
  current_variant_exists: true,
  current_variant_id: {{ product.selected_or_first_available_variant.id }},
  current_variant_price: {{ product.price }},
  current_variant_compare_price: {% if product.compare_at_price %}{{ product.compare_at_price_max }}{% else %}0{% endif %},
  current_variant_unit_price: 0,
  current_variant_unit_label: '',
  current_variant_sku: decodeURIComponent('{{ product.selected_or_first_available_variant.sku | url_encode }}'),
  current_variant_title: decodeURIComponent('{{ product.selected_or_first_available_variant.title | url_encode }}'),
  current_variant_featured_image_id: '{{ product.selected_or_first_available_variant.featured_image.id }}',
  current_variant_featured_media_id: '{{ product.selected_or_first_available_variant.featured_media.id }}',
  
  current_variant_has_selling_plan: {% if product.selected_or_first_available_selling_plan_allocation.size > 0 %}true{% else %}false{% endif %},
  current_variant_requires_selling_plan: {% if product.selected_or_first_available_variant.requires_selling_plan %}{{ product.selected_or_first_available_variant.requires_selling_plan }}{% else %}false{% endif %},
  current_variant_selling_plan_id: '',
  current_variant_selling_plan_ids: '',
  current_variant_selling_group_id: '',
  current_variant_selling_group_ids: '',
  current_variant_selling_plan_name: '',
  current_variant_selling_plan_description: '',
  current_variant_selling_plan_savings_description: '',
  current_variant_selling_plan_savings_summary: '',
  current_variant_inventory_quantity: {{ product.selected_or_first_available_variant.inventory_quantity }},

  {% comment %} Basics {% endcomment %}
  quantity: 1,
  calculated_price: {{ product.price }},

  {% comment %} Slider {% endcomment %}
  fullscreen: false,
  gallery_index: 0,
  gallery_size: {{ product.media.size }},
  gallery_zoom: false,
  {% for media in product.media %}
    gallery_zoom_{{ forloop.index0 }}: false,
  {% endfor %}

  {% comment %} Toggle UI states {% endcomment %}
  stickyadd: false,
  failed_clicked: false,
  all_options_selected: false,
  button_loading: false,
  
  {% comment %} Options {% endcomment %}
  enable_default_plan: {{ section.settings.enable_default_plans | default: true }},
  enable_selling_plan_widget: {{ enable_default_selling_plan_widget | default: true }},
  enable_variant_images: {% if section.settings.enable_variant_images %}true{% else %}false{% endif %},

  {% comment %} Attach alpine attributes - standard form {% endcomment %}
  attachStandardForm() {
    let formContainer = $refs.formContainer;
    let productForm = formContainer.querySelector('form[action]');

    productForm.setAttribute(
      'x-on:submit.prevent', 
      'button_loading = true; submitCartForm($event.target, true); quick_add = false; quick_edit = false; setTimeout(function(){ button_loading = false}, 500);');
    productForm.setAttribute(
      'x-on:change', 
      'handleProductFormChange({{ is_product_template | default: false }});');
  },

  {% comment %} Enable product form {% endcomment %}
  initProductForm(presetVariantId) {

    // Set first variant if specifified 
    if (presetVariantId) {
      this.handleProductFormChange({{ is_product_template | default: false }}, presetVariantId);
      return
    }

    // Update default options if ?variant is present
    if (window.location.href.indexOf('variant=') > -1) {
      {% for product_option in product.options_with_values %}
        this.option{{ product_option.position }} = '{{ product_option.selected_value | handle }}';
      {% endfor %}
      this.handleProductFormChange({{ is_product_template | default: false }});
    } 
    
    // If /?variant is not present
    else {
      // Enable form for single variant products
      if (this.product.variants.size == 1) {
        this.handleProductFormChange({{ is_product_template | default: false }});
      } 
      // Set first variant as preset or default
      else {
        {% if section.settings.enable_default_variant or enable_default_variant %}
          this.handleProductFormChange({{ is_product_template | default: false }}, {{ product.selected_or_first_available_variant.id }});
        {% else %}
          this.handleProductFormChange({{ is_product_template | default: false }}); 
        {% endif %}
        if (!this.enable_default_plan) {
          this.current_variant_selling_plan_id = 0;
          this.current_variant_selling_group_id = 0;
        }
      }
    }

  }
  
}


