<!-- snippets/template__search-item.liquid -->
{% comment %} 
  Thumbnail grid item to display search results.
  
  Accepts:
  - item: {Object} Liquid object for search item
  
  Globals:
  - product_card_color_scheme: {string} Class string to set color scheme of thumbnails
  - product_card_title_capitilization: {string} Set the capitilization for thumbnail titles
  - product_card_title_font: {string} Set the font family for titles
  
  Usage:
    {% render 'template__search-item', 
      item: item 
    %}
  
  Recommendations:
  - This snippet is best used while looping through search results. It provides a consistent way to display search information across different sections of the site.
{% endcomment %}

{% capture product_image %}
  {% if settings.product_card_crop == "cover" %}
    {% capture image_class %}w-full h-full object-cover {{ settings.product_card_color_scheme }}{% endcapture %}
  {% else %}
    {% capture image_class %}w-full h-full object-contain {{ settings.product_card_color_scheme }}{% endcapture %}
  {% endif %}

  <div
    class="
      animation-300 w-full overflow-clip hover:opacity-100
      {{ settings.product_card_color_scheme }} 
      {% if settings.product_card_border_style == 'image' %}
        border--radius
        {{ settings.product_card_color_border }} 
      {% endif %}
    ">
    <div class="object-cover overflow-clip
      {{ settings.product_card_ratio }}">
      <img 
        class="{{ image_class }}"
        width="900"  
        height="900"
        loading="lazy"
        :src="`${ item.image }&width=900`" 
        :alt="`${ item.title }`"/>
    </div>
  </div>
{% endcapture %}

{% capture product_title %}
  <h3 
    class="
      mb-0
      {{ settings.product_card_title_capitilization }}
      {{ settings.product_card_title_font }}
    "
    x-text="item.title">
  </h3>
{% endcapture %}

{% capture product_price %}
  <div 
    class="
      flex gap-1 items-start min-w-[33%] flex-wrap
      {% if settings.product_card_alignment == "center" %}
        text-center justify-center
      {% endif %}
      {% if settings.product_card_alignment == "right" %}
        text-right justify-end
      {% endif %}
      {% if settings.product_card_alignment == "justified" %}
        justify-end items-end text-right flex-col
      {% else %}
        w-full
      {% endif %}
    ">
    
    {% comment %} Prices {% endcomment %}
    {% if settings.product_card_show_prices %}
      <div 
        class="shrink">
        <div 
          class="
            flex flex-wrap items-center gap-1
            {% if settings.product_card_alignment == "center" %}
              justify-center
            {% endif %}
            {% if settings.product_card_alignment == "right" or settings.product_card_alignment == "justified" %}
              justify-end
            {% endif %}
          ">

          {% comment %} Starting price {% endcomment %}
          <span>
            {% if settings.price_range == "show_starting_price" %}
              <span x-show="item.price_min < item.price_max">
                {{ 'labels.from' | t }}
              </span>
            {% endif %}
            <span x-html="Shopify.formatMoney(item.price_min)"></span>
          </span>
          
          {% comment %} If showing range {% endcomment %}
          {% if settings.price_range == "show_range" %}
            <span x-show="item.price_min < item.price_max">
              - 
              <span x-html="Shopify.formatMoney(item.price_max)"></span>
            </span>
          {% endif %}

          {% comment %} Sale price {% endcomment %}
          <span 
            class="opacity-50"
            x-show="item.compare_at_price_max > 0">
            <s x-html="Shopify.formatMoney(item.compare_at_price_max)"></s>
          </span>

        </div>
      </div>
    {%  endif %}

  </div>
{% endcapture %}

<a 
  class="
    hover:no-underline relative flex justify-center flex-none w-full no-underline whitespace-normal flex-col animation-300 hover:opacity-100 focus-within:border--focus
    {% if settings.product_card_border_style == 'thumbnail' %}
      border--radius overflow-clip
      {{ settings.product_card_color_border }} 
      {{ settings.product_card_color_scheme }} 
    {% endif %}
  " 
  :class="{ 
    'color__bg-shade-2 border--focus': (index + search_items_queries.length + search_items_pages.length + search_items_articles.length + search_items_collections.length) === search_focus_index, 
    'no-underline': (index + search_items_queries.length + search_items_pages.length + search_items_articles.length + search_items_collections.length) !== search_focus_index 
  }"
  :href="`${item.url}`"
  x-data="{ 
    button_loading: false
  }">

  {% comment %} Image {% endcomment %}
  <div 
    class="
      relative block
      {% if settings.product_card_border_style == 'image' %}
        border--radius overflow-clip
        {{ settings.product_card_color_border }} 
      {% endif %}
    ">
    {{ product_image }}
  </div>

  {% comment %} Content {% endcomment %}
  <div 
    class="
      hover:no-underline no-underline whitespace-normal flex justify-between items-start py-4 gap-1
      {% if settings.product_card_show_text_on_hover  %}
        md:hidden
      {% endif %}
      {% if settings.product_card_alignment == "center" %}
        text-center
      {% endif %}
      {% if settings.product_card_alignment == "right" %}
        text-right
      {% endif %}
      {% unless settings.product_card_alignment == "justified" %}
        flex-wrap
      {% endunless %}
      {% if settings.product_card_border_style == "thumbnail" %}
        px-4
      {% endif %}
    ">
    <div 
      class="
        grow flex gap-1 flex-col
        {% if settings.product_card_alignment == "center" %}
          items-center
        {% endif %}
        {% if settings.product_card_alignment == "right" %}
          items-end
        {% endif %}
        {% unless settings.product_card_alignment == "justified" %}
          w-full
        {% endunless %}
      ">
      {{ product_title }}
    </div>
    {{ product_price }}
  </div>

</a>