<!-- snippets/theme__localization-overlay.liquid -->
{% comment %} 
  This file is responsible for creating a overlay overlay that allows users to set their preferred currency/location, and language.
  
  Globals:
  - enable_region {boolean}: Enables or disables the region selector. This should be preset in Shopify admin under Settings > Markets.
  - enable_language {boolean}: Enables or disables the language selector. This should be preset in Shopify admin under Settings > Markets.

  Usage:
    {% render 'theme__localization-overlay' %}
  
  Recommendations:
  - Ensure that the settings for region and language are preset in Shopify admin under Settings > Markets before using this file.
{% endcomment %}

{% capture dragdrawer_content %}
  <div class="flex flex-col gap-4 p-4">
    {% if settings.enable_region %}
      {% if localization.available_countries.size > 1 %}
        <localization-form>
          {% form 'localization' %}

            {% capture accordion_content %}
              <div class="flex flex-col gap-4">
                {% for country in localization.available_countries %}
                  <label 
                    class="flex items-center w-full color__text group">
                    <label 
                      class="sr-only"
                      for="{{ section.id }}_country_selection_{{ country.name | handle }}">
                      {{ 'labels.country' | t }}
                    </label>
                    <input 
                      id="{{ section.id }}_country_selection_{{ country.name | handle }}"
                      class="js-countrySelection"
                      type="radio" 
                      name="country_selection"
                      value="{{ country.currency.iso_code }}" 
                      data-value="{{ country.iso_code }}" 
                      {% if country == localization.country %} checked{% endif %}>
                    <span 
                      class="ml-2 fi !w-6"
                      style="
                        background-image: url(https://flagicons.lipis.dev/flags/4x3/{{ country.iso_code | downcase }}.svg);
                        background-size: cover;
                      ">
                    </span>
                    <span class="ml-2 type--small group-hover:underline">{{ country.name }} ({{ country.currency.symbol }} {{ country.currency.iso_code }})</span>
                  </label>
                {% endfor %}
              </div>
            {% endcapture %}

            {% capture accordion_label %}
              {{ 'actions.change_country' | t }}
              <span class="block ml-2 text-left opacity-50 type--small">{{ localization.country.name }} ({{ localization.country.currency.symbol }} {{ localization.country.currency.iso_code }})</span>
              <span 
                class="ml-2 fi !w-6"
                style="
                  background-image: url(https://flagicons.lipis.dev/flags/4x3/{{ localization.country.iso_code | downcase }}.svg);
                  background-size: cover;
                ">
              </span>
            {% endcapture %}

            {% render 'component__accordion', 
              container_class: '',
              button_label: accordion_label, 
              content: accordion_content 
            %}

            <input 
              id="country_code" 
              type="hidden" 
              name="country_code" 
              value="{{ localization.country.iso_code }}">
          {% endform %}
        </localization-form> 
      {% endif %}
    {% endif %}

    {% if settings.enable_language %}
      {% if localization.available_languages.size > 1 %}
        <localization-form>
          {% form 'localization' %}

            {% capture accordion_content %}
              {% for language in localization.available_languages %}
                <label 
                  class="flex items-center w-full py-2 color__text hover:underline">
                  <label 
                    class="sr-only"
                    for="{{ section.id }}_language_selection_{{ language.endonym_name | handle }}">
                    {{ 'labels.language' | t }}
                  </label>
                  <input 
                    id="{{ section.id }}_language_selection_{{ language.endonym_name | handle }}"
                    class="js-languageSelection"
                    type="radio"
                    name="language_selection"
                    value="{{ language.iso_code }}"
                    data-value="{{ language.iso_code }}" 
                    {% if language == localization.language %} checked{% endif %}>
                  <span class="ml-2 type--small">{{ language.endonym_name }}</span>
                </label>
              {% endfor %}
            {% endcapture %}

            {% capture accordion_label %}
              {{ 'actions.change_language' | t }}
              <span class="block ml-2 text-left opacity-50 type--small">{{ localization.language.endonym_name }}</span>
            {% endcapture %}
            
            {% render 'component__accordion', 
              container_class: '',
              button_label: accordion_label, 
              content: accordion_content 
            %}
            
            <input 
              id="language_code" 
              type="hidden"
              name="language_code" 
              value="{{ localization.language.iso_code }}">
              
          {% endform %}
        </localization-form> 
      {% endif %}
    {% endif %}
  </div>
{% endcapture %}

{% if settings.enable_region or settings.enable_language %}
  {% render 'component__dragdrawer', 
    drawer_id: 'localization_overlay',
    content: dragdrawer_content 
  %}
{% endif %}