<!-- templates/customers/login.liquid -->

<section>
  <div class="py-24
    {{ settings.x_margin }}
    {{ settings.x_alignment }}"
    x-data="{ forgot_password: window.location.hash === '#recover' ? true : false }">

    <div class="w-full max-w-prose"
      x-show="!forgot_password">
      <h1 class="mb-4">
        {{ 'actions.log_in' | t }}
      </h1>
      {% form 'customer_login' %}

        {% if form.errors %}
          <div class="p-2 mb-4 color__bg-overlay-1 type--small border--radius">
            {{ form.errors | default_errors }}
          </div>
        {% endif %}
        
        <label for="customer_email">{{ 'labels.email' | t }}</label><br/>
        <input id="customer_email" class="mb-4" type="email" name="customer[email]" />

        <label for="customer_password">{{ 'labels.password' | t }}</label><br/>
        <input id="customer_password" class="mb-4" type="password" name="customer[password]" />

        <button type="submit" class="mb-4 btn">
          {{ 'actions.log_in' | t }}
        </button>

        <div class="flex flex-col gap-4 pt-4 border--t-width color__border-divider-1">
          <p>{{ 'info.dont_have_account' | t }}</p>
          <div class="flex gap-4">
            <button type="button" class="btn btn--plain"
              @click="forgot_password = true; window.location.hash = 'recover';">
              {{ 'actions.forgot_password' | t }}
            </button>
            <a href="{{ routes.account_register_url }}" class="btn btn--plain">
              {{ 'actions.sign_up' | t }}
            </a>
          </div>
        </div>

      {% endform %}
    </div>
    
    <div class="w-full max-w-prose"
      x-show="forgot_password" 
      x-cloak>
      <h1 class="mb-4">
        {{ 'actions.reset_password' | t }}
      </h1>
      {% form 'recover_customer_password' %}

        {% if form.errors %}
          <div class="p-2 mb-4 color__bg-overlay-1 type--small border--radius">
            {{ form.errors | default_errors }}
          </div>
        {% endif %}

        <label for="reset_customer_email">{{ 'labels.email' | t }}</label><br/>
        <input id="reset_customer_email" class="mb-4" type="email" name="email" />

        <button type="submit" class="mb-4 btn">
          {{ 'actions.submit' | t }}
        </button>

        <div class="pt-4 border--t-width color__border-divider-1">
          <button type="button" class="btn btn--plain"
            @click="forgot_password = false; window.location.hash = 'login';">
            {{ 'actions.log_in' | t }}
          </button>
        </div>
        
      {% endform %}
    </div>

  </div>
</section>