<!-- templates/customers/login.liquid -->

<section class="
  {{ section.settings.color_scheme }} 
  {{ section.settings.color_border }}
  {{ section.settings.style_border }}">
  <div class="py-24
    {{ settings.x_margin }}
    {{ settings.x_alignment }}">
    <div class="w-full max-w-prose">

      <h1 class="mb-4">
        {{ 'actions.sign_up' | t }}
      </h1>

      {% form 'create_customer' %}

        {% if form.errors %}
          <div class="p-2 mt-2 mb-4 color__bg-overlay-1 type--small border--radius">
            {{ form.errors | default_errors }}
          </div>
        {% endif %}

        <label for="first_name" class="login">{{ 'labels.name' | t }}</label><br/>
        <input id="first_name" required class="mb-4" type="text" value="" name="customer[first_name]" id="first_name"/>

        <label for="customer_email">{{ 'labels.email' | t }}</label><br/>
        <input id="customer_email" class="mb-4" type="email" name="customer[email]" />

        <label for="password" class="login">{{ 'labels.password' | t }}</label><br/>
        <input id="password" required class="mb-4" type="password" value="" name="customer[password]" id="password"/>

        <button type="submit" class="mb-4 btn">
          {{ 'actions.sign_up' | t }}
        </button>

        <div class="flex flex-col gap-4 pt-4 border--t-width color__border-divider-1">
          <p>{{ 'info.already_have_account' | t }}</p>
          <div class="flex gap-4">
            <a href="{{ routes.account_login_url }}" class="btn btn--plain">
              {{ 'actions.log_in' | t }}
            </a>
          </div>
        </div>
      {% endform %}

    </div>
  </div>
</section>