<!doctype html>
<html 
  class="min-h-[100vh]"
  lang="{{ request.locale.iso_code }}"
  x-data="app()"
  x-init="
    updateCart(false); 
    handleSharedCart(); 
    handleSharedDiscount();
    initAnimationObserver();
    initPopstate();
    header_color = header_overlay_color; 
    header_border = header_overlay_border;
  ">

  <head>
    {% comment %} Meta {% endcomment %}
    {% render 'theme__meta' %}

    {% comment %} Preload {% endcomment %}
    {% unless settings.type_header_font.system? and settings.type_body_font.system? %}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {% endunless %}

    {% comment %} Assets {% endcomment %}
    {% render 'theme__styles' %}
    {% render 'assets' with 'styles.css', preload_stylesheet: true %}
    <link rel="stylesheet" href="{{ 'custom.css' | asset_url }}">
    {{ content_for_header }}

    {% comment %} Structured data {% endcomment %}
    {% render 'theme__structured-data' %}
    <!-- Programmer: Darpan | LIVE date: 26 August 2024 -->
  </head>



  
  <body 
    class="
      min-h-[100vh] break-words animation-500--all
      {{ template | handle }}
    "
    :class="{
      'overflow-hidden': has_overlay
    }"
    @scroll.window.throttle.100ms="
      if(!Shopify.visualPreviewMode){
        handleBodyScroll();
      }
    ">
  
    
    <a 
      class="btn btn--plain btn--small top-4 left-4 focus:translate-y-0 fixed !z-[100] transform -translate-y-20 shadow-md"
      href="#root">
      {{ 'actions.skip_to_content' | t }}
    </a>
  
    
    <header 
      class="
        z-50 animation-1000
        {{ settings.header_position }}
        {% if settings.header_blend %} mix-blend-difference {% endif %}
        {% if settings.header_position == 'dynamic' %}sticky top-0 left-0 right-0{% endif %}
        {% if settings.header_position == 'sticky' %}sticky top-0 left-0 right-0{% endif %}
        {% unless request.design_mode %}
          {% if settings.enable_animations %}
            {% if settings.animate_header == 'slide' %}
              opacity-0 -translate-y-4 js-animation
            {% endif %}
            {% if settings.animate_header == 'fade' %}
              opacity-0 js-animation
            {% endif %}
          {% endif %}
        {% endunless %}
      "
      {% if settings.header_position == 'dynamic' %}
        :style="is_scrolled ? 
          'pointer-events: none;' : 
          'pointer-events: auto;'
        "
      {% endif %}
      {% if settings.enable_animations %}
        {% if settings.animate_header == 'slide' %}
          data-delay="500" 
          data-replace="{ 
            'opacity-0' : 'opacity-100',
            '-translate-y-4' : '' 
          }"
        {% endif %}
        {% if settings.animate_header == 'fade' %}
          data-delay="500" 
          data-replace="{ 
            'opacity-0' : 'opacity-100'
          }"
        {% endif %}
      {% endif %}
      :class="{
        '!-z-10' : has_overlay
      }"
      x-ref="header"
      x-init="
        header_group_height = $refs.header.offsetHeight;
      ">
      <div
        class="animation-500"
        {% if settings.header_position == 'dynamic' %}
          :style="is_scrolled ? 
            'transform: translateY(-2rem); opacity: 0; pointer-events: none;' : 
            'transform: none; opacity: 1;'
          "
        {% endif %}>
        <div style="display:none"> {% sections 'header-group' %} </div>
      </div>
    </header>
  
    
    <div style="display:none"> {% section 'theme__cart' %} </div>
    <div style="display:none"> {% section 'theme__menu' %} </div>
    <div style="display:none"> {% section 'theme__search' %} </div>
      
    
    <main 
      id="root" 
      role="main">

        {% assign collection_product_templates = "collection, product" %}
      {% if collection_product_templates contains template %}
     	 {% render 'back-button' %}
      {% endif %}
      
      {{ content_for_layout }}
    </main>
    
    
    {% sections 'footer-group' %}
    {% sections 'overlay-group' %}

    
    {% render 'theme__quick-overlays' %}
    {% render 'theme__localization-overlay' %}
    {% render 'theme__audio-overlay' %}
    {% render 'theme__error-overlay' %}
    {% render 'theme__discount-overlay' %}
    
    
    {% render 'assets' with 'main.js' %}
    {% render 'theme__scripts' %}
  </body>

</html>
