<!-- sections/accordions.liquid -->
{% comment %} 
  Display a list of accordions that can collapse and expand.

  Globals:
  - layout_horizontal: {string} Class string to set horizontal margin.

  Recommendations:
  - Can be used to display FAQs or other content that can be collapsed and expanded.
{% endcomment %}

<section 
  id="{{ section.id }}"
  class="
    animation-1000
    {{ section.settings.visibility }}
    {{ section.settings.color_border }}
    {{ section.settings.style_border }}
    {% unless section.settings.enable_color_fade %}
      {{ section.settings.color_text }}
      {% unless section.settings.color_scheme == 'custom' %}
        {{ section.settings.color_scheme }}
      {% endunless %}
    {% endunless %}
  "
  {% if section.settings.color_scheme == 'custom' %}
    {% unless section.settings.enable_color_fade %}
      style="
        background:{{ section.settings.color_background }};
      "
    {% endunless %}
  {% endif %}
  {% if section.settings.enable_color_fade %}
    :class="`${body_background_color} ${body_text_color}`"
    :style="{ background: body_background_color }"
    x-intersect.margin.-50%="
      body_background_color = '{% if section.settings.color_scheme == 'custom' %}{{ section.settings.color_background }}{% else %}{{ section.settings.color_scheme }}{% endif %}';
      body_text_color = '{{ section.settings.color_text }}';
    "
  {% endif %}>
  <div
    class="
      {% if section.settings.enable_margin %}
        {{ settings.x_margin }}
      {% endif %}
    "
    style="
      padding-top:{{ section.settings.spacing_top }}px;
      padding-bottom:{{ section.settings.spacing_bottom }}px;
    ">
    <div
      class="
        flex flex-wrap items-start justify-between
        {% if section.settings.enable_split %}
          flex-row
        {% else %}
          flex-col
        {% endif %}
      ">

      {% comment %} Header {% endcomment %}
      <div 
        class="
          flex w-full flex-col
          {% if section.settings.enable_split %}md:w-1/3 md:pr-4{% endif %}
          {% unless section.settings.enable_margin %}
            px-4
          {% endunless %}
        ">
        {% render 'component__section-header' %} 
      </div>

      {% comment %} Content {% endcomment %}
      <div 
        class="
          flex flex-wrap w-full flex-col gap-4
          {% if section.settings.enable_split %}md:w-2/3{% endif %}
          {% unless section.settings.enable_margin %}
            window--full
          {% endunless %}
        ">
        {% for block in section.blocks %}

          {% capture accordion_label %}
            <span class="{{ section.settings.heading_font }}">
              {% unless block.settings.icon == blank %}
                {% render 'component__icon', icon: block.settings.icon, size: '20', class: 'mr-2' %}
              {% endunless %}
              {{ block.settings.heading }}
            </span>
          {% endcapture %}

          {% assign is_button = true  %}
          {% if block.settings.color_scheme == 'minimal' %}
            {% assign is_button = false %}
          {% endif %}

          {% if settings.enable_animations %}
            {% assign container_class = 'motion-safe:scroll-fadein-2-20' %}
          {% endif %}

          {% render 'component__accordion', 
            container_class: container_class,
            inner_class: '',
            button_class: block.settings.color_scheme,
            button_label: accordion_label, 
            content: block.settings.content,
            is_button: is_button,
            enable_open: block.settings.enable_open
          %}
        {% endfor %}
      </div>

    </div>
  </div>
</section>

{% schema %}
{
  "name":"t:sections.accordions.name",
  "settings":[
    {
      "type":"header",
      "content":"t:general.headers.content.content"
    },
    {
      "type":"text",
      "id":"heading",
      "label":"t:general.settings.heading.label"
    },
    {
      "type":"richtext",
      "id":"content",
      "label":"t:general.settings.content.label"
    },
    {
      "type":"text",
      "id":"button_label",
      "label":"t:general.settings.button_label.label"
    },
    {
      "type":"url",
      "id":"button_url",
      "label":"t:general.settings.button_url.label"
    },
    {
      "type":"header",
      "content":"t:general.headers.spacing.content"
    },
    {
      "type":"range",
      "id":"spacing_top",
      "min":0,
      "max":300,
      "step":10,
      "unit":"px",
      "label":"t:general.settings.top_spacing.label",
      "default":100
    },
    {
      "type":"range",
      "id":"spacing_bottom",
      "min":0,
      "max":300,
      "step":10,
      "unit":"px",
      "label":"t:general.settings.bottom_spacing.label",
      "default":100
    },
    {
      "type":"header",
      "content":"t:general.headers.color.content"
    },
    {
      "type":"select",
      "id":"color_scheme",
      "label":"t:general.settings.color_scheme.label",
      "options":[
        {
          "value":"color__bg-body",
          "label":"t:general.settings.color_scheme.body.label"
        },
        {
          "value":"color__bg-neutral",
          "label":"t:general.settings.color_scheme.neutral.label"
        },
        {
          "value":"color__bg-overlay-1",
          "label":"t:general.settings.color_scheme.accent_1.label"
        },
        {
          "value":"color__bg-overlay-2",
          "label":"t:general.settings.color_scheme.accent_2.label"
        },
        {
          "value":"color__bg-overlay-3",
          "label":"t:general.settings.color_scheme.accent_3.label"
        },
        {
          "value":"color__bg-shade-1",
          "label":"t:general.settings.color_scheme.shade_1.label"
        },
        {
          "value":"color__bg-shade-2",
          "label":"t:general.settings.color_scheme.shade_2.label"
        },
        {
          "value":"color__bg-shade-3",
          "label":"t:general.settings.color_scheme.shade_3.label"
        },
        {
          "value":"color__bg-primary",
          "label":"t:general.settings.color_scheme.primary.label"
        },
        {
          "value":"color__bg-secondary",
          "label":"t:general.settings.color_scheme.secondary.label"
        },
        {
          "value":"color__bg-tertiary",
          "label":"t:general.settings.color_scheme.tertiary.label"
        },
        {
          "value":"custom",
          "label":"t:general.settings.color_scheme.custom.label"
        }
      ],
      "default":"color__bg-body"
    },
    {
      "type":"color",
      "id":"color_background",
      "label":"t:general.settings.color_custom.label",
      "info":"t:general.settings.color_custom.info",
      "default":"#ffffff"
    },
    {
      "type":"select",
      "id":"color_text",
      "label":"t:general.settings.color_text.label",
      "options":[
        {
          "value":"",
          "label":"t:general.settings.color_text.default.label"
        },
        {
          "value":"color__light",
          "label":"t:general.settings.color_text.force_light.label"
        },
        {
          "value":"color__dark",
          "label":"t:general.settings.color_text.force_dark.label"
        }
      ],
      "default":""
    },
    {
      "type":"select",
      "id":"color_border",
      "label":"t:general.settings.color_border.label",
      "options":[
        {
          "value":"color__border-divider-1",
          "label":"t:general.settings.color_border.subtle.label"
        },
        {
          "value":"color__border-selected-1",
          "label":"t:general.settings.color_border.strong.label"
        }
      ],
      "default":"color__border-divider-1"
    },
    {
      "type":"select",
      "id":"color_button",
      "label":"t:general.settings.color_button.label",
      "options":[
        {
          "value":"btn",
          "label":"t:general.settings.color_button.primary.label"
        },
        {
          "value":"btn btn--secondary",
          "label":"t:general.settings.color_button.secondary.label"
        },
        {
          "value":"btn btn--tertiary",
          "label":"t:general.settings.color_button.tertiary.label"
        },
        {
          "value":"btn btn--neutral",
          "label":"t:general.settings.color_button.neutral.label"
        },
        {
          "value":"btn btn--plain",
          "label":"t:general.settings.color_button.plain.label"
        },
        {
          "value":"btn btn--outline",
          "label":"t:general.settings.color_button.outline.label"
        },
        {
          "value":"btn btn--outline-alt",
          "label":"t:general.settings.color_button.inverted_outline.label"
        },
        {
          "value":"btn btn--minimal",
          "label":"t:general.settings.color_button.link.label"
        },
        {
          "value":"btn btn--minimal-alt",
          "label":"t:general.settings.color_button.inverted_link.label"
        }
      ],
      "default":"btn btn--secondary"
    },
    {
      "type": "checkbox",
      "id": "enable_color_fade",
      "label":"t:general.settings.enable_color_fade.label",
      "info":"t:general.settings.enable_color_fade.info",
      "default": false
    },
    {
      "type":"header",
      "content":"t:general.headers.style.content"
    },
    {
      "type": "select",
      "id": "heading_font",
      "label": "t:general.settings.title_font.label",
      "options": [
        {
          "value": "type__body type--base",
          "label": "t:general.settings.font_family.standard.label"
        },
        {
          "value": "type__heading type__heading-1",
          "label": "t:general.settings.font_family.heading.label"
        },
        {
          "value": "type__nav type--base",
          "label": "t:general.settings.font_family.navigation.label"
        }
      ],
      "default": "type__body type--base"
    },
    {
      "type":"select",
      "id":"style_border",
      "label":"t:general.settings.border_position.label",
      "options":[
        {
          "value":"",
          "label":"t:general.settings.border_position.none.label"
        },
        {
          "value":"border--t-width",
          "label":"t:general.settings.border_position.top.label"
        },
        {
          "value":"border--b-width",
          "label":"t:general.settings.border_position.bottom.label"
        },
        {
          "value":"border--b-width border--t-width",
          "label":"t:general.settings.border_position.top_and_bottom.label"
        }
      ],
      "default":"border--b-width"
    },
    {
      "type":"header",
      "content":"t:general.headers.layout.content"
    },
    {
      "type":"select",
      "id":"layout_x_alignment",
      "label":"t:general.settings.x_alignment.label",
      "options":[
        {
          "value":"justify-between",
          "label":"t:general.settings.x_alignment.left.label"
        },
        {
          "value":"text-center justify-center flex-col items-center",
          "label":"t:general.settings.x_alignment.center.label"
        },
        {
          "value":"text-right justify-end flex-col items-end",
          "label":"t:general.settings.x_alignment.right.label"
        }
      ],
      "default":"justify-between"
    },
    {
      "type":"checkbox",
      "id":"enable_margin",
      "label":"t:general.settings.enable_margin.label",
      "default":true
    },
    {
      "type":"checkbox",
      "id":"enable_split",
      "label":"t:general.settings.enable_split.label",
      "default":false
    },
    {
      "type":"header",
      "content":"t:general.headers.display.content"
    },
    {
      "type":"select",
      "id":"visibility",
      "label":"t:general.settings.visibility.label",
      "options":[
        {
          "value":"",
          "label":"t:general.settings.visibility.all.label"
        },
        {
          "value":"md:hidden",
          "label":"t:general.settings.visibility.mobile.label"
        },
        {
          "value":"hidden md:block",
          "label":"t:general.settings.visibility.desktop.label"
        }
      ],
      "default":""
    }
  ],
  "blocks":[
    {
      "type":"content",
      "name":"t:sections.accordions.blocks.content.name",
      "limit":50,
      "settings":[
        {
          "type":"header",
          "content":"t:general.headers.content.content"
        },
        {
          "type":"text",
          "id":"heading",
          "label":"t:general.settings.heading.label",
          "default":{
            "en":"A question your customers are asking",
            "es":"Una pregunta que hacen tus clientes",
            "it":"Una domanda che i tuoi clienti stanno facendo",
            "de":"Eine Frage, die Ihre Kunden stellen",
            "fr":"Une question que vos clients se posent"
          }
        },
        {
          "type":"richtext",
          "id":"content",
          "label":"t:general.settings.content.label",
          "default":{
            "en":"<p>Answer to help your customers feel more comfortable completing their purchase.</p>",
            "es":"<p>Respuesta para ayudar a sus clientes a sentirse más cómodos completando su compra.</p>",
            "it":"<p>Rispondi per aiutare i tuoi clienti a sentirsi più a proprio agio nel completare il loro acquisto.</p>",
            "de":"<p>Antwort, damit sich Ihre Kunden beim Abschluss ihres Kaufs wohler fühlen.</p>",
            "fr":"<p>Réponse pour aider vos clients à se sentir plus à l’aise de finaliser leur achat.</p>"
          }
        },
        {
          "type":"select",
          "id":"icon",
          "label":"t:general.settings.icon.label",
          "options":[
             {
                "value":"",
                "label":"t:general.settings.icon.none.label"
             },
             {
                "value":"activity",
                "label":"t:general.settings.icon.activity.label"
             },
             {
                "value":"alert-circle",
                "label":"t:general.settings.icon.alert-circle.label"
             },
             {
                "value":"anchor",
                "label":"t:general.settings.icon.anchor.label"
             },
             {
                "value":"archive",
                "label":"t:general.settings.icon.archive.label"
             },
             {
                "value":"at-sign",
                "label":"t:general.settings.icon.at-sign.label"
             },
             {
                "value":"bell",
                "label":"t:general.settings.icon.bell.label"
             },
             {
                "value":"book-open",
                "label":"t:general.settings.icon.book-open.label"
             },
             {
                "value":"book",
                "label":"t:general.settings.icon.book.label"
             },
             {
                "value":"bookmark",
                "label":"t:general.settings.icon.bookmark.label"
             },
             {
                "value":"box",
                "label":"t:general.settings.icon.box.label"
             },
             {
                "value":"briefcase",
                "label":"t:general.settings.icon.briefcase.label"
             },
             {
                "value":"calendar",
                "label":"t:general.settings.icon.calendar.label"
             },
             {
                "value":"camera",
                "label":"t:general.settings.icon.camera.label"
             },
             {
                "value":"check",
                "label":"t:general.settings.icon.check.label"
             },
             {
                "value":"check-square",
                "label":"t:general.settings.icon.check-square.label"
             },
             {
                "value":"clipboard",
                "label":"t:general.settings.icon.clipboard.label"
             },
             {
                "value":"cloud",
                "label":"t:general.settings.icon.cloud.label"
             },
             {
                "value":"coffee",
                "label":"t:general.settings.icon.coffee.label"
             },
             {
                "value":"code",
                "label":"t:general.settings.icon.code.label"
             },
             {
                "value":"cpu",
                "label":"t:general.settings.icon.cpu.label"
             },
             {
                "value":"edit",
                "label":"t:general.settings.icon.edit.label"
             },
             {
                "value":"eye",
                "label":"t:general.settings.icon.eye.label"
             },
             {
                "value":"flag",
                "label":"t:general.settings.icon.flag.label"
             },
             {
                "value":"folder",
                "label":"t:general.settings.icon.folder.label"
             },
             {
                "value":"globe",
                "label":"t:general.settings.icon.globe.label"
             },
             {
                "value":"hash",
                "label":"t:general.settings.icon.hash.label"
             },
             {
                "value":"headphones",
                "label":"t:general.settings.icon.headphones.label"
             },
             {
                "value":"heart",
                "label":"t:general.settings.icon.heart.label"
             },
             {
                "value":"help-circle",
                "label":"t:general.settings.icon.help-circle.label"
             },
             {
                "value":"home",
                "label":"t:general.settings.icon.home.label"
             },
             {
                "value":"image",
                "label":"t:general.settings.icon.image.label"
             },
             {
                "value":"inbox",
                "label":"t:general.settings.icon.inbox.label"
             },
             {
                "value":"info",
                "label":"t:general.settings.icon.info.label"
             },
             {
                "value":"key",
                "label":"t:general.settings.icon.key.label"
             },
             {
                "value":"life-buoy",
                "label":"t:general.settings.icon.life-buoy.label"
             },
             {
                "value":"link",
                "label":"t:general.settings.icon.link.label"
             },
             {
                "value":"lock",
                "label":"t:general.settings.icon.lock.label"
             },
             {
                "value":"mail",
                "label":"t:general.settings.icon.mail.label"
             },
             {
                "value":"map-pin",
                "label":"t:general.settings.icon.map-pin.label"
             },
             {
                "value":"map",
                "label":"t:general.settings.icon.map.label"
             },
             {
                "value":"meh",
                "label":"t:general.settings.icon.meh.label"
             },
             {
                "value":"monitor",
                "label":"t:general.settings.icon.monitor.label"
             },
             {
                "value":"music",
                "label":"t:general.settings.icon.music.label"
             },
             {
                "value":"package",
                "label":"t:general.settings.icon.package.label"
             },
             {
                "value":"paperclip",
                "label":"t:general.settings.icon.paperclip.label"
             },
             {
                "value":"settings",
                "label":"t:general.settings.icon.settings.label"
             },
             {
                "value":"shield",
                "label":"t:general.settings.icon.shield.label"
             },
             {
                "value":"shopping-bag",
                "label":"t:general.settings.icon.shopping-bag.label"
             },
             {
                "value":"slash",
                "label":"t:general.settings.icon.slash.label"
             },
             {
                "value":"sliders",
                "label":"t:general.settings.icon.sliders.label"
             },
             {
                "value":"smile",
                "label":"t:general.settings.icon.smile.label"
             },
             {
                "value":"speaker",
                "label":"t:general.settings.icon.speaker.label"
             },
             {
                "value":"star-outline",
                "label":"t:general.settings.icon.star.label"
             },
             {
                "value":"sun",
                "label":"t:general.settings.icon.sun.label"
             },
             {
                "value":"table",
                "label":"t:general.settings.icon.table.label"
             },
             {
                "value":"tag",
                "label":"t:general.settings.icon.tag.label"
             },
             {
                "value":"thermometer",
                "label":"t:general.settings.icon.thermometer.label"
             },
             {
                "value":"trending-up",
                "label":"t:general.settings.icon.trending-up.label"
             },
             {
                "value":"tool",
                "label":"t:general.settings.icon.tool.label"
             },
             {
                "value":"trash",
                "label":"t:general.settings.icon.trash.label"
             },
             {
                "value":"truck",
                "label":"t:general.settings.icon.truck.label"
             },
             {
                "value":"tv",
                "label":"t:general.settings.icon.tv.label"
             },
             {
                "value":"umbrella",
                "label":"t:general.settings.icon.umbrella.label"
             },
             {
                "value":"unlock",
                "label":"t:general.settings.icon.unlock.label"
             },
             {
                "value":"user-check",
                "label":"t:general.settings.icon.user-check.label"
             },
             {
                "value":"user",
                "label":"t:general.settings.icon.user.label"
             },
             {
                "value":"zap",
                "label":"t:general.settings.icon.zap.label"
             }
          ],
          "default":""
        },
        {
          "type": "header",
          "content": "t:general.headers.color.content"
        },
        {
          "type": "select",
          "id": "color_scheme",
          "label": "t:general.settings.color_scheme.label",
          "options":[
            {
              "value":"btn",
              "label":"t:general.settings.color_button.primary.label"
            },
            {
              "value":"btn btn--secondary",
              "label":"t:general.settings.color_button.secondary.label"
            },
            {
              "value":"btn btn--tertiary",
              "label":"t:general.settings.color_button.tertiary.label"
            },
            {
              "value":"btn btn--neutral",
              "label":"t:general.settings.color_button.neutral.label"
            },
            {
              "value":"btn btn--plain",
              "label":"t:general.settings.color_button.plain.label"
            },
            {
              "value":"minimal",
              "label":"t:general.settings.color_button.minimal.label"
            }
          ],
          "default":"minimal"
        },
        {
          "type": "header",
          "content": "t:general.headers.display.content"
        },
        {
          "type": "checkbox",
          "id": "enable_open",
          "label": "t:general.settings.use_open_accordion.label"
        }
      ]
    }
  ],
  "presets":[
    {
      "name":"t:sections.accordions.name",
      "settings":{
        "heading":"Collapsible content",
        "spacing_top":100,
        "spacing_bottom":100,
        "color_background":"#ffffff",
        "color_text":"",
        "color_border":"color__border-divider-1",
        "color_button":"btn btn--secondary",
        "style_border":"border--b-width",
        "layout_x_alignment":"justify-between",
        "enable_margin":true,
        "enable_split":false,
        "visibility":""
      },
      "blocks":[
        {
          "type":"content",
          "settings":{
            "heading":"A question your customers are asking",
            "content":"<p>Answer to help your customers feel more comfortable completing their purchase.</p>",
            "enable_open": true
          }
        },
        {
          "type":"content",
          "settings":{
            "heading":"A question your customers are asking",
            "content":"<p>Answer to help your customers feel more comfortable completing their purchase.</p>"
          }
        },
        {
          "type":"content",
          "settings":{
            "heading":"A question your customers are asking",
            "content":"<p>Answer to help your customers feel more comfortable completing their purchase.</p>"
          }
        }
      ]
    }
  ],
  "disabled_on":{
    "groups":[
      "custom.overlay"
    ]
  }
}
{% endschema %}