<!-- sections/chat.liquid -->
{% comment %} 
  This file is a Shopify Liquid section file that generates a simulated chat interface. It supports different types of chat blocks including text, avatar, image, and video. Each block can be configured with different settings such as delay, layout alignment, color scheme, and more. The chat interface also supports animations and different layout settings.

  Globals:
  - layout_horizontal: {string} Class string to set horizontal margin.
  - enable_animations: {boolean} Global setting to determine if animations are enabled.

  Recommendations:
  - This section is best used to simulate a chat interface on your Shopify store. You can customize the chat messages, avatars, images, and videos to suit your needs.
  - The delay setting can be used to simulate the timing of chat messages.
  - The layout_x_alignment setting can be used to align chat blocks to the left or right.
  - The color_scheme setting can be used to customize the color of chat blocks.
  - The enable_animations setting can be used to enable or disable animations.
{% endcomment %}

<section 
  id="{{ section.id }}"
  class="
    animation-1000
    {{ section.settings.visibility }}
    {{ section.settings.color_border }}
    {{ section.settings.style_border }}
    {% unless section.settings.enable_color_fade %}
      {{ section.settings.color_text }}
      {% unless section.settings.color_scheme == 'custom' %}
        {{ section.settings.color_scheme }}
      {% endunless %}
    {% endunless %}
  "
  {% if section.settings.color_scheme == 'custom' %}
    {% unless section.settings.enable_color_fade %}
      style="
        background:{{ section.settings.color_background }};
      "
    {% endunless %}
  {% endif %}
  {% if section.settings.enable_color_fade %}
    :class="`${body_background_color} ${body_text_color}`"
    :style="{ background: body_background_color }"
    x-intersect.margin.-50%="
      body_background_color = '{% if section.settings.color_scheme == 'custom' %}{{ section.settings.color_background }}{% else %}{{ section.settings.color_scheme }}{% endif %}';
      body_text_color = '{{ section.settings.color_text }}';
    "
  {% endif %}>
  <div 
    class="
      flex
      {{ section.settings.layout_x_alignment }}
      {% if section.settings.enable_margin %}
        {{ settings.x_margin }}
      {% else %}
        window--full
      {% endif %}
    "
    style="
      padding-top:{{ section.settings.spacing_top }}px;
      padding-bottom:{{ section.settings.spacing_bottom }}px;
    ">
    <div 
      class="
        flex-start flex flex-col flex-wrap items-start gap-4 w-full
        md:w-[{{ section.settings.layout_column_width }}%]
      "
      x-data="{
        current_block: 0
      }"
      x-intersect:enter="
        {% assign total_delay = 0 %}
        {% for block in section.blocks %}
          {% assign total_delay = total_delay | plus: block.settings.delay %}
          setTimeout(() => { 
            current_block = current_block + 1 
          }, {{ total_delay }} * 1000)
        {% endfor %}
      ">

      {% for block in section.blocks %}

        {% if block.type == 'text' %}
          <div 
            class="
              relative w-full flex
              {% if block.settings.layout_x_alignment == 'right' %}
                justify-end
              {% else %}
                justify-start
              {% endif %}
            ">

            {% comment %} Typing indicator {% endcomment %}
            {% unless request.design_mode %}
              <div 
                class="
                  color__bg-shade-1 rounded-2xl flex gap-1 p-4 px-4 absolute top-0 
                  {% if block.settings.layout_x_alignment == 'left' %}
                    rounded-bl-sm
                  {% else %}
                    rounded-br-sm self-end
                  {% endif %}
                  {% unless request.design_mode %}
                    {% if settings.enable_animations %}
                      opacity-0 animation-100
                    {% endif %}
                  {% endunless %}
                "
                {% unless request.design_mode %}
                  {% if settings.enable_animations %}
                    :class="{
                      '!opacity-100': {{ forloop.index0 }} == current_block
                    }"
                  {% endif %}
                {% endunless %}
                >
                <span 
                  class="block w-2 h-2 rounded-full color__bg-shade-2 animate-hop-1">
                </span>
                <span 
                  class="block w-2 h-2 rounded-full color__bg-shade-2 animate-hop-2">
                </span>
                <span 
                  class="block w-2 h-2 rounded-full color__bg-shade-2 animate-hop-3">
                </span>
              </div>
            {% endunless %}

            {% comment %} Text {% endcomment %}
            <div 
              class="
                max-w-[70%] rounded-2xl p-2 px-4 space-y-4
                {{ block.settings.color_scheme }}
                {% if block.settings.layout_x_alignment == 'left' %}
                  rounded-bl-sm
                {% else%}
                  rounded-br-sm self-end
                {% endif %}
                {% unless request.design_mode %}
                  {% if settings.enable_animations %}
                    opacity-0 animation-100
                  {% endif %}
                {% endunless %}
              "
              {% unless request.design_mode %}
                {% if settings.enable_animations %}
                  :class="{
                    '!opacity-100': current_block > {{ forloop.index0 }}
                  }"
                {% endif %}
              {% endunless %}>
              {{ block.settings.content }}
            </div>
          </div>
        {% endif %}

        {% if block.type == 'avatar' %}
          <div 
            class="
              flex items-center gap-2
              {{ block.settings.color_scheme }}
              {% if block.settings.layout_x_alignment == 'left' %}
                rounded-bl-sm
              {% else%}
                rounded-br-sm self-end
              {% endif %}
              {% unless request.design_mode %}
                {% if settings.enable_animations %}
                  opacity-0 animation-100
                {% endif %}
              {% endunless %}
            "
            {% unless request.design_mode %}
              {% if settings.enable_animations %}
                :class="{
                  '!opacity-100': current_block > {{ forloop.index0 }}
                }"
              {% endif %}
            {% endunless %}>
            <div 
              class="w-8 h-8 overflow-hidden rounded-full ">
              {% if block.settings.image == blank %}
                <div class="relative w-full color__bg-shade-1">
                  {{ 'image' | placeholder_svg_tag: 'w-full h-full' }}
                </div>
              {% else %}
                {% render 'component__image', 
                  image: block.settings.image,
                  max_width: 64,
                  background_class: 'color__bg-shade-2',
                  ratio_class: 'aspect-[1/1]',
                  crop_class: 'object-cover',
                  enable_lazy_load: true,
                  enable_2x: true
                %}
              {% endif %}
            </div>
            <span 
              class="opacity-50 type--small">
              {{ block.settings.time }}
            </span>
          </div>
        {% endif %}

        {% if block.type == 'image' %}
          <div 
            class="
              relative w-full
              {% if block.settings.layout_x_alignment == 'right' %}
                flex justify-end
              {% endif %}
              {% unless request.design_mode %}
                {% if settings.enable_animations %}
                  opacity-0 animation-100
                {% endif %}
              {% endunless %}
            ">

            {% comment %} Typing indicator  {% endcomment %}
            {% unless request.design_mode %}
              <div 
                class="
                  color__bg-shade-1 rounded-2xl flex gap-1 p-4 px-4 absolute top-0
                  {% if block.settings.layout_x_alignment == 'left' %}
                    rounded-bl-sm
                  {% else %}
                    rounded-br-sm self-end
                  {% endif %}
                  {% unless request.design_mode %}
                    {% if settings.enable_animations %}
                      opacity-0 animation-100
                    {% endif %}
                  {% endunless %}
                "
                {% unless request.design_mode %}
                  {% if settings.enable_animations %}
                    :class="{
                      '!opacity-100': {{ forloop.index0 }} == current_block
                    }"
                  {% endif %}
                {% endunless %}>
                <span 
                  class="block w-2 h-2 rounded-full color__bg-shade-2 animate-hop-1">
                </span>
                <span 
                  class="block w-2 h-2 rounded-full color__bg-shade-2 animate-hop-2">
                </span>
                <span 
                  class="block w-2 h-2 rounded-full color__bg-shade-2 animate-hop-3">
                </span>
              </div>
            {% endunless %}

            {% comment %} Image {% endcomment %}
            <div 
              class="
                rounded-2xl max-w-[70%] overflow-hidden w-full
                {% if block.settings.layout_x_alignment == 'left' %}
                  rounded-bl-sm
                {% else%}
                  rounded-br-sm self-end
                {% endif %}
                {% unless request.design_mode %}
                  {% if settings.enable_animations %}
                    opacity-0 animation-100
                  {% endif %}
                {% endunless %}
              "
              {% unless request.design_mode %}
                {% if settings.enable_animations %}
                  :class="{
                    '!opacity-100': current_block > {{ forloop.index0 }}
                  }"
                {% endif %}
              {% endunless %}>
              <div 
                class="w-full overflow-hidden ">
                {% if block.settings.image == blank %}
                  <div class="relative w-full color__bg-shade-1">
                    {{ 'lifestyle-1' | placeholder_svg_tag: 'w-full' }}
                  </div>
                {% else %}
                  {% render 'component__image', 
                    image: block.settings.image,
                    max_width: 600,
                    background_class: 'color__bg-shade-2',
                    ratio_class: 'aspect-[1/1]',
                    crop_class: 'object-cover',
                    enable_lazy_load: true,
                    enable_2x: true
                  %}
                {% endif %}
              </div>
            </div>
          </div>
        {% endif %}

        {% if block.type == 'video' %}
          <div 
            class="
              relative w-full
              {% if block.settings.layout_x_alignment == 'right' %}
                flex justify-end
              {% endif %}
            ">

            {% comment %} Typing indicator {% endcomment %}
            {% unless request.design_mode %}
              <div 
                class="
                  color__bg-shade-1 rounded-2xl flex gap-1 p-4 px-4 absolute top-0
                  {% if block.settings.layout_x_alignment == 'left' %}
                    rounded-bl-sm
                  {% else %}
                    rounded-br-sm self-end
                  {% endif %}
                  {% unless request.design_mode %}
                    {% if settings.enable_animations %}
                      opacity-0 animation-100
                    {% endif %}
                  {% endunless %}
                "
                {% unless request.design_mode %}
                  {% if settings.enable_animations %}
                    :class="{
                      '!opacity-100': {{ forloop.index0 }} == current_block
                    }"
                  {% endif %}
                {% endunless %}>
                <span 
                  class="block w-2 h-2 rounded-full color__bg-shade-2 animate-hop-1">
                </span>
                <span 
                  class="block w-2 h-2 rounded-full color__bg-shade-2 animate-hop-2">
                </span>
                <span 
                  class="block w-2 h-2 rounded-full color__bg-shade-2 animate-hop-3">
                </span>
              </div>
            {% endunless %}

            {% comment %} Video {% endcomment %}
            <div 
              class="
                rounded-2xl max-w-[70%] overflow-hidden w-full
                {% if block.settings.layout_x_alignment == 'left' %}
                  rounded-bl-sm
                {% else%}
                  rounded-br-sm self-end
                {% endif %}
                {% unless request.design_mode %}
                  {% if settings.enable_animations %}
                    opacity-0 animation-100
                  {% endif %}
                {% endunless %}
              "
              {% unless request.design_mode %}
                {% if settings.enable_animations %}
                  :class="{
                    '!opacity-100': current_block > {{ forloop.index0 }}
                  }"
                {% endif %}
              {% endunless %}>

              {% render 'component__video', 
                video: block.settings.video,
                background_class: 'color__bg-shade-2',
                container_class: 'min-h-[250px]',
                video_class: 'object-cover',
                enable_custom_controls: true,
                enable_mute_toggle: block.settings.enable_mute_toggle,
                enable_autoplay: block.settings.enable_autoplay,
                enable_loop: block.settings.enable_loop
              %}

            </div>
          </div>
        {% endif %}

      {% endfor %}

    </div>
  </div>
</section>

{% schema %}
{
  "name":"t:sections.chat.name",
  "settings":[
    {
      "type":"header",
      "content":"t:general.headers.spacing.content"
    },
    {
      "type":"range",
      "id":"spacing_top",
      "min":0,
      "max":300,
      "step":10,
      "unit":"px",
      "label":"t:general.settings.top_spacing.label",
      "default":100
    },
    {
      "type":"range",
      "id":"spacing_bottom",
      "min":0,
      "max":300,
      "step":10,
      "unit":"px",
      "label":"t:general.settings.bottom_spacing.label",
      "default":100
    },
    {
      "type":"header",
      "content":"t:general.headers.color.content"
    },
    {
      "type":"select",
      "id":"color_scheme",
      "label":"t:general.settings.color_scheme.label",
      "options":[
        {
          "value":"color__bg-body",
          "label":"t:general.settings.color_scheme.body.label"
        },
        {
          "value":"color__bg-neutral",
          "label":"t:general.settings.color_scheme.neutral.label"
        },
        {
          "value":"color__bg-overlay-1",
          "label":"t:general.settings.color_scheme.accent_1.label"
        },
        {
          "value":"color__bg-overlay-2",
          "label":"t:general.settings.color_scheme.accent_2.label"
        },
        {
          "value":"color__bg-overlay-3",
          "label":"t:general.settings.color_scheme.accent_3.label"
        },
        {
          "value":"color__bg-shade-1",
          "label":"t:general.settings.color_scheme.shade_1.label"
        },
        {
          "value":"color__bg-shade-2",
          "label":"t:general.settings.color_scheme.shade_2.label"
        },
        {
          "value":"color__bg-shade-3",
          "label":"t:general.settings.color_scheme.shade_3.label"
        },
        {
          "value":"color__bg-primary",
          "label":"t:general.settings.color_scheme.primary.label"
        },
        {
          "value":"color__bg-secondary",
          "label":"t:general.settings.color_scheme.secondary.label"
        },
        {
          "value":"color__bg-tertiary",
          "label":"t:general.settings.color_scheme.tertiary.label"
        },
        {
          "value":"custom",
          "label":"t:general.settings.color_scheme.custom.label"
        }
      ],
      "default":"color__bg-body"
    },
    {
      "type":"color",
      "id":"color_background",
      "label":"t:general.settings.color_custom.label",
      "info":"t:general.settings.color_custom.info",
      "default":"#ffffff"
    },
    {
      "type":"select",
      "id":"color_text",
      "label":"t:general.settings.color_text.label",
      "options":[
        {
          "value":"",
          "label":"t:general.settings.color_text.default.label"
        },
        {
          "value":"color__light",
          "label":"t:general.settings.color_text.force_light.label"
        },
        {
          "value":"color__dark",
          "label":"t:general.settings.color_text.force_dark.label"
        }
      ],
      "default":""
    },
    {
      "type":"select",
      "id":"color_border",
      "label":"t:general.settings.color_border.label",
      "options":[
        {
          "value":"color__border-divider-1",
          "label":"t:general.settings.color_border.subtle.label"
        },
        {
          "value":"color__border-selected-1",
          "label":"t:general.settings.color_border.strong.label"
        }
      ],
      "default":"color__border-divider-1"
    },
    {
      "type": "checkbox",
      "id": "enable_color_fade",
      "label":"t:general.settings.enable_color_fade.label",
      "info":"t:general.settings.enable_color_fade.info",
      "default": false
    },
    {
      "type":"header",
      "content":"t:general.headers.style.content"
    },
    {
      "type":"select",
      "id":"style_border",
      "label":"t:general.settings.border_position.label",
      "options":[
        {
          "value":"",
          "label":"t:general.settings.border_position.none.label"
        },
        {
          "value":"border--t-width",
          "label":"t:general.settings.border_position.top.label"
        },
        {
          "value":"border--b-width",
          "label":"t:general.settings.border_position.bottom.label"
        },
        {
          "value":"border--b-width border--t-width",
          "label":"t:general.settings.border_position.top_and_bottom.label"
        }
      ],
      "default":"border--b-width"
    },
    {
      "type":"header",
      "content":"t:general.headers.layout.content"
    },
    {
      "type":"select",
      "id":"layout_x_alignment",
      "label":"t:general.settings.x_alignment.label",
      "options":[
        {
          "value":"justify-start",
          "label":"t:general.settings.x_alignment.left.label"
        },
        {
          "value":"justify-center",
          "label":"t:general.settings.x_alignment.center.label"
        },
        {
          "value":"justify-end",
          "label":"t:general.settings.x_alignment.right.label"
        }
      ],
      "default":"justify-center"
    },
    {
      "type":"range",
      "id":"layout_column_width",
      "label":"t:general.settings.column_width.label",
      "info":"t:general.settings.column_width.info",
      "min":20,
      "max":100,
      "step":10,
      "unit":"%",
      "default":50
    },
    {
      "type":"checkbox",
      "id":"enable_margin",
      "label":"t:general.settings.enable_margin.label",
      "default":true
    },
    {
      "type":"header",
      "content":"t:general.headers.display.content"
    },
    {
      "type":"select",
      "id":"visibility",
      "label":"t:general.settings.visibility.label",
      "options":[
        {
          "value":"",
          "label":"t:general.settings.visibility.all.label"
        },
        {
          "value":"md:hidden",
          "label":"t:general.settings.visibility.mobile.label"
        },
        {
          "value":"hidden md:block",
          "label":"t:general.settings.visibility.desktop.label"
        }
      ],
      "default":""
    }
  ],
  "blocks":[
    {
      "type":"text",
      "name":"t:sections.chat.blocks.text.name",
      "limit":50,
      "settings":[
        {
          "type":"header",
          "content":"t:general.headers.content.content"
        },
        {
          "type":"richtext",
          "id":"content",
          "label":"t:general.settings.content.label",
          "default":{
            "en":"<p>Describe a product, make announcements, or inform customers about a promotion.</p>",
            "es":"<p>Describa un producto, haga anuncios o informe a los clientes sobre una promoción.</p>",
            "it":"<p>Descrivi un prodotto, fai annunci o informa i clienti su una promozione.</p>",
            "de":"<p>Beschreiben Sie ein Produkt, machen Sie Ankündigungen oder informieren Sie Kunden über eine Werbeaktion.</p>",
            "fr":"<p>Décrivez un produit, faites des annonces ou informez les clients d’une promotion.</p>"
          }
        },
        {
          "type":"header",
          "content":"t:general.headers.color.content"
        },
        {
          "type":"select",
          "id":"color_scheme",
          "label":"t:general.settings.color_scheme.label",
          "options":[
            {
              "value":"color__bg-body color__text",
              "label":"t:general.settings.color_scheme.body.label"
            },
            {
              "value":"color__bg-neutral color__text",
              "label":"t:general.settings.color_scheme.neutral.label"
            },
            {
              "value":"color__bg-overlay-1 color__text",
              "label":"t:general.settings.color_scheme.accent_1.label"
            },
            {
              "value":"color__bg-overlay-2 color__text",
              "label":"t:general.settings.color_scheme.accent_2.label"
            },
            {
              "value":"color__bg-overlay-3 color__text",
              "label":"t:general.settings.color_scheme.accent_3.label"
            },
            {
              "value":"color__bg-shade-1 color__text",
              "label":"t:general.settings.color_scheme.shade_1.label"
            },
            {
              "value":"color__bg-shade-2 color__text",
              "label":"t:general.settings.color_scheme.shade_2.label"
            },
            {
              "value":"color__bg-shade-3 color__text",
              "label":"t:general.settings.color_scheme.shade_3.label"
            },
            {
              "value":"color__bg-primary color__primary",
              "label":"t:general.settings.color_scheme.primary.label"
            },
            {
              "value":"color__bg-secondary color__secondary",
              "label":"t:general.settings.color_scheme.secondary.label"
            },
            {
              "value":"color__bg-tertiary color__tertiary",
              "label":"t:general.settings.color_scheme.tertiary.label"
            },
            {
              "value":"color__bg-transparent",
              "label":"t:general.settings.color_scheme.transparent.label"
            }
          ],
          "default":"color__bg-body color__text"
        },
        {
          "type":"header",
          "content":"t:general.headers.layout.content"
        },
        {
          "type":"select",
          "id":"layout_x_alignment",
          "label":"t:general.settings.x_alignment.label",
          "options":[
            {
              "value":"left",
              "label":"t:general.settings.x_alignment.left.label"
            },
            {
              "value":"right",
              "label":"t:general.settings.x_alignment.right.label"
            }
          ],
          "default":"left"
        },
        {
          "type":"header",
          "content":"t:general.headers.display.content"
        },
        {
          "type":"range",
          "id":"delay",
          "min":0,
          "max":10,
          "step":1,
          "unit":"s",
          "label":"t:general.settings.delay.label",
          "default":2
        }
      ]
    },
    {
      "type":"avatar",
      "name":"t:sections.chat.blocks.avatar.name",
      "limit":50,
      "settings":[
        {
          "type":"header",
          "content":"t:general.headers.content.content"
        },
        {
          "type":"image_picker",
          "id":"image",
          "label":"t:general.settings.image.label"
        },
        {
          "type":"text",
          "id":"time",
          "label":"t:general.settings.time.label",
          "default":{
            "en":"1m ago",
            "es":"Hace 1m",
            "it":"1m fa",
            "de":"Vor 1m",
            "fr":"Il y a 1m"
          }
        },
        {
          "type":"header",
          "content":"t:general.headers.layout.content"
        },
        {
          "type":"select",
          "id":"layout_x_alignment",
          "label":"t:general.settings.x_alignment.label",
          "options":[
            {
              "value":"left",
              "label":"t:general.settings.x_alignment.left.label"
            },
            {
              "value":"right",
              "label":"t:general.settings.x_alignment.right.label"
            }
          ],
          "default":"left"
        }
      ]
    },
    {
      "type":"image",
      "name":"t:sections.chat.blocks.image.name",
      "limit":50,
      "settings":[
        {
          "type":"header",
          "content":"t:general.headers.content.content"
        },
        {
          "type":"image_picker",
          "id":"image",
          "label":"t:general.settings.image.label"
        },
        {
          "type":"header",
          "content":"t:general.headers.layout.content"
        },
        {
          "type":"select",
          "id":"layout_x_alignment",
          "label":"t:general.settings.x_alignment.label",
          "options":[
            {
              "value":"left",
              "label":"t:general.settings.x_alignment.left.label"
            },
            {
              "value":"right",
              "label":"t:general.settings.x_alignment.right.label"
            }
          ],
          "default":"left"
        },
        {
          "type":"header",
          "content":"t:general.headers.display.content"
        },
        {
          "type":"range",
          "id":"delay",
          "min":0,
          "max":10,
          "step":1,
          "unit":"s",
          "label":"t:general.settings.delay.label",
          "default":2
        }
      ]
    },
    {
      "type":"video",
      "name":"t:sections.chat.blocks.video.name",
      "settings":[
        {
          "type":"header",
          "content":"t:general.headers.content.content"
        },
        {
          "type":"video",
          "id":"video",
          "label":"t:general.settings.video.label"
        },
        {
          "type":"checkbox",
          "id":"enable_autoplay",
          "label":"t:general.settings.enable_video_autoplay.label",
          "default":true
        },
        {
          "type":"checkbox",
          "id":"enable_mute_toggle",
          "label":"t:general.settings.enable_mute_button.label",
          "default":true
        },
        {
          "type":"checkbox",
          "id":"enable_loop",
          "label":"t:general.settings.enable_video_loop.label",
          "default":true
        },
        {
          "type":"header",
          "content":"t:general.headers.layout.content"
        },
        {
          "type":"select",
          "id":"layout_x_alignment",
          "label":"t:general.settings.x_alignment.label",
          "options":[
            {
              "value":"left",
              "label":"t:general.settings.x_alignment.left.label"
            },
            {
              "value":"right",
              "label":"t:general.settings.x_alignment.right.label"
            }
          ],
          "default":"left"
        },
        {
          "type":"header",
          "content":"t:general.headers.display.content"
        },
        {
          "type":"range",
          "id":"delay",
          "min":0,
          "max":10,
          "step":1,
          "unit":"s",
          "label":"t:general.settings.delay.label",
          "default":2
        }
      ]
    }
  ],
  "presets":[
    {
      "name":"t:sections.chat.name",
      "settings": {
        "spacing_top": 100,
        "spacing_bottom": 100,
        "color_background": "#ffffff",
        "color_text": "",
        "color_border": "color__border-divider-1",
        "style_border": "border--b-width",
        "layout_x_alignment": "justify-center",
        "enable_margin": true,
        "visibility": ""
      },
      "blocks":[
        {
          "type": "text",
          "settings": {
            "content": "<p>Hi there! Thomas here, founder of Space<\/p>",
            "color_scheme": "color__bg-shade-1 color__text",
            "layout_x_alignment": "left",
            "delay": 1
          }
        },
        {
          "type": "text",
          "settings": {
            "content": "<p>Are you looking for something custom from our store?<\/p>",
            "color_scheme": "color__bg-shade-1 color__text",
            "layout_x_alignment": "left",
            "delay": 2
          }
        },
        {
          "type": "avatar",
          "settings": {
            "time": "1m ago",
            "layout_x_alignment": "left"
          }
        },
        {
          "type": "text",
          "settings": {
            "content": "<p>Yes! But I don't know where to start.<\/p>",
            "color_scheme": "color__bg-secondary color__secondary",
            "layout_x_alignment": "right",
            "delay": 1
          }
        },
        {
          "type": "text",
          "settings": {
            "content": "<p>Can you help?<\/p>",
            "color_scheme": "color__bg-secondary color__secondary",
            "layout_x_alignment": "right",
            "delay": 2
          }
        },
        {
          "type": "avatar",
          "settings": {
            "time": "1m ago",
            "layout_x_alignment": "right"
          }
        },
        {
          "type": "text",
          "settings": {
            "content": "<p>No problem. Just <a href=\"\/\" title=\"\/\">shoot us a message<\/a> and our team can help you out.<\/p>",
            "color_scheme": "color__bg-shade-1 color__text",
            "layout_x_alignment": "left",
            "delay": 1
          }
        },
        {
          "type": "avatar",
          "settings": {
            "time": "1m ago",
            "layout_x_alignment": "left"
          }
        }
      ]
    }
  ],
  "disabled_on":{
    "groups":[
      "custom.overlay"
    ]
  }
}
{% endschema %}