<!-- sections/image-text.liquid -->
{% comment %} 
  Animate an image while scrolling

  Globals:
  - layout_horizontal: {string} Horizontal margin from global theme settings.
{% endcomment %}

{% liquid
  capture left_column_width
    echo section.settings.layout_column_width | append: "%"
  endcapture
  capture right_column_width
    echo 100 | minus: section.settings.layout_column_width | append: "%"
  endcapture

  assign has_content_blocks = false
  for block in section.blocks
    if block.type == 'content'
      assign has_content_blocks = true
    endif
  endfor
%}

{% capture block_ids %}
  {% for block in section.blocks %}
    {% if block.type == 'image' %}
      '{{ block.id }}'{% unless forloop.last %},{% endunless %}
    {% endif %}
  {% endfor %}
{% endcapture %}

<section 
  id="{{ section.id }}"
  class="
    animation-1000
    {{ section.settings.visibility }}
    {{ section.settings.color_border }}
    {{ section.settings.style_border }}
    {% unless section.settings.enable_color_fade %}
      {{ section.settings.color_text }}
      {% unless section.settings.color_scheme == 'custom' %}
        {{ section.settings.color_scheme }}
      {% endunless %}
    {% endunless %}
  "
  {% if section.settings.color_scheme == 'custom' %}
    {% unless section.settings.enable_color_fade %}
      style="
        background:{{ section.settings.color_background }};
      "
    {% endunless %}
  {% endif %}
  {% if section.settings.enable_color_fade %}
    :class="`${body_background_color} ${body_text_color}`"
    :style="{ background: body_background_color }"
    x-intersect.margin.-50%="
      body_background_color = '{% if section.settings.color_scheme == 'custom' %}{{ section.settings.color_background }}{% else %}{{ section.settings.color_scheme }}{% endif %}';
      body_text_color = '{{ section.settings.color_text }}';
    "
  {% endif %}
  x-data="{
    scrolled_depth: 0,
    selected_block: '{{ section.blocks[0].id }}',
    block_ids: [{{ block_ids }}],
    onScroll: function() {
      const element = this.$refs.scroll_element;
      const elementRect = element.getBoundingClientRect();
      const windowHeight = window.innerHeight;
      const offsetHeight = elementRect.height * 0.4;
      const elementTop = elementRect.top + offsetHeight;
      const elementBottom = elementRect.bottom - offsetHeight;
      const elementHeight = elementBottom - elementTop;
      const increment = 100 / this.block_ids.length;

      if (elementBottom <= 0) {
        this.scrolled_depth = 100;
      } else if (elementTop >= windowHeight) {
        this.scrolled_depth = 0;
      } else {
        this.scrolled_depth = ((windowHeight - elementTop) / (windowHeight + elementHeight)) * 100;
        this.scrolled_depth = Math.min(100, Math.max(0, this.scrolled_depth));
      }

      const blockIndex = Math.min(this.block_ids.length - 1, Math.floor(this.scrolled_depth / increment));
      this.selected_block = this.block_ids[blockIndex];
    }
  }" 
  @scroll.window.throttle="
    onScroll();
  ">
  <div
    class="
      {% if section.settings.enable_margin %}
        {{ settings.x_margin }}
      {% else %}
        section-full
      {% endif %}
    "
    style="
      padding-top:{{ section.settings.spacing_top }}px;
      padding-bottom:{{ section.settings.spacing_bottom }}px;
      {% unless section.settings.enable_margin %}
        {% unless settings.gap_size == 1 %}
          padding-left: {{ settings.gap_size }}px;
          padding-right: {{ settings.gap_size }}px;
        {% endunless %}
      {% endunless %}
    ">
    <div 
      class="
        flex flex-row items-start flex-wrap md:flex-nowrap
        {% if section.settings.enable_swapped_columns %}
          flex-row-reverse
        {% endif %}
      "
      style="
        gap: {{ settings.gap_size }}px;
      "
      x-ref="scroll_element">

      {% comment %} Content {% endcomment %}
      {% if has_content_blocks %}
        <div 
          class="
            grow md:sticky top-0 w-full
            md:w-[{{ left_column_width }}]
          ">
          <div class="grid"
            style="
              gap: {{ settings.gap_size }}px;
            ">
            {% for block in section.blocks %}
              {% if block.type == 'content' %}

                {% render 'component__content-item',
                  heading: block.settings.heading,
                  content: block.settings.content,
                  button_label: block.settings.button_label,
                  url: block.settings.url,
                  image: block.settings.image,
                  image_background: block.settings.image_background,
                  video: block.settings.video,
                  enable_autoplay: block.settings.enable_autoplay,
                  enable_mute_toggle: block.settings.enable_mute_toggle,
                  enable_loop: block.settings.enable_loop,
                  color_scheme: block.settings.color_scheme,
                  color_border: block.settings.color_border,
                  color_text: block.settings.color_text,
                  color_button: block.settings.color_button,
                  enable_gradient: block.settings.enable_gradient,
                  spacing_minimum_height: block.settings.spacing_minimum_height,
                  enable_padding: block.settings.enable_padding,
                  layout_col_span_desktop: block.settings.layout_col_span,
                  layout_row_span_desktop: block.settings.layout_row_span,
                  layout_y_alignment: block.settings.layout_y_alignment,
                  layout_x_alignment: block.settings.layout_x_alignment
                %}

              {% endif %}
            {% endfor %}
          </div>
        </div>
      {% endif %}

      {% comment %} Media {% endcomment %}
      <div 
        class="
          grow md:sticky top-0 w-full 
          md:w-[{{ right_column_width }}]
        ">
        {% for block in section.blocks %}
          {% if block.type == 'image' %}
            <div 
              x-show="selected_block === '{{ block.id }}'"
              {% unless forloop.index0 == 0 %}
                x-cloak
              {% endunless %}>
              {% if block.settings.image == blank %}
                <div
                  class="w-full h-full aspect-1">
                  {% case forloop.index %}
                    {% when 1 %}
                      <div class="w-full h-full">
                        {{ 'hero-apparel-1' | placeholder_svg_tag: 'w-full h-full' }}
                      </div>
                    {% when 2 %}
                      <div class="w-full h-full">
                        {{ 'hero-apparel-2' | placeholder_svg_tag: 'w-full h-full' }}
                      </div>
                    {% when 3 %}
                      <div class="w-full h-full">
                        {{ 'hero-apparel-3' | placeholder_svg_tag: 'w-full h-full' }}
                      </div>
                    {% else %}
                  {% endcase %}
                </div>
              {% else %}
                {% render 'component__image',
                  image: block.settings.image,
                  max_width: 2000,
                  background_class: 'color__bg-shade-2',
                  crop_class: 'object-cover',
                  enable_lazy_load: true,
                  enable_2x: true
                %}
              {% endif %}
            </div>

          {% endif %}
        {% endfor %}
      </div>
      
    </div>
  </div>
</section>

{% schema %}
{
  "name":"t:sections.image_with_text.name",
  "settings":[
    {
      "type": "header",
      "content": "t:general.headers.spacing.content"
    },
    {
      "type": "range",
      "id": "spacing_top",
      "min": 0,
      "max": 300,
      "step": 10,
      "unit": "px",
      "label": "t:general.settings.top_spacing.label",
      "default": 100
    },
    {
      "type": "range",
      "id": "spacing_bottom",
      "min": 0,
      "max": 300,
      "step": 10,
      "unit": "px",
      "label": "t:general.settings.bottom_spacing.label",
      "default": 100
    },
    {
      "type":"header",
      "content":"t:general.headers.color.content"
    },
    {
      "type":"select",
      "id":"color_scheme",
      "label":"t:general.settings.color_scheme.label",
      "options":[
        {
          "value":"color__bg-body",
          "label":"t:general.settings.color_scheme.body.label"
        },
        {
          "value":"color__bg-neutral",
          "label":"t:general.settings.color_scheme.neutral.label"
        },
        {
          "value":"color__bg-overlay-1",
          "label":"t:general.settings.color_scheme.accent_1.label"
        },
        {
          "value":"color__bg-overlay-2",
          "label":"t:general.settings.color_scheme.accent_2.label"
        },
        {
          "value":"color__bg-overlay-3",
          "label":"t:general.settings.color_scheme.accent_3.label"
        },
        {
          "value":"color__bg-shade-1",
          "label":"t:general.settings.color_scheme.shade_1.label"
        },
        {
          "value":"color__bg-shade-2",
          "label":"t:general.settings.color_scheme.shade_2.label"
        },
        {
          "value":"color__bg-shade-3",
          "label":"t:general.settings.color_scheme.shade_3.label"
        },
        {
          "value":"color__bg-primary",
          "label":"t:general.settings.color_scheme.primary.label"
        },
        {
          "value":"color__bg-secondary",
          "label":"t:general.settings.color_scheme.secondary.label"
        },
        {
          "value":"color__bg-tertiary",
          "label":"t:general.settings.color_scheme.tertiary.label"
        },
        {
          "value":"custom",
          "label":"t:general.settings.color_scheme.custom.label"
        }
      ],
      "default":"color__bg-body"
    },
    {
      "type":"color",
      "id":"color_background",
      "label":"t:general.settings.color_custom.label",
      "info":"t:general.settings.color_custom.info",
      "default":"#ffffff"
    },
    {
      "type":"select",
      "id":"color_text",
      "label":"t:general.settings.color_text.label",
      "options":[
        {
          "value":"",
          "label":"t:general.settings.color_text.default.label"
        },
        {
          "value":"color__light",
          "label":"t:general.settings.color_text.force_light.label"
        },
        {
          "value":"color__dark",
          "label":"t:general.settings.color_text.force_dark.label"
        }
      ],
      "default":""
    },
    {
      "type":"select",
      "id":"color_border",
      "label":"t:general.settings.color_border.label",
      "options":[
        {
          "value":"color__border-divider-1",
          "label":"t:general.settings.color_border.subtle.label"
        },
        {
          "value":"color__border-selected-1",
          "label":"t:general.settings.color_border.strong.label"
        }
      ],
      "default":"color__border-divider-1"
    },
    {
      "type": "checkbox",
      "id": "enable_color_fade",
      "label":"t:general.settings.enable_color_fade.label",
      "info":"t:general.settings.enable_color_fade.info",
      "default": false
    },
    {
      "type":"header",
      "content":"t:general.headers.style.content"
    },
    {
      "type":"select",
      "id":"style_border",
      "label":"t:general.settings.border_position.label",
      "options":[
        {
          "value":"",
          "label":"t:general.settings.border_position.none.label"
        },
        {
          "value":"border--t-width",
          "label":"t:general.settings.border_position.top.label"
        },
        {
          "value":"border--b-width",
          "label":"t:general.settings.border_position.bottom.label"
        },
        {
          "value":"border--b-width border--t-width",
          "label":"t:general.settings.border_position.top_and_bottom.label"
        }
      ],
      "default":"border--b-width"
    },
    {
      "type":"header",
      "content":"t:general.headers.layout.content"
    },
    {
      "type":"range",
      "id":"layout_column_width",
      "label":"t:general.settings.column_width.label",
      "info":"t:general.settings.column_width.info",
      "min":20,
      "max":80,
      "step":10,
      "unit":"%",
      "default":50
    },
    {
      "type":"checkbox",
      "id":"enable_margin",
      "label":"t:general.settings.enable_margin.label",
      "default":true
    },
    {
      "type":"checkbox",
      "id":"enable_swapped_columns",
      "label":"t:general.settings.enable_swapped_columns.label",
      "default":false
    },
    {
      "type":"header",
      "content":"t:general.headers.display.content"
    },
    {
      "type":"select",
      "id":"visibility",
      "label":"t:general.settings.visibility.label",
      "options":[
        {
          "value":"",
          "label":"t:general.settings.visibility.all.label"
        },
        {
          "value":"md:hidden",
          "label":"t:general.settings.visibility.mobile.label"
        },
        {
          "value":"hidden md:block",
          "label":"t:general.settings.visibility.desktop.label"
        }
      ],
      "default":""
    }
  ],
  "blocks":[
    {
      "type":"content",
      "name":"t:sections.reveal.blocks.content.name",
      "limit":20,
      "settings":[
        {
          "type":"header",
          "content":"t:general.headers.content.content"
        },
        {
          "type":"text",
          "id":"heading",
          "label":"t:general.settings.heading.label",
          "default":{
            "en":"Block heading",
            "es":"Encabezado de bloque",
            "it":"Intestazione del blocco",
            "de":"Blocküberschrift",
            "fr":"En-tête de bloc"
          }
        },
        {
          "type":"richtext",
          "id":"content",
          "label":"t:general.settings.content.label",
          "default":{
            "en":"<p>Describe a product, make announcements, or inform customers about a promotion.</p>",
            "es":"<p>Describa un producto, haga anuncios o informe a los clientes sobre una promoción.</p>",
            "it":"<p>Descrivi un prodotto, fai annunci o informa i clienti su una promozione.</p>",
            "de":"<p>Beschreiben Sie ein Produkt, machen Sie Ankündigungen oder informieren Sie Kunden über eine Werbeaktion.</p>",
            "fr":"<p>Décrivez un produit, faites des annonces ou informez les clients d’une promotion.</p>"
          }
        },
        {
          "type":"text",
          "id":"button_label",
          "label":"t:general.settings.button_label.label",
          "default":{
            "en":"Button",
            "es":"Botón",
            "it":"Bottone",
            "de":"Knopf",
            "fr":"Bouton"
          }
        },
        {
          "type":"url",
          "id":"url",
          "label":"t:general.settings.url.label",
          "info":"t:general.settings.url.info",
          "default":"/collections/all"
        },
        {
          "type":"image_picker",
          "id":"image",
          "label":"t:general.settings.image.label"
        },
        {
          "type":"image_picker",
          "id":"image_background",
          "label":"t:general.settings.image_background.label"
        },
        {
          "type":"video",
          "id":"video",
          "label":"t:general.settings.video.label"
        },
        {
          "type":"checkbox",
          "id":"enable_autoplay",
          "label":"t:general.settings.enable_video_autoplay.label",
          "default":true
        },
        {
          "type":"checkbox",
          "id":"enable_mute_toggle",
          "label":"t:general.settings.enable_mute_button.label",
          "default":true
        },
        {
          "type":"checkbox",
          "id":"enable_loop",
          "label":"t:general.settings.enable_video_loop.label",
          "default":true
        },
        {
          "type":"header",
          "content":"t:general.headers.style.content"
        },
        {
          "type":"range",
          "id":"spacing_minimum_height",
          "min":0,
          "max":500,
          "step":10,
          "unit":"px",
          "label":"t:general.settings.minimum_height.label",
          "default":250
        },
        {
          "type":"checkbox",
          "id":"enable_padding",
          "label":"t:general.settings.enable_padding.label",
          "default":true
        },
        {
          "type":"header",
          "content":"t:general.headers.color.content"
        },
        {
          "type":"select",
          "id":"color_scheme",
          "label":"t:general.settings.color_scheme.label",
          "options":[
            {
              "value":"color__bg-body color__text",
              "label":"t:general.settings.color_scheme.body.label"
            },
            {
              "value":"color__bg-neutral color__text",
              "label":"t:general.settings.color_scheme.neutral.label"
            },
            {
              "value":"color__bg-overlay-1 color__text",
              "label":"t:general.settings.color_scheme.accent_1.label"
            },
            {
              "value":"color__bg-overlay-2 color__text",
              "label":"t:general.settings.color_scheme.accent_2.label"
            },
            {
              "value":"color__bg-overlay-3 color__text",
              "label":"t:general.settings.color_scheme.accent_3.label"
            },
            {
              "value":"color__bg-shade-1 color__text",
              "label":"t:general.settings.color_scheme.shade_1.label"
            },
            {
              "value":"color__bg-shade-2 color__text",
              "label":"t:general.settings.color_scheme.shade_2.label"
            },
            {
              "value":"color__bg-shade-3 color__text",
              "label":"t:general.settings.color_scheme.shade_3.label"
            },
            {
              "value":"color__bg-primary color__primary",
              "label":"t:general.settings.color_scheme.primary.label"
            },
            {
              "value":"color__bg-secondary color__secondary",
              "label":"t:general.settings.color_scheme.secondary.label"
            },
            {
              "value":"color__bg-tertiary color__tertiary",
              "label":"t:general.settings.color_scheme.tertiary.label"
            },
            {
              "value":"color__bg-transparent",
              "label":"t:general.settings.color_scheme.transparent.label"
            }
          ],
          "default":"color__bg-body color__text"
        },
        {
          "type":"select",
          "id":"color_border",
          "label":"t:general.settings.color_border.label",
          "options": [
            {
              "value": "outline--width color__outline-divider-1",
              "label":"t:general.settings.color_border.subtle.label"
            },
            {
              "value": "outline--width color__outline-selected-1",
              "label":"t:general.settings.color_border.strong.label"
            },
            {
              "value":"",
              "label":"t:general.settings.color_border.none.label"
            }
          ],
          "default": "outline--width color__outline-divider-1"
        },
        {
          "type":"select",
          "id":"color_text",
          "label":"t:general.settings.color_text.label",
          "options":[
            {
              "value":"color__text",
              "label":"t:general.settings.color_text.default.label"
            },
            {
              "value":"color__light",
              "label":"t:general.settings.color_text.force_light.label"
            },
            {
              "value":"color__dark",
              "label":"t:general.settings.color_text.force_dark.label"
            }
          ],
          "default":"color__text"
        },
        {
          "type":"select",
          "id":"color_button",
          "label":"t:general.settings.color_button.label",
          "options":[
            {
              "value":"btn",
              "label":"t:general.settings.color_button.primary.label"
            },
            {
              "value":"btn btn--secondary",
              "label":"t:general.settings.color_button.secondary.label"
            },
            {
              "value":"btn btn--tertiary",
              "label":"t:general.settings.color_button.tertiary.label"
            },
            {
              "value":"btn btn--neutral",
              "label":"t:general.settings.color_button.neutral.label"
            },
            {
              "value":"btn btn--plain",
              "label":"t:general.settings.color_button.plain.label"
            },
            {
              "value":"btn btn--outline",
              "label":"t:general.settings.color_button.outline.label"
            },
            {
              "value":"btn btn--outline-alt",
              "label":"t:general.settings.color_button.inverted_outline.label"
            },
            {
              "value":"btn btn--minimal",
              "label":"t:general.settings.color_button.link.label"
            },
            {
              "value":"btn btn--minimal-alt",
              "label":"t:general.settings.color_button.inverted_link.label"
            }
          ],
          "default":"btn btn--plain"
        },
        {
          "type":"checkbox",
          "id":"enable_gradient",
          "label":"t:general.settings.enable_gradient.label",
          "default":false
        },
        {
          "type":"header",
          "content":"t:general.headers.layout.content"
        },
        {
          "type":"select",
          "id":"layout_y_alignment",
          "label":"t:general.settings.y_alignment.label",
          "options":[
            {
              "value":"justify-start",
              "label":"t:general.settings.y_alignment.top.label"
            },
            {
              "value":"justify-center",
              "label":"t:general.settings.y_alignment.middle.label"
            },
            {
              "value":"justify-end",
              "label":"t:general.settings.y_alignment.bottom.label"
            }
          ],
          "default":"justify-end"
        },
        {
          "type":"select",
          "id":"layout_x_alignment",
          "label":"t:general.settings.x_alignment.label",
          "options":[
            {
              "value":"left",
              "label":"t:general.settings.x_alignment.left.label"
            },
            {
              "value":"center",
              "label":"t:general.settings.x_alignment.center.label"
            },
            {
              "value":"justify",
              "label":"t:general.settings.x_alignment.justify.label"
            },
            {
              "value":"right",
              "label":"t:general.settings.x_alignment.right.label"
            }
          ],
          "default":"left"
        }
      ]
    },
    {
      "type":"image",
      "name":"t:sections.image_with_text.blocks.image.name",
      "limit":20,
      "settings":[
        {
          "type":"image_picker",
          "id":"image",
          "label":"t:general.settings.image.label"
        }
      ]
    }
  ],
  "presets":[
    {
      "name":"t:sections.image_with_text.name",
      "settings":{
        "spacing_top": 100,
        "spacing_bottom": 100,
        "color_background": "#ffffff",
        "color_text": "",
        "color_border": "color__border-divider-1",
        "style_border": "border--b-width",
        "layout_column_width": 30,
        "enable_margin": true,
        "enable_swapped_columns": false,
        "visibility": ""
      },
      "blocks": [
        {
          "type": "image",
          "settings": {
          }
        },
        {
          "type": "image",
          "settings": {
          }
        },
        {
          "type": "image",
          "settings": {
          }
        },
        {
          "type": "content",
          "settings": {
            "heading": "Block heading",
            "content": "<p>Describe a product, make announcements, or inform customers about a promotion.<\/p>",
            "button_label": "Button",
            "url": "shopify:\/\/collections\/all",
            "enable_autoplay": true,
            "enable_mute_toggle": true,
            "enable_loop": true,
            "spacing_minimum_height": 250,
            "enable_padding": true,
            "color_scheme": "color__bg-body color__text",
            "color_border": "outline--width color__outline-divider-1",
            "color_text": "color__text",
            "color_button": "btn--small btn--outline",
            "enable_gradient": false,
            "layout_y_alignment": "justify-end",
            "layout_x_alignment": "left"
          }
        },
        {
          "type": "content",
          "settings": {
            "heading": "Block heading",
            "content": "<p>Describe a product, make announcements, or inform customers about a promotion.<\/p>",
            "button_label": "Button",
            "url": "shopify:\/\/collections\/all",
            "enable_autoplay": true,
            "enable_mute_toggle": true,
            "enable_loop": true,
            "spacing_minimum_height": 250,
            "enable_padding": true,
            "color_scheme": "color__bg-body color__text",
            "color_border": "outline--width color__outline-divider-1",
            "color_text": "color__text",
            "color_button": "btn--small btn--outline",
            "enable_gradient": false,
            "layout_y_alignment": "justify-end",
            "layout_x_alignment": "left"
          }
        },
        {
          "type": "content",
          "settings": {
            "heading": "Block heading",
            "content": "<p>Describe a product, make announcements, or inform customers about a promotion.<\/p>",
            "button_label": "Button",
            "url": "shopify:\/\/collections\/all",
            "enable_autoplay": true,
            "enable_mute_toggle": true,
            "enable_loop": true,
            "spacing_minimum_height": 250,
            "enable_padding": true,
            "color_scheme": "color__bg-body color__text",
            "color_border": "outline--width color__outline-divider-1",
            "color_text": "color__text",
            "color_button": "btn--small btn--outline",
            "enable_gradient": false,
            "layout_y_alignment": "justify-end",
            "layout_x_alignment": "left"
          }
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["custom.overlay"]
  }
}
{% endschema %}