<!-- sections/banner.liquid -->
{% comment %} 
This is a banner component with either a background image or video and a text overlay.

  Globals:
  - layout_horizontal: {string} Class string to set horizontal margin.
  - enable_animations: {boolean} Global setting to determine if animations are enabled.
  - layout_header_overlap: {integer} Size when setting header overlap.

  Recommendations:
  - Use images or videos that contrast well with the text overlay.
{% endcomment %}

{% liquid
  
  assign image_classes = ' object-cover h-full w-full'

  assign enable_lazy_load = true
  if section.index == 1
    assign enable_lazy_load = false
  endif

  assign video = section.settings.video_background
  assign container_class = 'max-w-none md:min-h-full min-w-full h-full'
  assign video_class = 'object-cover'
  assign enable_custom_controls = false
  assign enable_mute_toggle = false
  assign enable_play_button = true
  assign enable_autoplay = false
  assign enable_loop = false
%}

<section
  class="
    group
    {{ section.settings.visibility }}
    {{ section.settings.color_border }}
    {{ section.settings.style_border }}
    {% if section.settings.enable_border_margin %}
      padding--gap
    {% endif %}
  "
  x-data="{
    mouse_x: 0,
    mouse_y: 0
  }"
  @mousemove="
    mouse_x = $event.clientX - $refs.banner.getBoundingClientRect().left;
    mouse_y = $event.clientY - $refs.banner.getBoundingClientRect().top;
  "
  x-ref="banner">
  <div
    id="{{ section.id }}"
    class="
      relative overflow-clip flex items-center justify-center !no-underline hover:no-underline hover:!opacity-100
      {{ section.settings.color_scheme }} 
      {% if section.settings.enable_header_overlap %}
        banner--overlap
      {% endif %}
      {% if section.settings.enable_border_margin %}
        border--radius
      {% endif %}
      {% if section.settings.layout_y_spacing == 'image' %}
        pt-0
      {% endif %}
    "
    {% if section.settings.url != blank %}
      tabindex="-1"
    {% endif %}
    {% if section.settings.enable_header_overlap %}
      x-init="
        has_banner_overlap = true;
        header_color = header_overlay_color;
        header_border = header_overlay_border;
      "
    {% endif %}>

    {% comment %} Media {% endcomment %}
    <div 
      class="
        h-full w-full top-0
        {% if settings.enable_animations %}
          motion-safe:scroll-blurin-2-20
        {% endif %}
        {% unless section.settings.layout_y_spacing == 'image' %}
          absolute
        {% endunless %}
      ">
      
      {% comment %} Image background {% endcomment %}
      <div 
        class="
          w-full h-full animation-1000
          {% unless section.settings.layout_y_spacing == 'image' %}
            absolute
          {% endunless %}
        ">
        
        {% comment %} Placeholder {% endcomment %}
        {% if section.settings.image_background_desktop == blank %}
          <div 
            class="
              w-full h-full z-20
              {% unless section.settings.layout_y_spacing == 'image' %}
                absolute 
              {% else %}
                relative
              {% endunless %}
            ">
            {{ 'hero-apparel-1' | placeholder_svg_tag: 'w-full h-full' }}
          </div>
        {% endif %}

        {% comment %} Desktop image {% endcomment %}
        {% if section.settings.image_background_desktop %}
          <div
            class="banner-img 
              w-full h-full z-20
              {% unless section.settings.layout_y_spacing == 'image' %}
                absolute 
              {% else %}
                relative
              {% endunless %}
            ">
            {% render 'component__image',
              image: section.settings.image_background_desktop,
              max_width: 5760,
              container_class: 'hidden md:block h-full w-full z-10',
              image_class: image_classes,
              crop_class: image_classes,
              enable_lazy_load: enable_lazy_load,
              enable_2x: true
            %}
          </div>
        {% endif %}

        {% comment %} Mobile image {% endcomment %}
        {% if section.settings.image_background_mobile == blank %}
          {% if section.settings.image_background_desktop  %}
            <div
              class="banner-img 
                w-full h-full z-20
                {% unless section.settings.layout_y_spacing == 'image' %}
                  absolute 
                {% else %}
                  relative
                {% endunless %}
              ">
              {% render 'component__image',
                image: section.settings.image_background_desktop,
                max_width: 900,
                container_class: 'block md:hidden w-full h-full z-10',
                image_class: image_classes,
                crop_class: image_classes,
                enable_lazy_load: enable_lazy_load,
                enable_2x: true
              %}
            </div>
          {% endif %}
        {% else %}
          <div
            class=" banner-img
              w-full h-full z-20
              {% unless section.settings.layout_y_spacing == 'image' %}
                absolute 
              {% else %}
                relative
              {% endunless %}
            ">
            {% render 'component__image',
              image: section.settings.image_background_mobile,
              max_width: 900,
              container_class: 'block md:hidden w-full h-full',
              image_class: image_classes,
              crop_class: image_classes,
              enable_lazy_load: enable_lazy_load,
              enable_2x: true
            %}
          </div>
        {% endif %}
        
      </div>

      {% comment %} Video background {% endcomment %}
      {% unless section.settings.video_background == blank %}
        <div 
          class="
            top-0 bottom-0 left-0 right-0 z-10
            {% if section.settings.image_background_desktop != blank %}
              absolute  
            {% else %}
              relative
            {% endif %}
          ">

          <div 
            class="
              relative w-full h-full overflow-hidden group/video
              {{ background_class }}
              {{ container_class }}
              {% if ratio_class %}
                {{ ratio_class }}
              {% endif %}
            " 
            style="
              {% unless ratio_class %}
                {% if video.aspect_ratio %}
                  aspect-ratio:{{ video.aspect_ratio }};
                {% else %}
                  aspect-ratio: 16 / 9;
                {% endif %}
              {% endunless %}
            "
            x-data="{
              video_muted: true,
              video_playing: {% if enable_autoplay %} true {% else %} false {% endif %}
            }">
            <video 
              class="
                absolute h-full w-full left-0 top-0
                {{ video_class }}
              "
              style="
                aspect-ratio:{{ video.aspect_ratio }};
              "
              muted
              playsinline
              poster="{{ video.preview_image | image_url: width: 1200 }}"
              {% if enable_default_controls %}
                controls="controls"
              {% endif %}
              {% if enable_autoplay %} 
                autoplay 
              {% endif %}
              {% if enable_loop %} 
                loop 
              {% endif %}
              x-ref="video">
              {% for source in video.sources %}
                <source src="{{ source.url }}" type="{{ source.mime_type }}">
              {% endfor %}
            </video>
          
            {% if enable_play_button %}
              <button id="videoBtn" 
                class="videoBtn absolute top-0 bottom-0 z-10 flex items-center justify-center w-full h-full overflow-hidden cursor-pointer"
                x-ref="playBtn"
                @click="
                  $refs.video.play();
                  $refs.video.currentTime = 0;
                  $refs.video.controls = true;
                  $refs.video.muted = false;
                  $refs.playBtn.style.display = 'none';
                ">
                <span 
                  class="
                    btn btn--small btn--plain absolute
                    {{ section.settings.color_button }}
                  ">
                  {{ 'actions.play' | t }}
                </span>
              </button> 
            {% endif %}
          
          </div>
          
        </div>
      {% endunless %}

    </div>

    {% comment %} Banner content {% endcomment %}
    <div 
      class="
        z-30 w-full h-full
        {% if settings.enable_animations %}
          motion-safe:scroll-blurinandout-5-100
        {% endif %}
        {% if section.settings.layout_y_spacing == 'image' %}
          absolute
        {% else %}
          relative
        {% endif %}
      "
      {% if section.settings.enable_gradient %}
        style="background: linear-gradient( to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4) );"
      {% endif %}>

      <div 
        class="
          w-full flex flex-row flex-wrap py-14
          {% if section.settings.enable_margin %}
            {{ settings.x_margin }}
          {% else %}
            window--full
          {% endif %}
          {% if section.settings.layout_y_spacing == 'image' %}
            h-full
          {% endif %}
          {{ section.settings.layout_x_alignment }}
          {{ section.settings.layout_y_alignment }}
          {{ section.settings.layout_y_spacing }}
        ">

        <div 
          class="
            gap-4 flex flex-col w-full
            {% if section.settings.enable_max_width %}max-w-prose{% endif %}
            {% if section.settings.layout_x_alignment contains 'text-center' %} items-center{% endif %}
            {% if section.settings.layout_x_alignment contains 'text-right' %} items-end{% endif %}
            {% if section.settings.enable_background_overlay %}
              p-4 w-full border--radius {{ section.settings.color_scheme }}
            {% endif %}
          ">
          
          {% for block in section.blocks %}
            {% case block.type %}

              {% when 'heading' %}
                <h1 
                  class="
                    {{ section.settings.color_text }}
                  ">
                  {{ block.settings.content }}
                </h1>

              {% when 'content' %}
                <div 
                  class="
                    space-y-2
                    {{ section.settings.color_text }}
                  ">
                  {{ block.settings.content }}
                </div>

              {% when 'buttons' %}
                <div 
                  class="
                    md:flex-nowrap flex flex-wrap gap-4
                    {% if section.settings.layout_x_alignment contains 'text-center' %}justify-center{% endif %}
                    {% if section.settings.layout_x_alignment contains 'text-right' %}justify-end{% endif %}
                  ">
                  {% unless block.settings.button_label == blank %}
                    {% if section.settings.url == blank %}<a href="{{ block.settings.button_url }}"{% else %}<button{% endif %}
                      class="{{ block.settings.color_button }}">
                      {{ block.settings.button_label }}
                    {% if section.settings.url == blank %}</a>{% else %}</button>{% endif %}
                  {% endunless %}
                  {% unless block.settings.secondary_button_label == blank %}
                    {% if section.settings.url == blank %}<a href="{{ block.settings.secondary_button_url }}"{% else %}<button{% endif %}
                      class="{{ block.settings.secondary_color_button }}">
                      {{ block.settings.secondary_button_label }}
                    {% if section.settings.url == blank %}</a>{% else %}</button>{% endif %}
                  {% endunless %}
                </div>

            {% endcase %}
          {% endfor %}
          
        </div>
        
      </div>

    </div>

    {% comment %} Floating button {% endcomment %}
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'buttons' %}
          {% unless block.settings.floating_button_label == blank %}
            <div 
              class="absolute z-20 opacity-0 group-hover:opacity-100 animation-300"
              :style="`
                left: ${mouse_x}px; 
                top: ${mouse_y}px;
              `">
              {% if section.settings.url == blank %}<a href="{{ block.settings.floating_button_url }}"{% else %}<button{% endif %}
                class="
                  -translate-x-1/2 -translate-y-1/2 !cursor-none !opacity-100 shadow-md
                  {{ block.settings.floating_color_button }} btn--smaller
                ">
                {{ block.settings.floating_button_label }}
              {% if section.settings.url == blank %}</a>{% else %}</button>{% endif %}
            </div>
          {% endunless %}
      {% endcase %}
    {% endfor %}
                
    {% unless enable_autoplay %}
    <div id="playButton" class="playButton">
      <span><svg width="38" height="45" viewBox="0 0 38 45" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M35.7592 20.3999C36.173 20.6528 36.5151 21.0088 36.7525 21.4334C36.99 21.858 37.1147 22.3371 37.1147 22.8243C37.1147 23.3116 36.99 23.7906 36.7525 24.2152C36.5151 24.6399 36.173 24.9958 35.7592 25.2487L4.55351 44.319C4.1261 44.5802 3.63734 44.7222 3.13739 44.7305C2.63743 44.7388 2.14428 44.6131 1.70854 44.3663C1.2728 44.1194 0.91016 43.7603 0.657833 43.3259C0.405506 42.8914 0.272579 42.3972 0.272694 41.8939V3.75616C0.272579 3.25291 0.405506 2.75869 0.657833 2.32422C0.91016 1.88974 1.2728 1.53066 1.70854 1.28381C2.14428 1.03696 2.63743 0.91124 3.13739 0.919545C3.63734 0.927851 4.1261 1.06988 4.55351 1.33107L35.7592 20.3999Z" fill="#151515"/></svg></span>
    </div>
    {% endunless %}
        
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    const playButton = document.getElementById('playButton');
    const videoBtn = document.getElementById('videoBtn');
    const sectionModifyBanner = document.querySelector('.section-modify-banner');
    const videoElement = document.querySelector('video');

    playButton.addEventListener('click', () => {
      videoBtn.click();
      sectionModifyBanner.classList.add('video-active');
    });

    videoElement.addEventListener('ended', () => {
      sectionModifyBanner.classList.remove('video-active');
    });
    
  });
</script>

{% schema %}
{
  "name":"Modify banner",
  "class": "section-modify-banner",
  "settings":[
    {
      "type":"header",
      "content":"t:general.headers.content.content"
    },
    {
      "type":"image_picker",
      "id":"image_background_desktop",
      "label":"t:general.settings.image_background_desktop.label",
      "info":"t:general.settings.image_background_desktop.info"
    },
    {
      "type":"image_picker",
      "id":"image_background_mobile",
      "label":"t:general.settings.image_background_mobile.label",
      "info":"t:general.settings.image_background_mobile.info"
    },
    {
      "type":"video",
      "id":"video_background",
      "label":"t:general.settings.video_background.label"
    },
    {
      "type":"header",
      "content":"t:general.headers.style.content"
    },
    {
      "type":"select",
      "id":"layout_y_spacing",
      "label":"t:general.settings.y_spacing.label",
      "options":[
        {
          "value":"min-h-[250px] md:min-h-[350px]",
          "label":"t:general.settings.y_spacing.extra_small.label"
        },
        {
          "value":"min-h-[350px] md:min-h-[450px]",
          "label":"t:general.settings.y_spacing.small.label"
        },
        {
          "value":"min-h-[450px] md:min-h-[550px]",
          "label":"t:general.settings.y_spacing.medium.label"
        },
        {
          "value":"banner--h-l",
          "label":"t:general.settings.y_spacing.large.label"
        },
        {
          "value":"banner--h-xl",
          "label":"t:general.settings.y_spacing.extra_large.label"
        },
        {
          "value":"image",
          "label":"t:general.settings.y_spacing.image.label"
        }
      ],
      "default":"min-h-[450px] md:min-h-[550px]"
    },
    {
      "type":"header",
      "content":"t:general.headers.color.content"
    },
    {
      "type":"select",
      "id":"color_scheme",
      "label":"t:general.settings.color_scheme.label",
      "options":[
        {
          "value":"color__bg-body color__text",
          "label":"t:general.settings.color_scheme.body.label"
        },
        {
          "value":"color__bg-neutral color__text",
          "label":"t:general.settings.color_scheme.neutral.label"
        },
        {
          "value":"color__bg-overlay-1 color__text",
          "label":"t:general.settings.color_scheme.accent_1.label"
        },
        {
          "value":"color__bg-overlay-2 color__text",
          "label":"t:general.settings.color_scheme.accent_2.label"
        },
        {
          "value":"color__bg-overlay-3 color__text",
          "label":"t:general.settings.color_scheme.accent_3.label"
        },
        {
          "value":"color__bg-shade-1 color__text",
          "label":"t:general.settings.color_scheme.shade_1.label"
        },
        {
          "value":"color__bg-shade-2 color__text",
          "label":"t:general.settings.color_scheme.shade_2.label"
        },
        {
          "value":"color__bg-shade-3 color__text",
          "label":"t:general.settings.color_scheme.shade_3.label"
        },
        {
          "value":"color__bg-primary color__primary",
          "label":"t:general.settings.color_scheme.primary.label"
        },
        {
          "value":"color__bg-secondary color__secondary",
          "label":"t:general.settings.color_scheme.secondary.label"
        },
        {
          "value":"color__bg-tertiary color__tertiary",
          "label":"t:general.settings.color_scheme.tertiary.label"
        }
      ],
      "default":"color__bg-overlay-1 color__text"
    },
    {
      "type":"select",
      "id":"color_text",
      "label":"t:general.settings.color_text.label",
      "options":[
        {
          "value":"",
          "label":"t:general.settings.color_text.default.label"
        },
        {
          "value":"color__light",
          "label":"t:general.settings.color_text.force_light.label"
        },
        {
          "value":"color__dark",
          "label":"t:general.settings.color_text.force_dark.label"
        }
      ],
      "default":""
    },
    {
      "type":"select",
      "id":"color_border",
      "label":"t:general.settings.color_border.label",
      "options":[
        {
          "value":"color__border-divider-1",
          "label":"t:general.settings.color_border.subtle.label"
        },
        {
          "value":"color__border-selected-1",
          "label":"t:general.settings.color_border.strong.label"
        }
      ],
      "default":"color__border-divider-1"
    },
    {
      "type":"checkbox",
      "id":"enable_gradient",
      "label":"t:general.settings.enable_gradient.label",
      "default":false
    },
    {
      "type":"checkbox",
      "id":"enable_background_overlay",
      "label":"t:general.settings.enable_background_overlay.label",
      "default":false
    },
    {
      "type":"header",
      "content":"t:general.headers.style.content"
    },
    {
      "type":"select",
      "id":"style_border",
      "label":"t:general.settings.border_position.label",
      "options":[
        {
          "value":"",
          "label":"t:general.settings.border_position.none.label"
        },
        {
          "value":"border--t-width",
          "label":"t:general.settings.border_position.top.label"
        },
        {
          "value":"border--b-width",
          "label":"t:general.settings.border_position.bottom.label"
        },
        {
          "value":"border--b-width border--t-width",
          "label":"t:general.settings.border_position.top_and_bottom.label"
        }
      ],
      "default":"border--b-width"
    },
    {
      "type":"header",
      "content":"t:general.headers.layout.content"
    },
    {
      "type":"select",
      "id":"layout_y_alignment",
      "label":"t:general.settings.y_alignment.label",
      "options":[
        {
          "value":"items-start",
          "label":"t:general.settings.y_alignment.top.label"
        },
        {
          "value":"items-center",
          "label":"t:general.settings.y_alignment.middle.label"
        },
        {
          "value":"items-end",
          "label":"t:general.settings.y_alignment.bottom.label"
        }
      ],
      "default":"items-end"
    },
    {
      "type":"select",
      "id":"layout_x_alignment",
      "label":"t:general.settings.x_alignment.label",
      "options":[
        {
          "value":"justify-start",
          "label":"t:general.settings.x_alignment.left.label"
        },
        {
          "value":"justify-center text-center",
          "label":"t:general.settings.x_alignment.center.label"
        },
        {
          "value":"justify-end text-right",
          "label":"t:general.settings.x_alignment.right.label"
        }
      ],
      "default":"justify-start"
    },
    {
      "type":"checkbox",
      "id":"enable_header_overlap",
      "label":"t:general.settings.enable_header_overlap.label",
      "info":"t:general.settings.enable_header_overlap.info",
      "default":false
    },
    {
      "type":"checkbox",
      "id":"enable_margin",
      "label":"t:general.settings.enable_margin.label",
      "default":true
    },
    {
      "type":"checkbox",
      "id":"enable_border_margin",
      "label":"t:general.settings.enable_border_margin.label",
      "default":false
    },
    {
      "type":"checkbox",
      "id":"enable_max_width",
      "label":"t:general.settings.enable_max_width.label",
      "default":true
    },
    {
      "type":"header",
      "content":"t:general.headers.display.content"
    },
    {
      "type":"select",
      "id":"visibility",
      "label":"t:general.settings.visibility.label",
      "options":[
        {
          "value":"",
          "label":"t:general.settings.visibility.all.label"
        },
        {
          "value":"md:hidden",
          "label":"t:general.settings.visibility.mobile.label"
        },
        {
          "value":"hidden md:block",
          "label":"t:general.settings.visibility.desktop.label"
        }
      ],
      "default":""
    }
  ],
  "blocks":[
    {
      "type":"heading",
      "name":"t:sections.banner.blocks.heading.name",
      "limit":1,
      "settings":[
        {
          "type":"header",
          "content":"t:general.headers.content.content"
        },
        {
          "type":"text",
          "id":"content",
          "label":"t:general.settings.heading.label",
          "default":{
            "en":"Heading",
            "es":"Encabezado",
            "it":"Intestazione",
            "de":"Überschrift",
            "fr":"En-tête"
          }
        }
      ]
    },
    {
      "type":"image",
      "name":"t:sections.banner.blocks.image.name",
      "limit":3,
      "settings":[
        {
          "type":"header",
          "content":"t:general.headers.content.content"
        },
        {
          "type":"image_picker",
          "id":"image",
          "label":"t:general.settings.image.label"
        },
        {
          "type":"range",
          "id":"image_height",
          "min":10,
          "max":100,
          "step":1,
          "unit":"px",
          "label":"t:general.settings.image_height.label",
          "default":20
        }
      ]
    },
    {
      "type":"content",
      "name":"t:sections.banner.blocks.content.name",
      "limit":3,
      "settings":[
        {
          "type":"header",
          "content":"t:general.headers.content.content"
        },
        {
          "type":"richtext",
          "id":"content",
          "label":"t:general.settings.content.label",
          "default":{
            "en":"<p>Describe a product, make announcements, or welcome customers to your store.</p>",
            "es":"<p>Describe un producto, haz anuncios o da la bienvenida a los clientes a tu tienda.</p>",
            "it":"<p>Descrivi un prodotto, fai annunci o dai il benvenuto ai clienti nel tuo negozio.</p>",
            "de":"<p>Beschreibe ein Produkt, mache Ankündigungen oder begrüße Kunden in deinem Geschäft.</p>",
            "fr":"<p>Décrivez un produit, faites des annonces ou accueillez les clients dans votre magasin.</p>"
          }
        }
      ]
    },
    {
      "type":"buttons",
      "name":"t:sections.banner.blocks.buttons.name",
      "limit":1,
      "settings":[
        {
          "type":"header",
          "content":"t:general.headers.primary_button.content"
        },
        {
          "type":"text",
          "id":"button_label",
          "label":"t:general.settings.button_label.label",
          "default":{
            "en":"Button",
            "es":"Etiqueta del botón",
            "it":"Etichetta del pulsante",
            "de":"Schaltflächenbeschriftung",
            "fr":"Étiquette du bouton"
          }
        },
        {
          "type":"url",
          "id":"button_url",
          "label":"t:general.settings.button_url.label",
          "default":"/collections/all"
        },
        {
          "type":"select",
          "id":"color_button",
          "label":"t:general.settings.color_button.label",
          "options":[
            {
              "value":"btn",
              "label":"t:general.settings.color_button.primary.label"
            },
            {
              "value":"btn btn--secondary",
              "label":"t:general.settings.color_button.secondary.label"
            },
            {
              "value":"btn btn--tertiary",
              "label":"t:general.settings.color_button.tertiary.label"
            },
            {
              "value":"btn btn--neutral",
              "label":"t:general.settings.color_button.neutral.label"
            },
            {
              "value":"btn btn--plain",
              "label":"t:general.settings.color_button.plain.label"
            },
            {
              "value":"btn btn--outline",
              "label":"t:general.settings.color_button.outline.label"
            },
            {
              "value":"btn btn--outline-alt",
              "label":"t:general.settings.color_button.inverted_outline.label"
            },
            {
              "value":"btn btn--minimal",
              "label":"t:general.settings.color_button.link.label"
            },
            {
              "value":"btn btn--minimal-alt",
              "label":"t:general.settings.color_button.inverted_link.label"
            }
          ],
          "default":"btn"
        },
        {
          "type":"header",
          "content":"t:general.headers.secondary_button.content"
        },
        {
          "type":"text",
          "id":"secondary_button_label",
          "label":"t:general.settings.button_label.label",
          "default":{
            "en":"Button",
            "es":"Etiqueta del botón",
            "it":"Etichetta del pulsante",
            "de":"Schaltflächenbeschriftung",
            "fr":"Étiquette du bouton"
          }
        },
        {
          "type":"url",
          "id":"secondary_button_url",
          "label":"t:general.settings.button_url.label",
          "default":"/collections/all"
        },
        {
          "type":"select",
          "id":"secondary_color_button",
          "label":"t:general.settings.color_button.label",
          "options":[
            {
              "value":"btn",
              "label":"t:general.settings.color_button.primary.label"
            },
            {
              "value":"btn btn--secondary",
              "label":"t:general.settings.color_button.secondary.label"
            },
            {
              "value":"btn btn--tertiary",
              "label":"t:general.settings.color_button.tertiary.label"
            },
            {
              "value":"btn btn--neutral",
              "label":"t:general.settings.color_button.neutral.label"
            },
            {
              "value":"btn btn--plain",
              "label":"t:general.settings.color_button.plain.label"
            },
            {
              "value":"btn btn--outline",
              "label":"t:general.settings.color_button.outline.label"
            },
            {
              "value":"btn btn--outline-alt",
              "label":"t:general.settings.color_button.inverted_outline.label"
            },
            {
              "value":"btn btn--minimal",
              "label":"t:general.settings.color_button.link.label"
            },
            {
              "value":"btn btn--minimal-alt",
              "label":"t:general.settings.color_button.inverted_link.label"
            }
          ],
          "default":"btn btn--neutral"
        },
        {
          "type":"header",
          "content":"t:general.headers.floating_button.content"
        },
        {
          "type":"text",
          "id":"floating_button_label",
          "label":"t:general.settings.button_label.label"
        },
        {
          "type":"url",
          "id":"floating_button_url",
          "label":"t:general.settings.button_url.label"
        },
        {
          "type":"select",
          "id":"floating_color_button",
          "label":"t:general.settings.color_button.label",
          "options":[
            {
              "value":"btn",
              "label":"t:general.settings.color_button.primary.label"
            },
            {
              "value":"btn btn--secondary",
              "label":"t:general.settings.color_button.secondary.label"
            },
            {
              "value":"btn btn--tertiary",
              "label":"t:general.settings.color_button.tertiary.label"
            },
            {
              "value":"btn btn--neutral",
              "label":"t:general.settings.color_button.neutral.label"
            },
            {
              "value":"btn btn--plain",
              "label":"t:general.settings.color_button.plain.label"
            },
            {
              "value":"btn btn--outline",
              "label":"t:general.settings.color_button.outline.label"
            },
            {
              "value":"btn btn--outline-alt",
              "label":"t:general.settings.color_button.inverted_outline.label"
            },
            {
              "value":"btn btn--minimal",
              "label":"t:general.settings.color_button.link.label"
            },
            {
              "value":"btn btn--minimal-alt",
              "label":"t:general.settings.color_button.inverted_link.label"
            }
          ],
          "default":"btn"
        }
      ]
    },
    {
      "type":"newsletter",
      "name":"t:sections.banner.blocks.newsletter.name",
      "limit":1,
      "settings":[
        {
          "type":"header",
          "content":"t:general.headers.content.content"
        },
        {
          "type":"richtext",
          "id":"content",
          "label":"t:general.settings.content.label",
          "default":{
            "en":"<p>Tell customers why they should subscribe to your newsletter.</p>",
            "es": "<p>Dígales a los clientes por qué deberían suscribirse a su boletín informativo.</p>",
            "it": "<p>Dì ai clienti perché dovrebbero iscriversi alla tua newsletter.</p>",
            "de": "<p>Teilen Sie Ihren Kunden mit, warum sie Ihren Newsletter abonnieren sollten.</p>",
            "fr": "<p>Expliquez aux clients pourquoi ils devraient s’abonner à votre newsletter.</p>"
          }
        },
        {
          "type":"text",
          "id":"button_label",
          "label":"t:general.settings.button_label.label",
          "default":{
            "en":"Subscribe",
            "es": "Subscribir",
            "it": "Abbonarsi",
            "de": "Abonnieren",
            "fr": "S’inscrire"
          }
        },
        {
          "type":"richtext",
          "id":"disclaimer",
          "label":"t:general.settings.disclaimer.label"
        },
        {
          "type":"richtext",
          "id":"success",
          "label":"t:general.settings.success_message.label",
          "default":{
            "en":"<p>Success! You’ve been subscribed.</p>",
            "es": "<p>Gracias por suscribirte</p>",
            "it": "<p>Grazie per esserti iscritto</p>",
            "de": "<p>Vielen Dank für Ihre Anmeldung</p>",
            "fr": "<p>Merci de vous être abonné</p>"
          }
        }
      ]
    },
    {
      "type":"countdown",
      "name":"t:sections.banner.blocks.countdown.name",
      "limit":1,
      "settings":[
        {
          "type":"text",
          "id":"countdown_date",
          "label":"t:general.settings.countdown_date.label",
          "info":"t:general.settings.countdown_date.info",
          "default":"10\/20\/2025"
        },
        {
          "type":"header",
          "content":"t:general.headers.content.content"
        },
        {
          "type":"richtext",
          "id":"content",
          "label":"t:general.settings.content.label",
          "default":{
            "en":"<p>Use the countdown timer to showcase a limited-time offer or promotion.</p>",
            "es":"<p>Utiliza el temporizador de cuenta regresiva para mostrar una oferta o promoción por tiempo limitado.</p>",
            "it":"<p>Utilizza il timer di conto alla rovescia per mostrare un'offerta o promozione a tempo limitato.</p>",
            "de":"<p>Verwenden Sie den Countdown-Timer, um ein zeitlich begrenztes Angebot oder eine Promotion zu präsentieren.</p>",
            "fr":"<p>Utilisez le compte à rebours pour mettre en valeur une offre ou une promotion limitée dans le temps.</p>"
           }
        }
      ]
    },
    {
      "type":"discount",
      "name":"t:sections.banner.blocks.discount.name",
      "limit":1,
      "settings":[
        {
          "type": "header",
          "content": "t:general.headers.content.content"
        },
        {
          "type": "text",
          "id": "code",
          "label": "t:general.settings.discount_code.label",
          "default":{
            "en":"SAVE10",
            "es":"AHORRA10",
            "it":"RISPARMIA10",
            "de":"SPARE10",
            "fr":"ECONOMISEZ10"
          }
        }
      ]
    },
    {
      "type":"search",
      "name":"t:sections.banner.blocks.search.name",
      "limit":1
    }
  ],
  "presets":[
    {
      "name":"Modify banner",
      "settings":{
        "color_scheme":"color__bg-overlay-1",
        "color_text":"color__light",
        "color_border":"color__border-divider-1",
        "enable_gradient":true,
        "style_border":"border--b-width",
        "layout_y_spacing":"min-h-[450px] md:min-h-[550px]",
        "layout_y_alignment":"items-end",
        "layout_x_alignment":"justify-start"
      },
      "blocks":[
        {
          "type":"heading",
          "settings":{
            "content":"Heading"
          }
        },
        {
          "type":"content",
          "settings":{
            "content":"<p>Describe a product, make announcements, or welcome customers to your store.</p>"
          }
        },
        {
          "type":"buttons",
          "settings":{
            "color_button":"btn",
            "secondary_color_button":"btn btn--neutral",
            "button_label":"Button",
            "button_url":"shopify:\/\/collections\/all",
            "secondary_button_label":"Button",
            "secondary_button_url":"shopify:\/\/collections\/all"
          }
        }
      ]
    }
  ],
  "disabled_on":{
    "groups":[
      "custom.overlay"
    ]
  }
}
{% endschema %}