<!-- sections/product-grid.liquid -->
{% comment %} 
  Grid of products.

  Globals:
  - layout_horizontal: {string} Horizontal margin from global theme settings.
  - layout_gap_size: {integer} Set the gap between grid items.
{% endcomment %}

<section 
  id="{{ section.id }}"
  class="
    animation-1000
    {{ section.settings.visibility }}
    {{ section.settings.color_border }}
    {{ section.settings.style_border }}
    {% unless section.settings.enable_color_fade %}
      {{ section.settings.color_text }}
      {% unless section.settings.color_scheme == 'custom' %}
        {{ section.settings.color_scheme }}
      {% endunless %}
    {% endunless %}
  "
  {% if section.settings.color_scheme == 'custom' %}
    {% unless section.settings.enable_color_fade %}
      style="
        background:{{ section.settings.color_background }};
      "
    {% endunless %}
  {% endif %}
  {% if section.settings.enable_color_fade %}
    :class="`${body_background_color} ${body_text_color}`"
    :style="{ background: body_background_color }"
    x-intersect.margin.-50%="
      body_background_color = '{% if section.settings.color_scheme == 'custom' %}{{ section.settings.color_background }}{% else %}{{ section.settings.color_scheme }}{% endif %}';
      body_text_color = '{{ section.settings.color_text }}';
    "
  {% endif %}>
  <div 
    class="
      {% if section.settings.enable_margin %}
        {{ settings.x_margin }}
      {% endif %}
    "
    style="
      padding-top:{{ section.settings.spacing_top }}px;
      padding-bottom:{{ section.settings.spacing_bottom }}px;
    ">
    <div
      class="
        flex flex-wrap items-start justify-between
        {% if section.settings.enable_split %}
          flex-row
        {% else %}
          flex-col
        {% endif %}
      ">

      {% comment %} Header {% endcomment %}
      <div 
        class="
          flex w-full flex-col
          {% if section.settings.enable_split %}md:w-1/3 md:pr-4{% endif %}
          {% unless section.settings.enable_margin %}
            px-4
          {% endunless %}
        ">
        {% render 'component__section-header' %} 
      </div>

      {% comment %} Grid {% endcomment %}
      <div      
        class="
          grid w-full
          md:grid-cols-{{ section.settings.layout_row_desktop }}
          grid-cols-{{ section.settings.layout_row_mobile }}
          {% if section.settings.enable_split %}md:w-2/3{% endif %}
        "
        style="
          gap: {{ settings.gap_size }}px;
        ">
        
        {% for product in collections[section.settings.collection].products limit: section.settings.products_count %}
          {% render 'component__product-grid', product: product %}
        {% endfor %}

        {% comment %} Show placeholder in design mode {% endcomment %}
        {% if request.design_mode and section.settings.collection == null  %}
          {% for product in collections['all'].products limit: section.settings.products_count %}
            {% render 'component__product-grid', product: product %}
          {% endfor %}
        {% endif %}

        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'content' %}
              {% render 'component__content-item',
                heading: block.settings.heading,
                content: block.settings.content,
                button_label: block.settings.button_label,
                url: block.settings.url,
                image: block.settings.image,
                image_background: block.settings.image_background,
                video: block.settings.video,
                enable_autoplay: block.settings.enable_autoplay,
                enable_mute_toggle: block.settings.enable_mute_toggle,
                enable_loop: block.settings.enable_loop,
                color_scheme: block.settings.color_scheme,
                color_border: block.settings.color_border,
                color_text: block.settings.color_text,
                color_button: block.settings.color_button,
                enable_gradient: block.settings.enable_gradient,
                spacing_minimum_height: block.settings.spacing_minimum_height,
                enable_padding: block.settings.enable_padding,
                layout_col_span_desktop: block.settings.layout_col_span,
                layout_row_span_desktop: block.settings.layout_row_span,
                layout_y_alignment: block.settings.layout_y_alignment,
                layout_x_alignment: block.settings.layout_x_alignment
              %}
          {% endcase %}
        {% endfor %}

      </div>

    </div>
  </div>
</section>

{% schema %}
{
  "name":"t:sections.product_grid.name",
  "settings":[
    {
      "type":"header",
      "content":"t:general.headers.color.content"
    },
    {
      "type":"collection",
      "id":"collection",
      "label":"t:general.settings.collection.label"
    },
    {
      "type":"number",
      "id":"products_count",
      "label":"t:general.settings.total_items.label",
      "default":7
    },
    {
      "type":"header",
      "content":"t:general.headers.content.content"
    },
    {
      "type":"text",
      "id":"heading",
      "label":"t:general.settings.heading.label"
    },
    {
      "type":"richtext",
      "id":"content",
      "label":"t:general.settings.content.label"
    },
    {
      "type":"text",
      "id":"button_label",
      "label":"t:general.settings.button_label.label"
    },
    {
      "type":"url",
      "id":"button_url",
      "label":"t:general.settings.button_url.label"
    },
    {
      "type":"header",
      "content":"t:general.headers.spacing.content"
    },
    {
      "type":"range",
      "id":"spacing_top",
      "min":0,
      "max":300,
      "step":10,
      "unit":"px",
      "label":"t:general.settings.top_spacing.label",
      "default":100
    },
    {
      "type":"range",
      "id":"spacing_bottom",
      "min":0,
      "max":300,
      "step":10,
      "unit":"px",
      "label":"t:general.settings.bottom_spacing.label",
      "default":100
    },
    {
      "type":"header",
      "content":"t:general.headers.color.content"
    },
    {
      "type":"select",
      "id":"color_scheme",
      "label":"t:general.settings.color_scheme.label",
      "options":[
        {
          "value":"color__bg-body",
          "label":"t:general.settings.color_scheme.body.label"
        },
        {
          "value":"color__bg-neutral",
          "label":"t:general.settings.color_scheme.neutral.label"
        },
        {
          "value":"color__bg-overlay-1",
          "label":"t:general.settings.color_scheme.accent_1.label"
        },
        {
          "value":"color__bg-overlay-2",
          "label":"t:general.settings.color_scheme.accent_2.label"
        },
        {
          "value":"color__bg-overlay-3",
          "label":"t:general.settings.color_scheme.accent_3.label"
        },
        {
          "value":"color__bg-shade-1",
          "label":"t:general.settings.color_scheme.shade_1.label"
        },
        {
          "value":"color__bg-shade-2",
          "label":"t:general.settings.color_scheme.shade_2.label"
        },
        {
          "value":"color__bg-shade-3",
          "label":"t:general.settings.color_scheme.shade_3.label"
        },
        {
          "value":"color__bg-primary",
          "label":"t:general.settings.color_scheme.primary.label"
        },
        {
          "value":"color__bg-secondary",
          "label":"t:general.settings.color_scheme.secondary.label"
        },
        {
          "value":"color__bg-tertiary",
          "label":"t:general.settings.color_scheme.tertiary.label"
        },
        {
          "value":"custom",
          "label":"t:general.settings.color_scheme.custom.label"
        }
      ],
      "default":"color__bg-body"
    },
    {
      "type":"color",
      "id":"color_background",
      "label":"t:general.settings.color_custom.label",
      "info":"t:general.settings.color_custom.info",
      "default":"#ffffff"
    },
    {
      "type":"select",
      "id":"color_text",
      "label":"t:general.settings.color_text.label",
      "options":[
        {
          "value":"",
          "label":"t:general.settings.color_text.default.label"
        },
        {
          "value":"color__light",
          "label":"t:general.settings.color_text.force_light.label"
        },
        {
          "value":"color__dark",
          "label":"t:general.settings.color_text.force_dark.label"
        }
      ],
      "default":""
    },
    {
      "type":"select",
      "id":"color_border",
      "label":"t:general.settings.color_border.label",
      "options":[
        {
          "value":"color__border-divider-1",
          "label":"t:general.settings.color_border.subtle.label"
        },
        {
          "value":"color__border-selected-1",
          "label":"t:general.settings.color_border.strong.label"
        }
      ],
      "default":"color__border-divider-1"
    },
    {
      "type":"select",
      "id":"color_button",
      "label":"t:general.settings.color_button.label",
      "options":[
        {
          "value":"btn",
          "label":"t:general.settings.color_button.primary.label"
        },
        {
          "value":"btn btn--secondary",
          "label":"t:general.settings.color_button.secondary.label"
        },
        {
          "value":"btn btn--tertiary",
          "label":"t:general.settings.color_button.tertiary.label"
        },
        {
          "value":"btn btn--neutral",
          "label":"t:general.settings.color_button.neutral.label"
        },
        {
          "value":"btn btn--plain",
          "label":"t:general.settings.color_button.plain.label"
        },
        {
          "value":"btn btn--outline",
          "label":"t:general.settings.color_button.outline.label"
        },
        {
          "value":"btn btn--outline-alt",
          "label":"t:general.settings.color_button.inverted_outline.label"
        },
        {
          "value":"btn btn--minimal",
          "label":"t:general.settings.color_button.link.label"
        },
        {
          "value":"btn btn--minimal-alt",
          "label":"t:general.settings.color_button.inverted_link.label"
        }
      ],
      "default":"btn btn--secondary"
    },
    {
      "type": "checkbox",
      "id": "enable_color_fade",
      "label":"t:general.settings.enable_color_fade.label",
      "info":"t:general.settings.enable_color_fade.info",
      "default": false
    },
    {
      "type":"header",
      "content":"t:general.headers.style.content"
    },
    {
      "type":"select",
      "id":"style_border",
      "label":"t:general.settings.border_position.label",
      "options":[
        {
          "value":"",
          "label":"t:general.settings.border_position.none.label"
        },
        {
          "value":"border--t-width",
          "label":"t:general.settings.border_position.top.label"
        },
        {
          "value":"border--b-width",
          "label":"t:general.settings.border_position.bottom.label"
        },
        {
          "value":"border--b-width border--t-width",
          "label":"t:general.settings.border_position.top_and_bottom.label"
        }
      ],
      "default":"border--b-width"
    },
    {
      "type":"header",
      "content":"t:general.headers.layout.content"
    },
    {
      "type":"paragraph",
      "content":"t:general.paragraphs.row_size.content"
    },
    {
      "type":"range",
      "id":"layout_row_desktop",
      "min":1,
      "max":8,
      "step":1,
      "label":"t:general.settings.row_desktop.label",
      "default": 4
    },
    {
      "type":"range",
      "id":"layout_row_mobile",
      "min":1,
      "max":3,
      "step":1,
      "label":"t:general.settings.row_mobile.label",
      "default": 1
    },
    {
      "type":"select",
      "id":"layout_x_alignment",
      "label":"t:general.settings.x_alignment.label",
      "options":[
        {
          "value":"justify-between",
          "label":"t:general.settings.x_alignment.left.label"
        },
        {
          "value":"text-center justify-center flex-col items-center",
          "label":"t:general.settings.x_alignment.center.label"
        },
        {
          "value":"text-right justify-end flex-col items-end",
          "label":"t:general.settings.x_alignment.right.label"
        }
      ],
      "default":"justify-between"
    },
    {
      "type":"checkbox",
      "id":"enable_margin",
      "label":"t:general.settings.enable_margin.label",
      "default":true
    },
    {
      "type":"checkbox",
      "id":"enable_split",
      "label":"t:general.settings.enable_split.label",
      "default":false
    },
    {
      "type":"header",
      "content":"t:general.headers.display.content"
    },
    {
      "type":"select",
      "id":"visibility",
      "label":"t:general.settings.visibility.label",
      "options":[
        {
          "value":"",
          "label":"t:general.settings.visibility.all.label"
        },
        {
          "value":"md:hidden",
          "label":"t:general.settings.visibility.mobile.label"
        },
        {
          "value":"hidden md:block",
          "label":"t:general.settings.visibility.desktop.label"
        }
      ],
      "default":""
    }
  ],
  "blocks":[
    {
      "type":"content",
      "name":"t:sections.product_grid.blocks.content.name",
      "limit":1,
      "settings":[
        {
          "type":"header",
          "content":"t:general.headers.content.content"
        },
        {
          "type":"text",
          "id":"heading",
          "label":"t:general.settings.heading.label",
          "default":{
            "en":"Block heading",
            "es":"Encabezado de bloque",
            "it":"Intestazione del blocco",
            "de":"Blocküberschrift",
            "fr":"En-tête de bloc"
          }
        },
        {
          "type":"richtext",
          "id":"content",
          "label":"t:general.settings.content.label",
          "default":{
            "en":"<p>Describe a product, make announcements, or inform customers about a promotion.</p>",
            "es":"<p>Describa un producto, haga anuncios o informe a los clientes sobre una promoción.</p>",
            "it":"<p>Descrivi un prodotto, fai annunci o informa i clienti su una promozione.</p>",
            "de":"<p>Beschreiben Sie ein Produkt, machen Sie Ankündigungen oder informieren Sie Kunden über eine Werbeaktion.</p>",
            "fr":"<p>Décrivez un produit, faites des annonces ou informez les clients d’une promotion.</p>"
          }
        },
        {
          "type":"text",
          "id":"button_label",
          "label":"t:general.settings.button_label.label",
          "default":{
            "en":"Button",
            "es":"Botón",
            "it":"Bottone",
            "de":"Knopf",
            "fr":"Bouton"
          }
        },
        {
          "type":"url",
          "id":"url",
          "label":"t:general.settings.button_url.label",
          "default":"/collections/all"
        },
        {
          "type":"image_picker",
          "id":"image",
          "label":"t:general.settings.image.label"
        },
        {
          "type":"image_picker",
          "id":"image_background",
          "label":"t:general.settings.image_background.label"
        },
        {
          "type":"video",
          "id":"video",
          "label":"t:general.settings.video.label"
        },
        {
          "type":"checkbox",
          "id":"enable_autoplay",
          "label":"t:general.settings.enable_video_autoplay.label",
          "default":true
        },
        {
          "type":"checkbox",
          "id":"enable_mute_toggle",
          "label":"t:general.settings.enable_mute_button.label",
          "default":true
        },
        {
          "type":"checkbox",
          "id":"enable_loop",
          "label":"t:general.settings.enable_video_loop.label",
          "default":true
        },
        {
          "type":"header",
          "content":"t:general.headers.style.content"
        },
        {
          "type":"range",
          "id":"spacing_minimum_height",
          "min":0,
          "max":500,
          "step":10,
          "unit":"px",
          "label":"t:general.settings.minimum_height.label",
          "default":250
        },
        {
          "type":"checkbox",
          "id":"enable_padding",
          "label":"t:general.settings.enable_padding.label",
          "default":true
        },
        {
          "type":"header",
          "content":"t:general.headers.color.content"
        },
        {
          "type":"select",
          "id":"color_scheme",
          "label":"t:general.settings.color_scheme.label",
          "options":[
            {
              "value":"color__bg-body color__text",
              "label":"t:general.settings.color_scheme.body.label"
            },
            {
              "value":"color__bg-neutral color__text",
              "label":"t:general.settings.color_scheme.neutral.label"
            },
            {
              "value":"color__bg-overlay-1 color__text",
              "label":"t:general.settings.color_scheme.accent_1.label"
            },
            {
              "value":"color__bg-overlay-2 color__text",
              "label":"t:general.settings.color_scheme.accent_2.label"
            },
            {
              "value":"color__bg-overlay-3 color__text",
              "label":"t:general.settings.color_scheme.accent_3.label"
            },
            {
              "value":"color__bg-shade-1 color__text",
              "label":"t:general.settings.color_scheme.shade_1.label"
            },
            {
              "value":"color__bg-shade-2 color__text",
              "label":"t:general.settings.color_scheme.shade_2.label"
            },
            {
              "value":"color__bg-shade-3 color__text",
              "label":"t:general.settings.color_scheme.shade_3.label"
            },
            {
              "value":"color__bg-primary color__primary",
              "label":"t:general.settings.color_scheme.primary.label"
            },
            {
              "value":"color__bg-secondary color__secondary",
              "label":"t:general.settings.color_scheme.secondary.label"
            },
            {
              "value":"color__bg-tertiary color__tertiary",
              "label":"t:general.settings.color_scheme.tertiary.label"
            },
            {
              "value":"color__bg-transparent",
              "label":"t:general.settings.color_scheme.transparent.label"
            }
          ],
          "default":"color__bg-body color__text"
        },
        {
          "type":"select",
          "id":"color_border",
          "label":"t:general.settings.color_border.label",
          "options": [
            {
              "value": "outline--width color__outline-divider-1",
              "label":"t:general.settings.color_border.subtle.label"
            },
            {
              "value": "outline--width color__outline-selected-1",
              "label":"t:general.settings.color_border.strong.label"
            },
            {
              "value":"",
              "label":"t:general.settings.color_border.none.label"
            }
          ],
          "default": "outline--width color__outline-divider-1"
        },
        {
          "type":"select",
          "id":"color_text",
          "label":"t:general.settings.color_text.label",
          "options":[
            {
              "value":"color__text",
              "label":"t:general.settings.color_text.default.label"
            },
            {
              "value":"color__light",
              "label":"t:general.settings.color_text.force_light.label"
            },
            {
              "value":"color__dark",
              "label":"t:general.settings.color_text.force_dark.label"
            }
          ],
          "default":"color__text"
        },
        {
          "type":"select",
          "id":"color_button",
          "label":"t:general.settings.color_button.label",
          "options":[
            {
              "value":"btn--small",
              "label":"t:general.settings.color_button.primary.label"
            },
            {
              "value":"btn--small btn--secondary",
              "label":"t:general.settings.color_button.secondary.label"
            },
            {
              "value":"btn--small btn--tertiary",
              "label":"t:general.settings.color_button.tertiary.label"
            },
            {
              "value":"btn--small btn--neutral",
              "label":"t:general.settings.color_button.neutral.label"
            },
            {
              "value":"btn--small btn--plain",
              "label":"t:general.settings.color_button.plain.label"
            },
            {
              "value":"btn--small btn--outline",
              "label":"t:general.settings.color_button.outline.label"
            },
            {
              "value":"btn--small btn--outline-alt",
              "label":"t:general.settings.color_button.inverted_outline.label"
            },
            {
              "value":"btn--small btn--minimal",
              "label":"t:general.settings.color_button.link.label"
            },
            {
              "value":"btn--small btn--minimal-alt",
              "label":"t:general.settings.color_button.inverted_link.label"
            }
          ],
          "default":"btn--small btn--plain"
        },
        {
          "type":"checkbox",
          "id":"enable_gradient",
          "label":"t:general.settings.enable_gradient.label",
          "default":false
        },
        {
          "type":"header",
          "content":"t:general.headers.layout.content"
        },
        {
          "type":"select",
          "id":"layout_y_alignment",
          "label":"t:general.settings.y_alignment.label",
          "options":[
            {
              "value":"justify-start",
              "label":"t:general.settings.y_alignment.top.label"
            },
            {
              "value":"justify-center",
              "label":"t:general.settings.y_alignment.middle.label"
            },
            {
              "value":"justify-end",
              "label":"t:general.settings.y_alignment.bottom.label"
            }
          ],
          "default":"justify-end"
        },
        {
          "type":"select",
          "id":"layout_x_alignment",
          "label":"t:general.settings.x_alignment.label",
          "options":[
            {
              "value":"left",
              "label":"t:general.settings.x_alignment.left.label"
            },
            {
              "value":"center",
              "label":"t:general.settings.x_alignment.center.label"
            },
            {
              "value":"justify",
              "label":"t:general.settings.x_alignment.justify.label"
            },
            {
              "value":"right",
              "label":"t:general.settings.x_alignment.right.label"
            }
          ],
          "default":"left"
        }
      ]
    }
  ],
  "presets":[
    {
      "name":"t:sections.product_grid.name",
      "settings":{
        "color_border":"color__border-divider-1",
        "color_button":"btn btn--secondary",
        "style_border":"border--b-width",
        "heading":"Product grid",
        "content":"<p>Describe a product, make announcements, or welcome customers to your store.</p>",
        "button_label":"Button",
        "button_url": "shopify:\/\/collections\/all",
        "collection":"all",
        "products_count":7
      },
      "blocks":[
        {
          "type":"content",
          "settings":{
            "heading":"Block heading",
            "content":"<p>Describe a product, make announcements, or inform customers about a promotion.</p>",
            "button_label":"Button",
            "url":"/"
          }
        }
      ]
    }
  ],
  "disabled_on":{
    "groups":[
      "custom.overlay"
    ]
  }
}
{% endschema %}