<!-- sections/tabs.liquid -->
{% comment %} 
  Horizontal tabs that can open different content.

  Globals:
   - layout_horizontal: {string} Class string to set horizontal margin.

  Possible enhancements:
  - Add alternative layout options
{% endcomment %}

{% liquid
  assign tabs = section.settings.tabs | split: ','
  assign first_tab = tabs[0] | handle
%}

<section 
  id="{{ section.id }}"
  class="
    animation-1000
    {{ section.settings.visibility }}
    {{ section.settings.color_border }}
    {{ section.settings.style_border }}
    {% unless section.settings.enable_color_fade %}
      {{ section.settings.color_text }}
      {% unless section.settings.color_scheme == 'custom' %}
        {{ section.settings.color_scheme }}
      {% endunless %}
    {% endunless %}
  "
  {% if section.settings.color_scheme == 'custom' %}
    {% unless section.settings.enable_color_fade %}
      style="
        background:{{ section.settings.color_background }};
      "
    {% endunless %}
  {% endif %}
  {% if section.settings.enable_color_fade %}
    :class="`${body_background_color} ${body_text_color}`"
    :style="{ background: body_background_color }"
    x-intersect.margin.-50%="
      body_background_color = '{% if section.settings.color_scheme == 'custom' %}{{ section.settings.color_background }}{% else %}{{ section.settings.color_scheme }}{% endif %}';
      body_text_color = '{{ section.settings.color_text }}';
    "
  {% endif %}
  x-data="{
    selected_tab: '{{ first_tab }}',
  }">
  <div 
    class="
      {% if section.settings.enable_margin %}
        {{ settings.x_margin }}
      {% endif %}
    "
    style="
      padding-top:{{ section.settings.spacing_top }}px;
      padding-bottom:{{ section.settings.spacing_bottom }}px;
    ">
    <div
      class="
        flex flex-wrap items-start justify-between
        {% if section.settings.enable_split %}
          flex-row
        {% else %}
          flex-col
        {% endif %}
      ">

      {% comment %} Header {% endcomment %}
      <div 
        class="
          flex w-full flex-col
          {% if section.settings.enable_split %}md:w-1/3 md:pr-4{% endif %}
          {% unless section.settings.enable_margin %}
            px-4
          {% endunless %}
        ">
        {% render 'component__section-header' %} 
      </div>

      {% comment %} Content {% endcomment %}
      <div 
        class="
          w-full
          {% if section.settings.enable_split %}md:w-2/3{% endif %}
          {% unless section.settings.enable_margin %}
            window--full
          {% endunless %}
        ">

        {% comment %} Scrollable tabs {% endcomment %}
        <nav 
          class="
            flex flex-wrap border--b-width color__border-divider-1
            {% unless section.settings.enable_color_fade %}
              {{ section.settings.color_text }}
              {% unless section.settings.color_scheme == 'custom' %}
                {{ section.settings.color_scheme }}
              {% endunless %}
            {% endunless %}
          "
          {% if section.settings.color_scheme == 'custom' %}
            {% unless section.settings.enable_color_fade %}
              style="
                background:{{ section.settings.color_background }};
              "
            {% endunless %}
          {% endif %}
          >
          <div class="relative w-full">
            <div class="inline-flex w-full gap-6 overflow-x-auto whitespace-nowrap scroll-smooth snap-x">
              {% for tab in tabs %}
                <div class="flex justify-center flex-none snap-center">
                  <button
                    class="pb-4 border-b-2 opacity-50 type--big color__border-transparent"
                    :class="{
                      '!opacity-100 !color__border-selected-2' : selected_tab === '{{ tab | handle }}'
                    }"
                    @click="selected_tab = '{{ tab | handle }}';">
                    {{ tab }}
                  </button>
                </div>
              {% endfor %}
            </div>
          </div>
        </nav>

        {% comment %} Tab containers {% endcomment %}
        {% for tab in tabs %}
          {% assign tab_handle = tab | handle %}
          <div 
            x-show="selected_tab === '{{ tab_handle }}'"
            {% if tab_handle != first_tab %}
              x-cloak
            {% endif %}>
            <div class="flex flex-col gap-4 pt-6">
                {% for block in section.blocks %}
                {% assign block_tab = block.settings.tab | handle %}
                {% assign current_tab = tab | handleize %}
                {% if block_tab == current_tab %}
                  {% case block.type %}
                    
                    {% when 'heading' %}
                      <h1 class="{% if section.settings.enable_max_width %}max-w-4xl{% endif %}">
                        {{ block.settings.content }}
                      </h1>

                    {% when 'content' %}
                      <div class="{% if section.settings.enable_max_width %}max-w-4xl{% endif %}">
                        {{ block.settings.content }}
                      </div>

                    {% when 'buttons' %}
                      <div class="md:flex-nowrap flex flex-wrap gap-2
                        {% if section.settings.layout_x_alignment contains 'text-center' %}justify-center{% endif %}
                        {% if section.settings.layout_x_alignment contains 'text-right' %}justify-end{% endif %}">
                        {% unless block.settings.button_url == blank %}
                          <a href="{{ block.settings.button_url }}" 
                            class="{{ block.settings.color_button }}">
                            {{ block.settings.button_label }}
                          </a>
                        {% endunless %}
                        {% unless block.settings.secondary_button_url == blank %}
                          <a href="{{ block.settings.secondary_button_url }}" 
                            class="{{ block.settings.secondary_color_button }}">
                            {{ block.settings.secondary_button_label }}
                          </a>
                        {% endunless %}
                      </div>

                    {% when 'image' %}
                      {% unless block.settings.image == blank %}
                        {% render 'component__image',
                          image: block.settings.image,
                          max_width: 2000,
                          background_class: 'color__bg-shade-2',
                          enable_lazy_load: true,
                          enable_2x: true
                        %}
                      {% endunless %}

                    {% when 'video' %}
                      {% unless block.settings.video == blank %}
                        {% render 'component__video', 
                          video: block.settings.video,
                          background_class: 'color__bg-shade-2',
                          video_class: 'object-cover',
                          enable_custom_controls: true,
                          enable_mute_toggle: block.settings.enable_mute_toggle,
                          enable_autoplay: block.settings.enable_autoplay,
                          enable_loop: block.settings.enable_loop
                        %}
                      {% endunless %}  

                    {% when 'newsletter' %}
                      <div class="{% if section.settings.enable_max_width %}max-w-4xl{% endif %}">
                        {% form 'customer', class: "flex w-full gap-4 flex-col" %}
                          {% if form.posted_successfully? %}
                            <div class="space-y-4">
                              {{ block.settings.success }}
                            </div>
                          {% else %}
                            {% unless block.settings.content == blank %}
                              <div class="space-y-4">
                                {{ block.settings.content }}
                              </div>
                            {% endunless %}
                            {% if form.errors %}
                              <div class="p-2 color__bg-overlay-1 type--small border--radius">
                                {{ form.errors | default_errors }}
                              </div>
                            {% endif %}
                            <div class="flex w-full gap-4">
                              <label 
                                class="sr-only"
                                for="{{ section.id }}_customer_email_tabs">
                                {{ 'labels.email' | t }}
                              </label>
                              <input 
                                id="{{ section.id }}_customer_email_tabs" 
                                class="flex-grow form-input"
                                type="email"
                                name="contact[email]"
                                placeholder="{{ 'actions.email_placeholder' | t }}"
                                autocorrect="off"
                                autocapitalize="off"/>
                                <button 
                                  type="submit" 
                                  class="
                                    btn btn--small whitespace-nowrap shrink-0
                                    {{ block.settings.color_button }}
                                  ">
                                  <span class="btn__content">{{ block.settings.button_label }}</span>
                                </button>
                            </div>
                            <div class="space-y-4 opacity-75 type--smaller">
                              {{ block.settings.disclaimer }}
                            </div>
                          {% endif %}
                        {% endform %}
                      </div>

                    {% when 'accordion' %}
                      {% capture accordion_label %}
                        {% unless block.settings.icon == blank %}
                          {% render 'component__icon', icon: block.settings.icon, size: '20', class: 'mr-2' %}
                        {% endunless %}
                        {{ block.settings.heading }}
                      {% endcapture %}
                      {% assign is_button = true  %}
                      {% if block.settings.color_scheme == 'minimal' %}
                        {% assign is_button = false %}
                      {% endif %}
                      {% render 'component__accordion', 
                        container_class: '',
                        inner_class: '',
                        button_class: block.settings.color_scheme,
                        button_label: accordion_label, 
                        content: block.settings.content,
                        is_button: is_button,
                        enable_open: block.settings.enable_open
                      %}
                      
                    {% when 'discount' %}
                      <div class="flex flex-col gap-4 {% if section.settings.enable_max_width %}max-w-4xl{% endif %}">
                        <span>
                          {{ block.settings.content }}
                        </span>
                        <div 
                          class="flex w-full gap-4 "
                          x-data="{
                            coupon_btn: '{{ 'actions.copy' | t }}'
                          }">
                          <label
                            class="sr-only"
                            for="{{ section.id }}_coupon_{{ forloop.index }}">
                          </label>
                          <input
                            id="{{ section.id }}_coupon_{{ forloop.index }}"
                            class="flex-grow form-input"
                            type="text"
                            placeholder=""
                            autocorrect="off"
                            autocapitalize="off"
                            value="{{ block.settings.code }}"
                            disabled
                          >
                            <button
                              class="
                                btn btn--small whitespace-nowrap shrink-0
                                {{ block.settings.color_button }} 
                              "
                              type="submit"
                              @click="
                                copyToClipboard('{{ section.id }}_coupon_{{ forloop.index }}');
                                coupon_btn = '{{ 'actions.copied' | t }}';
                              ">
                              <span 
                                class="btn__content" 
                                x-text="coupon_btn">
                                {{ 'actions.copy' | t }}
                              </span>
                            </button>
                        </div>
                      </div>
                      
                  {% endcase %}
                {% endif %}
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      
      </div>
        
    </div>
  </div>
</section>

{% schema %}
{
  "name":"t:sections.tabs.name",
  "settings":[
    {
      "type":"text",
      "id":"tabs",
      "label":"t:general.settings.tabs.label",
      "info":"t:general.settings.tabs.info"
    },
    {
      "type":"header",
      "content":"t:general.headers.content.content"
    },
    {
      "type":"text",
      "id":"heading",
      "label":"t:general.settings.heading.label"
    },
    {
      "type":"richtext",
      "id":"content",
      "label":"t:general.settings.content.label"
    },
    {
      "type":"text",
      "id":"button_label",
      "label":"t:general.settings.button_label.label"
    },
    {
      "type":"url",
      "id":"button_url",
      "label":"t:general.settings.button_url.label"
    },
    {
      "type":"header",
      "content":"t:general.headers.spacing.content"
    },
    {
      "type":"range",
      "id":"spacing_top",
      "min":0,
      "max":300,
      "step":10,
      "unit":"px",
      "label":"t:general.settings.top_spacing.label",
      "default":100
    },
    {
      "type":"range",
      "id":"spacing_bottom",
      "min":0,
      "max":300,
      "step":10,
      "unit":"px",
      "label":"t:general.settings.bottom_spacing.label",
      "default":100
    },
    {
      "type":"header",
      "content":"t:general.headers.color.content"
    },
    {
      "type":"select",
      "id":"color_scheme",
      "label":"t:general.settings.color_scheme.label",
      "options":[
        {
          "value":"color__bg-body",
          "label":"t:general.settings.color_scheme.body.label"
        },
        {
          "value":"color__bg-neutral",
          "label":"t:general.settings.color_scheme.neutral.label"
        },
        {
          "value":"color__bg-overlay-1",
          "label":"t:general.settings.color_scheme.accent_1.label"
        },
        {
          "value":"color__bg-overlay-2",
          "label":"t:general.settings.color_scheme.accent_2.label"
        },
        {
          "value":"color__bg-overlay-3",
          "label":"t:general.settings.color_scheme.accent_3.label"
        },
        {
          "value":"color__bg-shade-1",
          "label":"t:general.settings.color_scheme.shade_1.label"
        },
        {
          "value":"color__bg-shade-2",
          "label":"t:general.settings.color_scheme.shade_2.label"
        },
        {
          "value":"color__bg-shade-3",
          "label":"t:general.settings.color_scheme.shade_3.label"
        },
        {
          "value":"color__bg-primary",
          "label":"t:general.settings.color_scheme.primary.label"
        },
        {
          "value":"color__bg-secondary",
          "label":"t:general.settings.color_scheme.secondary.label"
        },
        {
          "value":"color__bg-tertiary",
          "label":"t:general.settings.color_scheme.tertiary.label"
        },
        {
          "value":"custom",
          "label":"t:general.settings.color_scheme.custom.label"
        }
      ],
      "default":"color__bg-body"
    },
    {
      "type":"color",
      "id":"color_background",
      "label":"t:general.settings.color_custom.label",
      "info":"t:general.settings.color_custom.info",
      "default":"#ffffff"
    },
    {
      "type":"select",
      "id":"color_text",
      "label":"t:general.settings.color_text.label",
      "options":[
        {
          "value":"",
          "label":"t:general.settings.color_text.default.label"
        },
        {
          "value":"color__light",
          "label":"t:general.settings.color_text.force_light.label"
        },
        {
          "value":"color__dark",
          "label":"t:general.settings.color_text.force_dark.label"
        }
      ],
      "default":""
    },
    {
      "type":"select",
      "id":"color_border",
      "label":"t:general.settings.color_border.label",
      "options":[
        {
          "value":"color__border-divider-1",
          "label":"t:general.settings.color_border.subtle.label"
        },
        {
          "value":"color__border-selected-1",
          "label":"t:general.settings.color_border.strong.label"
        }
      ],
      "default":"color__border-divider-1"
    },
    {
      "type":"select",
      "id":"color_button",
      "label":"t:general.settings.color_button.label",
      "options":[
        {
          "value":"btn",
          "label":"t:general.settings.color_button.primary.label"
        },
        {
          "value":"btn btn--secondary",
          "label":"t:general.settings.color_button.secondary.label"
        },
        {
          "value":"btn btn--tertiary",
          "label":"t:general.settings.color_button.tertiary.label"
        },
        {
          "value":"btn btn--neutral",
          "label":"t:general.settings.color_button.neutral.label"
        },
        {
          "value":"btn btn--plain",
          "label":"t:general.settings.color_button.plain.label"
        },
        {
          "value":"btn btn--outline",
          "label":"t:general.settings.color_button.outline.label"
        },
        {
          "value":"btn btn--outline-alt",
          "label":"t:general.settings.color_button.inverted_outline.label"
        },
        {
          "value":"btn btn--minimal",
          "label":"t:general.settings.color_button.link.label"
        },
        {
          "value":"btn btn--minimal-alt",
          "label":"t:general.settings.color_button.inverted_link.label"
        }
      ],
      "default":"btn btn--secondary"
    },
    {
      "type":"checkbox",
      "id":"enable_color_fade",
      "label":"t:general.settings.enable_color_fade.label",
      "info":"t:general.settings.enable_color_fade.info",
      "default":false
    },
    {
      "type":"header",
      "content":"t:general.headers.style.content"
    },
    {
      "type":"select",
      "id":"style_border",
      "label":"t:general.settings.border_position.label",
      "options":[
        {
          "value":"",
          "label":"t:general.settings.border_position.none.label"
        },
        {
          "value":"border--t-width",
          "label":"t:general.settings.border_position.top.label"
        },
        {
          "value":"border--b-width",
          "label":"t:general.settings.border_position.bottom.label"
        },
        {
          "value":"border--b-width border--t-width",
          "label":"t:general.settings.border_position.top_and_bottom.label"
        }
      ],
      "default":"border--b-width"
    },
    {
      "type":"header",
      "content":"t:general.headers.layout.content"
    },
    {
      "type":"select",
      "id":"layout_x_alignment",
      "label":"t:general.settings.x_alignment.label",
      "options":[
        {
          "value":"justify-between",
          "label":"t:general.settings.x_alignment.left.label"
        },
        {
          "value":"text-center justify-center flex-col items-center",
          "label":"t:general.settings.x_alignment.center.label"
        },
        {
          "value":"text-right justify-end flex-col items-end",
          "label":"t:general.settings.x_alignment.right.label"
        }
      ],
      "default":"justify-between"
    },
    {
      "type":"checkbox",
      "id":"enable_margin",
      "label":"t:general.settings.enable_margin.label",
      "default":true
    },
    {
      "type":"checkbox",
      "id":"enable_max_width",
      "label":"t:general.settings.enable_max_width.label",
      "default":false
    },
    {
      "type":"checkbox",
      "id":"enable_split",
      "label":"t:general.settings.enable_split.label",
      "default":false
    },
    {
      "type":"header",
      "content":"t:general.headers.display.content"
    },
    {
      "type":"select",
      "id":"visibility",
      "label":"t:general.settings.visibility.label",
      "options":[
        {
          "value":"",
          "label":"t:general.settings.visibility.all.label"
        },
        {
          "value":"md:hidden",
          "label":"t:general.settings.visibility.mobile.label"
        },
        {
          "value":"hidden md:block",
          "label":"t:general.settings.visibility.desktop.label"
        }
      ],
      "default":""
    }
  ],
  "blocks":[
    {
      "type":"heading",
      "name":"t:sections.tabs.blocks.heading.name",
      "settings":[
        {
          "type":"text",
          "id":"tab",
          "label":"t:general.settings.tab.label",
          "info":"t:general.settings.tab.info"
        },
        {
          "type":"header",
          "content":"t:general.headers.content.content"
        },
        {
          "type":"text",
          "id":"content",
          "label":"t:general.settings.heading.label",
          "default":{
            "en":"Heading",
            "es":"Encabezado",
            "it":"Intestazione",
            "de":"Überschrift",
            "fr":"En-tête"
          }
        }
      ]
    },
    {
      "type":"content",
      "name":"t:sections.tabs.blocks.content.name",
      "settings":[
        {
          "type":"text",
          "id":"tab",
          "label":"t:general.settings.tab.label",
          "info":"t:general.settings.tab.info"
        },
        {
          "type":"header",
          "content":"t:general.headers.content.content"
        },
        {
          "type":"richtext",
          "id":"content",
          "label":"t:general.settings.content.label",
          "default":{
            "en":"<p>Describe a product, make announcements, or inform customers about a promotion.</p>",
            "es":"<p>Describa un producto, haga anuncios o informe a los clientes sobre una promoción.</p>",
            "it":"<p>Descrivi un prodotto, fai annunci o informa i clienti su una promozione.</p>",
            "de":"<p>Beschreiben Sie ein Produkt, machen Sie Ankündigungen oder informieren Sie Kunden über eine Werbeaktion.</p>",
            "fr":"<p>Décrivez un produit, faites des annonces ou informez les clients d’une promotion.</p>"
          }
        }
      ]
    },
    {
      "type":"buttons",
      "name":"t:sections.tabs.blocks.buttons.name",
      "settings":[
        {
          "type":"text",
          "id":"tab",
          "label":"t:general.settings.tab.label",
          "info":"t:general.settings.tab.info"
        },
        {
          "type":"header",
          "content":"t:general.headers.primary_button.content"
        },
        {
          "type":"text",
          "id":"button_label",
          "label":"t:general.settings.button_label.label",
          "default":{
            "en":"Button",
            "es":"Etiqueta del botón",
            "it":"Etichetta del pulsante",
            "de":"Schaltflächenbeschriftung",
            "fr":"Étiquette du bouton"
          }
        },
        {
          "type":"url",
          "id":"button_url",
          "label":"t:general.settings.button_url.label",
          "default":"/collections/all"
        },
        {
          "type":"select",
          "id":"color_button",
          "label":"t:general.settings.color_button.label",
          "options":[
            {
              "value":"btn",
              "label":"t:general.settings.color_button.primary.label"
            },
            {
              "value":"btn btn--secondary",
              "label":"t:general.settings.color_button.secondary.label"
            },
            {
              "value":"btn btn--tertiary",
              "label":"t:general.settings.color_button.tertiary.label"
            },
            {
              "value":"btn btn--neutral",
              "label":"t:general.settings.color_button.neutral.label"
            },
            {
              "value":"btn btn--plain",
              "label":"t:general.settings.color_button.plain.label"
            },
            {
              "value":"btn btn--outline",
              "label":"t:general.settings.color_button.outline.label"
            },
            {
              "value":"btn btn--outline-alt",
              "label":"t:general.settings.color_button.inverted_outline.label"
            },
            {
              "value":"btn btn--minimal",
              "label":"t:general.settings.color_button.link.label"
            },
            {
              "value":"btn btn--minimal-alt",
              "label":"t:general.settings.color_button.inverted_link.label"
            }
          ],
          "default":"btn"
        },
        {
          "type":"header",
          "content":"t:general.headers.secondary_button.content"
        },
        {
          "type":"text",
          "id":"secondary_button_label",
          "label":"t:general.settings.button_label.label",
          "default":{
            "en":"Button",
            "es":"Etiqueta del botón",
            "it":"Etichetta del pulsante",
            "de":"Schaltflächenbeschriftung",
            "fr":"Étiquette du bouton"
          }
        },
        {
          "type":"url",
          "id":"secondary_button_url",
          "label":"t:general.settings.button_url.label",
          "default":"/collections/all"
        },
        {
          "type":"select",
          "id":"secondary_color_button",
          "label":"t:general.settings.color_button.label",
          "options":[
            {
              "value":"btn",
              "label":"t:general.settings.color_button.primary.label"
            },
            {
              "value":"btn btn--secondary",
              "label":"t:general.settings.color_button.secondary.label"
            },
            {
              "value":"btn btn--tertiary",
              "label":"t:general.settings.color_button.tertiary.label"
            },
            {
              "value":"btn btn--neutral",
              "label":"t:general.settings.color_button.neutral.label"
            },
            {
              "value":"btn btn--plain",
              "label":"t:general.settings.color_button.plain.label"
            },
            {
              "value":"btn btn--outline",
              "label":"t:general.settings.color_button.outline.label"
            },
            {
              "value":"btn btn--outline-alt",
              "label":"t:general.settings.color_button.inverted_outline.label"
            },
            {
              "value":"btn btn--minimal",
              "label":"t:general.settings.color_button.link.label"
            },
            {
              "value":"btn btn--minimal-alt",
              "label":"t:general.settings.color_button.inverted_link.label"
            }
          ],
          "default":"btn btn--neutral"
        }
      ]
    },
    {
      "type":"image",
      "name":"t:sections.tabs.blocks.image.name",
      "settings":[
        {
          "type":"text",
          "id":"tab",
          "label":"t:general.settings.tab.label",
          "info":"t:general.settings.tab.info"
        },
        {
          "type":"header",
          "content":"t:general.headers.content.content"
        },
        {
          "type":"image_picker",
          "id":"image",
          "label":"t:general.settings.image.label"
        }
      ]
    },
    {
      "type":"video",
      "name":"t:sections.tabs.blocks.video.name",
      "settings":[
        {
          "type":"text",
          "id":"tab",
          "label":"t:general.settings.tab.label",
          "info":"t:general.settings.tab.info"
        },
        {
          "type":"header",
          "content":"t:general.headers.content.content"
        },
        {
          "type":"video",
          "id":"video",
          "label":"t:general.settings.video.label"
        },
        {
          "type":"checkbox",
          "id":"enable_autoplay",
          "label":"t:general.settings.enable_video_autoplay.label",
          "default":true
        },
        {
          "type":"checkbox",
          "id":"enable_mute_toggle",
          "label":"t:general.settings.enable_mute_button.label",
          "default":true
        },
        {
          "type":"checkbox",
          "id":"enable_loop",
          "label":"t:general.settings.enable_video_loop.label",
          "default":true
        }
      ]
    },
    {
      "type":"newsletter",
      "name":"t:sections.tabs.blocks.newsletter.name",
      "limit":1,
      "settings":[
        {
          "type":"text",
          "id":"tab",
          "label":"t:general.settings.tab.label",
          "info":"t:general.settings.tab.info"
        },
        {
          "type":"header",
          "content":"t:general.headers.content.content"
        },
        {
          "type":"richtext",
          "id":"content",
          "label":"t:general.settings.content.label",
          "default":{
            "en":"<p>Tell customers why they should subscribe to your newsletter.</p>",
            "es":"<p>Dígales a los clientes por qué deberían suscribirse a su boletín informativo.</p>",
            "it":"<p>Dì ai clienti perché dovrebbero iscriversi alla tua newsletter.</p>",
            "de":"<p>Teilen Sie Ihren Kunden mit, warum sie Ihren Newsletter abonnieren sollten.</p>",
            "fr":"<p>Expliquez aux clients pourquoi ils devraient s’abonner à votre newsletter.</p>"
          }
        },
        {
          "type":"text",
          "id":"button_label",
          "label":"t:general.settings.button_label.label",
          "default":{
            "en":"Subscribe",
            "es":"Subscribir",
            "it":"Abbonarsi",
            "de":"Abonnieren",
            "fr":"S’inscrire"
          }
        },
        {
          "type":"richtext",
          "id":"disclaimer",
          "label":"t:general.settings.disclaimer.label"
        },
        {
          "type":"richtext",
          "id":"success",
          "label":"t:general.settings.success_message.label",
          "default":{
            "en":"<p>Success! You’ve been subscribed.</p>",
            "es":"<p>Gracias por suscribirte</p>",
            "it":"<p>Grazie per esserti iscritto</p>",
            "de":"<p>Vielen Dank für Ihre Anmeldung</p>",
            "fr":"<p>Merci de vous être abonné</p>"
          }
        },
        {
          "type":"header",
          "content":"t:general.headers.color.content"
        },
        {
          "type":"select",
          "id":"color_button",
          "label":"t:general.settings.color_button.label",
          "options":[
            {
              "value":"btn--small",
              "label":"t:general.settings.color_button.primary.label"
            },
            {
              "value":"btn--small btn--secondary",
              "label":"t:general.settings.color_button.secondary.label"
            },
            {
              "value":"btn--small btn--tertiary",
              "label":"t:general.settings.color_button.tertiary.label"
            },
            {
              "value":"btn--small btn--neutral",
              "label":"t:general.settings.color_button.neutral.label"
            },
            {
              "value":"btn--small btn--plain",
              "label":"t:general.settings.color_button.plain.label"
            },
            {
              "value":"btn--small btn--outline",
              "label":"t:general.settings.color_button.outline.label"
            },
            {
              "value":"btn--small btn--outline-alt",
              "label":"t:general.settings.color_button.inverted_outline.label"
            },
            {
              "value":"btn--small btn--minimal",
              "label":"t:general.settings.color_button.link.label"
            },
            {
              "value":"btn--small btn--minimal-alt",
              "label":"t:general.settings.color_button.inverted_link.label"
            }
          ],
          "default":"btn--small btn--plain"
        }
      ]
    },
    {
      "type":"accordion",
      "name":"t:sections.tabs.blocks.accordion.name",
      "settings":[
        {
          "type":"text",
          "id":"tab",
          "label":"t:general.settings.tab.label",
          "info":"t:general.settings.tab.info"
        },
        {
          "type":"header",
          "content":"t:general.headers.content.content"
        },
        {
          "type":"text",
          "id":"heading",
          "label":"t:general.settings.heading.label",
          "default":{
            "en":"A question your customers are asking",
            "es":"Una pregunta que hacen tus clientes",
            "it":"Una domanda che i tuoi clienti stanno facendo",
            "de":"Eine Frage, die Ihre Kunden stellen",
            "fr":"Une question que vos clients se posent"
          }
        },
        {
          "type":"richtext",
          "id":"content",
          "label":"t:general.settings.content.label",
          "default":{
            "en":"<p>Answer to help your customers feel more comfortable completing their purchase.</p>",
            "es":"<p>Respuesta para ayudar a sus clientes a sentirse más cómodos completando su compra.</p>",
            "it":"<p>Rispondi per aiutare i tuoi clienti a sentirsi più a proprio agio nel completare il loro acquisto.</p>",
            "de":"<p>Antwort, damit sich Ihre Kunden beim Abschluss ihres Kaufs wohler fühlen.</p>",
            "fr":"<p>Réponse pour aider vos clients à se sentir plus à l’aise de finaliser leur achat.</p>"
          }
        },
        {
          "type":"select",
          "id":"icon",
          "label":"t:general.settings.icon.label",
          "options":[
            {
              "value":"",
              "label":"t:general.settings.icon.none.label"
            },
            {
              "value":"activity",
              "label":"t:general.settings.icon.activity.label"
            },
            {
              "value":"alert-circle",
              "label":"t:general.settings.icon.alert-circle.label"
            },
            {
              "value":"anchor",
              "label":"t:general.settings.icon.anchor.label"
            },
            {
              "value":"archive",
              "label":"t:general.settings.icon.archive.label"
            },
            {
              "value":"at-sign",
              "label":"t:general.settings.icon.at-sign.label"
            },
            {
              "value":"bell",
              "label":"t:general.settings.icon.bell.label"
            },
            {
              "value":"book-open",
              "label":"t:general.settings.icon.book-open.label"
            },
            {
              "value":"book",
              "label":"t:general.settings.icon.book.label"
            },
            {
              "value":"bookmark",
              "label":"t:general.settings.icon.bookmark.label"
            },
            {
              "value":"box",
              "label":"t:general.settings.icon.box.label"
            },
            {
              "value":"briefcase",
              "label":"t:general.settings.icon.briefcase.label"
            },
            {
              "value":"calendar",
              "label":"t:general.settings.icon.calendar.label"
            },
            {
              "value":"camera",
              "label":"t:general.settings.icon.camera.label"
            },
            {
              "value":"check",
              "label":"t:general.settings.icon.check.label"
            },
            {
              "value":"check-square",
              "label":"t:general.settings.icon.check-square.label"
            },
            {
              "value":"clipboard",
              "label":"t:general.settings.icon.clipboard.label"
            },
            {
              "value":"cloud",
              "label":"t:general.settings.icon.cloud.label"
            },
            {
              "value":"coffee",
              "label":"t:general.settings.icon.coffee.label"
            },
            {
              "value":"code",
              "label":"t:general.settings.icon.code.label"
            },
            {
              "value":"cpu",
              "label":"t:general.settings.icon.cpu.label"
            },
            {
              "value":"edit",
              "label":"t:general.settings.icon.edit.label"
            },
            {
              "value":"eye",
              "label":"t:general.settings.icon.eye.label"
            },
            {
              "value":"flag",
              "label":"t:general.settings.icon.flag.label"
            },
            {
              "value":"folder",
              "label":"t:general.settings.icon.folder.label"
            },
            {
              "value":"globe",
              "label":"t:general.settings.icon.globe.label"
            },
            {
              "value":"hash",
              "label":"t:general.settings.icon.hash.label"
            },
            {
              "value":"headphones",
              "label":"t:general.settings.icon.headphones.label"
            },
            {
              "value":"heart",
              "label":"t:general.settings.icon.heart.label"
            },
            {
              "value":"help-circle",
              "label":"t:general.settings.icon.help-circle.label"
            },
            {
              "value":"home",
              "label":"t:general.settings.icon.home.label"
            },
            {
              "value":"image",
              "label":"t:general.settings.icon.image.label"
            },
            {
              "value":"inbox",
              "label":"t:general.settings.icon.inbox.label"
            },
            {
              "value":"info",
              "label":"t:general.settings.icon.info.label"
            },
            {
              "value":"key",
              "label":"t:general.settings.icon.key.label"
            },
            {
              "value":"life-buoy",
              "label":"t:general.settings.icon.life-buoy.label"
            },
            {
              "value":"link",
              "label":"t:general.settings.icon.link.label"
            },
            {
              "value":"lock",
              "label":"t:general.settings.icon.lock.label"
            },
            {
              "value":"mail",
              "label":"t:general.settings.icon.mail.label"
            },
            {
              "value":"map-pin",
              "label":"t:general.settings.icon.map-pin.label"
            },
            {
              "value":"map",
              "label":"t:general.settings.icon.map.label"
            },
            {
              "value":"meh",
              "label":"t:general.settings.icon.meh.label"
            },
            {
              "value":"monitor",
              "label":"t:general.settings.icon.monitor.label"
            },
            {
              "value":"music",
              "label":"t:general.settings.icon.music.label"
            },
            {
              "value":"package",
              "label":"t:general.settings.icon.package.label"
            },
            {
              "value":"paperclip",
              "label":"t:general.settings.icon.paperclip.label"
            },
            {
              "value":"settings",
              "label":"t:general.settings.icon.settings.label"
            },
            {
              "value":"shield",
              "label":"t:general.settings.icon.shield.label"
            },
            {
              "value":"shopping-bag",
              "label":"t:general.settings.icon.shopping-bag.label"
            },
            {
              "value":"slash",
              "label":"t:general.settings.icon.slash.label"
            },
            {
              "value":"sliders",
              "label":"t:general.settings.icon.sliders.label"
            },
            {
              "value":"smile",
              "label":"t:general.settings.icon.smile.label"
            },
            {
              "value":"speaker",
              "label":"t:general.settings.icon.speaker.label"
            },
            {
              "value":"star-outline",
              "label":"t:general.settings.icon.star.label"
            },
            {
              "value":"sun",
              "label":"t:general.settings.icon.sun.label"
            },
            {
              "value":"table",
              "label":"t:general.settings.icon.table.label"
            },
            {
              "value":"tag",
              "label":"t:general.settings.icon.tag.label"
            },
            {
              "value":"thermometer",
              "label":"t:general.settings.icon.thermometer.label"
            },
            {
              "value":"trending-up",
              "label":"t:general.settings.icon.trending-up.label"
            },
            {
              "value":"tool",
              "label":"t:general.settings.icon.tool.label"
            },
            {
              "value":"trash",
              "label":"t:general.settings.icon.trash.label"
            },
            {
              "value":"truck",
              "label":"t:general.settings.icon.truck.label"
            },
            {
              "value":"tv",
              "label":"t:general.settings.icon.tv.label"
            },
            {
              "value":"umbrella",
              "label":"t:general.settings.icon.umbrella.label"
            },
            {
              "value":"unlock",
              "label":"t:general.settings.icon.unlock.label"
            },
            {
              "value":"user-check",
              "label":"t:general.settings.icon.user-check.label"
            },
            {
              "value":"user",
              "label":"t:general.settings.icon.user.label"
            },
            {
              "value":"zap",
              "label":"t:general.settings.icon.zap.label"
            }
          ],
          "default":""
        },
        {
          "type":"header",
          "content":"t:general.headers.color.content"
        },
        {
          "type":"select",
          "id":"color_scheme",
          "label":"t:general.settings.color_scheme.label",
          "options":[
            {
              "value":"btn",
              "label":"t:general.settings.color_button.primary.label"
            },
            {
              "value":"btn btn--secondary",
              "label":"t:general.settings.color_button.secondary.label"
            },
            {
              "value":"btn btn--tertiary",
              "label":"t:general.settings.color_button.tertiary.label"
            },
            {
              "value":"btn btn--neutral",
              "label":"t:general.settings.color_button.neutral.label"
            },
            {
              "value":"btn btn--plain",
              "label":"t:general.settings.color_button.plain.label"
            },
            {
              "value":"minimal",
              "label":"t:general.settings.color_button.minimal.label"
            }
          ],
          "default":"minimal"
        },
        {
          "type":"header",
          "content":"t:general.headers.display.content"
        },
        {
          "type":"checkbox",
          "id":"enable_open",
          "label":"t:general.settings.use_open_accordion.label"
        }
      ]
    },
    {
      "type":"discount",
      "name":"t:sections.tabs.blocks.discount.name",
      "settings":[
        {
          "type":"text",
          "id":"tab",
          "label":"t:general.settings.tab.label",
          "info":"t:general.settings.tab.info"
        },
        {
          "type":"header",
          "content":"t:general.headers.content.content"
        },
        {
          "type":"richtext",
          "id":"content",
          "label":"t:general.settings.content.label",
          "default":{
            "en":"<p>Describe a product, make announcements, or inform customers about a promotion.</p>",
            "es":"<p>Describa un producto, haga anuncios o informe a los clientes sobre una promoción.</p>",
            "it":"<p>Descrivi un prodotto, fai annunci o informa i clienti su una promozione.</p>",
            "de":"<p>Beschreiben Sie ein Produkt, machen Sie Ankündigungen oder informieren Sie Kunden über eine Werbeaktion.</p>",
            "fr":"<p>Décrivez un produit, faites des annonces ou informez les clients d’une promotion.</p>"
          }
        },
        {
          "type":"text",
          "id":"code",
          "label":"t:general.settings.discount_code.label",
          "default":{
            "en":"SAVE10",
            "es":"AHORRA10",
            "it":"RISPARMIA10",
            "de":"SPARE10",
            "fr":"ECONOMISEZ10"
          }
        },
        {
          "type":"header",
          "content":"t:general.headers.color.content"
        },
        {
          "type":"select",
          "id":"color_button",
          "label":"t:general.settings.color_button.label",
          "options":[
            {
              "value":"btn--small",
              "label":"t:general.settings.color_button.primary.label"
            },
            {
              "value":"btn--small btn--secondary",
              "label":"t:general.settings.color_button.secondary.label"
            },
            {
              "value":"btn--small btn--tertiary",
              "label":"t:general.settings.color_button.tertiary.label"
            },
            {
              "value":"btn--small btn--neutral",
              "label":"t:general.settings.color_button.neutral.label"
            },
            {
              "value":"btn--small btn--plain",
              "label":"t:general.settings.color_button.plain.label"
            },
            {
              "value":"btn--small btn--outline",
              "label":"t:general.settings.color_button.outline.label"
            },
            {
              "value":"btn--small btn--outline-alt",
              "label":"t:general.settings.color_button.inverted_outline.label"
            },
            {
              "value":"btn--small btn--minimal",
              "label":"t:general.settings.color_button.link.label"
            },
            {
              "value":"btn--small btn--minimal-alt",
              "label":"t:general.settings.color_button.inverted_link.label"
            }
          ],
          "default":"btn--small btn--plain"
        }
      ]
    }
  ],
  "presets":[
    {
      "name":"Tabs",
      "settings":{
        "tabs":"Details, Location, Instructions",
        "heading":"Tabs",
        "content":"",
        "button_label":"",
        "button_url":"",
        "spacing_top":100,
        "spacing_bottom":100,
        "color_background":"#ffffff",
        "color_text":"color__dark",
        "color_border":"color__border-divider-1",
        "enable_color_fade":false,
        "style_border":"border--b-width",
        "layout_x_alignment":"justify-between",
        "enable_margin":true,
        "enable_split":false,
        "visibility":""
      },
      "blocks":[
        {
          "type":"accordion",
          "settings":{
            "tab":"details",
            "heading":"A question your customers are asking",
            "content":"<p>Answer to help your customers feel more comfortable completing their purchase.<\/p>"
          }
        },
        {
          "type":"accordion",
          "settings":{
            "tab":"details",
            "heading":"A question your customers are asking",
            "content":"<p>Answer to help your customers feel more comfortable completing their purchase.<\/p>"
          }
        },
        {
          "type":"content",
          "settings":{
            "tab":"Location",
            "content":"<p>Describe a product, make announcements, or inform customers about a promotion.<\/p>"
          }
        },
        {
          "type":"newsletter",
          "settings":{
            "tab":"Instructions",
            "content":"<p>Tell customers why they should subscribe to your newsletter.<\/p>",
            "button_label":"Subscribe",
            "disclaimer":"",
            "success":"<p>Success! You’ve been subscribed.<\/p>",
            "color_button":"btn--small"
          }
        }
      ]
    }
  ],
  "disabled_on":{
    "groups":[
      "custom.overlay"
    ]
  }
}
{% endschema %}