<!-- sections/testimonial-slider.liquid -->
{% comment %} 
  Slider to highlight multiple testimonails.

  Globals:
    - settings.x_margin: horizontaly margin
    - settings.enable_animations: boolean to enable animations

  Possible enhancements:
    - 
{% endcomment %}

{% liquid
  capture left_column_width
    echo section.settings.layout_column_width | append: "%"
  endcapture
  capture right_column_width
    echo 100 | minus: section.settings.layout_column_width | append: "%"
  endcapture
%}

<section 
  id="{{ section.id }}"
  class="
    animation-1000
    {{ section.settings.visibility }}
    {{ section.settings.color_border }}
    {{ section.settings.style_border }}
    {% unless section.settings.enable_color_fade %}
      {{ section.settings.color_text }}
      {% unless section.settings.color_scheme == 'custom' %}
        {{ section.settings.color_scheme }}
      {% endunless %}
    {% endunless %}
  "
  {% if section.settings.color_scheme == 'custom' %}
    {% unless section.settings.enable_color_fade %}
      style="
        background:{{ section.settings.color_background }};
      "
    {% endunless %}
  {% endif %}
  {% if section.settings.enable_color_fade %}
    :class="`${body_background_color} ${body_text_color}`"
    :style="{ background: body_background_color }"
    x-intersect.margin.-50%="
      body_background_color = '{% if section.settings.color_scheme == 'custom' %}{{ section.settings.color_background }}{% else %}{{ section.settings.color_scheme }}{% endif %}';
      body_text_color = '{{ section.settings.color_text }}';
    "
  {% endif %}
  x-data="{
    index: 0,
    index_size: {{ section.blocks.size | minus: 1 }},
    scrollNext() {
      if(this.index >= this.index_size){
        this.index = 0
      } else {
        this.index++
      }
    },
    scrollBack() {
      if(this.index <= 0){
        this.index = this.index_size;
      } else {
        this.index--
      }
    },
    autoScroll() {
      setInterval(() => this.scrollNext(), {{ section.settings.announcement_delay }}000);
    }
  }"
  {% if section.settings.announcement_delay > 0 %}
    x-init="autoScroll()"
  {% endif %}>
  <div 
    class="
      {% if section.settings.enable_margin %}
        {{ settings.x_margin }}
      {% endif %}
    "
    style="
      padding-top:{{ section.settings.spacing_top }}px;
      padding-bottom:{{ section.settings.spacing_bottom }}px;
    ">

    <div 
      class="w-full ">
      {% for block in section.blocks %}
        <div
          class="
            flex gap-4
            {{ section.settings.layout_x_alignment }}
            {{ section.settings.layout_y_alignment }}
          "
          x-show="index == {{ forloop.index0 }}"
          {% unless forloop.index0 == 0 %}
            x-cloak
          {% endunless %}>
          
          {% comment %} Testimonial {% endcomment %}
          <div 
            class="
              flex flex-col gap-8
              md:w-[{{ left_column_width }}]
              {{ block.settings.layout_x_alignment }}
              {% unless section.settings.enable_margin %}
                px-4
              {% endunless %}
            ">
  
            {% unless block.settings.logo == blank %}
              {% capture image_size %}
                height: {{ block.settings.logo_height }}px;
                width: {{ block.settings.logo_height | times: block.settings.logo.aspect_ratio }}px;
              {% endcapture %}
              <div 
                class="relative items-center block" 
                style="{{ image_size }}">
                {% render 'component__image', 
                  image: block.settings.logo,
                  max_width: 600,
                  background_class: '!bg-transparent',
                  crop_class: 'object-contain',
                  image_class: 'w-full h-full',
                  enable_lazy_load: true,
                  enable_2x: true
                %}
              </div>
            {% endunless %}
  
            <h3 
              class="type__heading-1 type__heading"
              style="word-break: break-word;">
              {{ block.settings.content }}
            </h3>
  
            <div class="flex items-center gap-2
              {{ block.settings.layout_x_alignment }}">
              {% if block.settings.avatar and block.settings.layout_x_alignment != 'text-center justify-center items-center' %}
                <div class="w-10 h-10 overflow-hidden border__button--radius">
                  {% render 'component__image', 
                    image: block.settings.avatar,
                    max_width: 80,
                    aspect_ratio: 'aspect-[1/1]',
                    background_class: 'color__bg-shade-2',
                    crop_class: 'object-cover',
                    enable_lazy_load: true,
                    enable_2x: true
                  %}
                </div>
              {% endif %}
              <div class="opacity-75 type--small">
                <p>
                  {{ block.settings.name }}
                </p>
                {{ block.settings.title }}
              </div>
            </div>
  
            {% if section.blocks.size >= 2 %}
              <div class="flex gap-4
                {{ block.settings.layout_x_alignment }}">
                <button class="btn btn--plain btn--smaller"
                  @click="scrollBack();">
                  {% render 'component__icon', icon: 'chevron-left', size: '16', class: '' %}
                </button>
                <button class="btn btn--plain btn--smaller"
                  @click="scrollNext();">
                  {% render 'component__icon', icon: 'chevron-right', size: '16', class: '' %}
                </button>
              </div>
            {% endif %}
  
          </div>
  
          {% comment %} Media {% endcomment %}
          {% unless block.settings.image == blank %}
            <div 
              class="
                md:w-[{{ right_column_width }}] hidden md:block
              ">
              <div class="relative w-full h-full overflow-hidden border--radius">
                {% render 'component__image',
                  image: block.settings.image,
                  max_width: 2000,
                  container_class: 'h-full w-full',
                  background_class: 'color__bg-shade-2',
                  image_class: 'w-full',
                  crop_class: 'object-cover',
                  enable_lazy_load: true,
                  enable_2x: true
                %}
              </div>
            </div>
          {% endunless %}
  
        </div>
      {% endfor %}
    </div>
    
  </div>
</section>

{% schema %}
{
  "name":"t:sections.testimonial_slider.name",
  "settings":[
    {
      "type":"range",
      "id":"announcement_delay",
      "min":0,
      "max":20,
      "step":1,
      "unit":"s",
      "label":"t:general.settings.auto_scroll_delay.label",
      "info":"t:general.settings.auto_scroll_delay.info",
      "default":0
    },
    {
      "type":"header",
      "content":"t:general.headers.spacing.content"
    },
    {
      "type":"range",
      "id":"spacing_top",
      "min":0,
      "max":300,
      "step":10,
      "unit":"px",
      "label":"t:general.settings.top_spacing.label",
      "default":100
    },
    {
      "type":"range",
      "id":"spacing_bottom",
      "min":0,
      "max":300,
      "step":10,
      "unit":"px",
      "label":"t:general.settings.bottom_spacing.label",
      "default":100
    },
    {
      "type":"header",
      "content":"t:general.headers.color.content"
    },
    {
      "type":"select",
      "id":"color_scheme",
      "label":"t:general.settings.color_scheme.label",
      "options":[
        {
          "value":"color__bg-body",
          "label":"t:general.settings.color_scheme.body.label"
        },
        {
          "value":"color__bg-neutral",
          "label":"t:general.settings.color_scheme.neutral.label"
        },
        {
          "value":"color__bg-overlay-1",
          "label":"t:general.settings.color_scheme.accent_1.label"
        },
        {
          "value":"color__bg-overlay-2",
          "label":"t:general.settings.color_scheme.accent_2.label"
        },
        {
          "value":"color__bg-overlay-3",
          "label":"t:general.settings.color_scheme.accent_3.label"
        },
        {
          "value":"color__bg-shade-1",
          "label":"t:general.settings.color_scheme.shade_1.label"
        },
        {
          "value":"color__bg-shade-2",
          "label":"t:general.settings.color_scheme.shade_2.label"
        },
        {
          "value":"color__bg-shade-3",
          "label":"t:general.settings.color_scheme.shade_3.label"
        },
        {
          "value":"color__bg-primary",
          "label":"t:general.settings.color_scheme.primary.label"
        },
        {
          "value":"color__bg-secondary",
          "label":"t:general.settings.color_scheme.secondary.label"
        },
        {
          "value":"color__bg-tertiary",
          "label":"t:general.settings.color_scheme.tertiary.label"
        },
        {
          "value":"custom",
          "label":"t:general.settings.color_scheme.custom.label"
        }
      ],
      "default":"color__bg-body"
    },
    {
      "type":"color",
      "id":"color_background",
      "label":"t:general.settings.color_custom.label",
      "info":"t:general.settings.color_custom.info",
      "default":"#ffffff"
    },
    {
      "type":"select",
      "id":"color_text",
      "label":"t:general.settings.color_text.label",
      "options":[
        {
          "value":"",
          "label":"t:general.settings.color_text.default.label"
        },
        {
          "value":"color__light",
          "label":"t:general.settings.color_text.force_light.label"
        },
        {
          "value":"color__dark",
          "label":"t:general.settings.color_text.force_dark.label"
        }
      ],
      "default":""
    },
    {
      "type":"select",
      "id":"color_border",
      "label":"t:general.settings.color_border.label",
      "options":[
        {
          "value":"color__border-divider-1",
          "label":"t:general.settings.color_border.subtle.label"
        },
        {
          "value":"color__border-selected-1",
          "label":"t:general.settings.color_border.strong.label"
        }
      ],
      "default":"color__border-divider-1"
    },
    {
      "type":"checkbox",
      "id":"enable_color_fade",
      "label":"t:general.settings.enable_color_fade.label",
      "info":"t:general.settings.enable_color_fade.info",
      "default":false
    },
    {
      "type":"header",
      "content":"t:general.headers.style.content"
    },
    {
      "type":"select",
      "id":"style_border",
      "label":"t:general.settings.border_position.label",
      "options":[
        {
          "value":"",
          "label":"t:general.settings.border_position.none.label"
        },
        {
          "value":"border--t-width",
          "label":"t:general.settings.border_position.top.label"
        },
        {
          "value":"border--b-width",
          "label":"t:general.settings.border_position.bottom.label"
        },
        {
          "value":"border--b-width border--t-width",
          "label":"t:general.settings.border_position.top_and_bottom.label"
        }
      ],
      "default":"border--b-width"
    },
    {
      "type":"header",
      "content":"t:general.headers.layout.content"
    },
    {
      "type":"select",
      "id":"layout_y_alignment",
      "label":"t:general.settings.y_alignment.label",
      "options":[
        {
          "value":"items-start",
          "label":"t:general.settings.y_alignment.top.label"
        },
        {
          "value":"items-center",
          "label":"t:general.settings.y_alignment.middle.label"
        },
        {
          "value":"items-end",
          "label":"t:general.settings.y_alignment.bottom.label"
        }
      ],
      "default":"items-end"
    },
    {
      "type":"select",
      "id":"layout_x_alignment",
      "label":"t:general.settings.x_alignment.label",
      "options":[
        {
          "value":"justify-start",
          "label":"t:general.settings.x_alignment.left.label"
        },
        {
          "value":"justify-center",
          "label":"t:general.settings.x_alignment.center.label"
        },
        {
          "value":"justify-end",
          "label":"t:general.settings.x_alignment.right.label"
        }
      ],
      "default":"justify-start"
    },
    {
      "type":"range",
      "id":"layout_column_width",
      "label":"t:general.settings.column_width.label",
      "info":"t:general.settings.column_width.info",
      "min":20,
      "max":100,
      "step":10,
      "unit":"%",
      "default":50
    },
    {
      "type":"checkbox",
      "id":"enable_margin",
      "label":"t:general.settings.enable_margin.label",
      "default":true
    },
    {
      "type":"header",
      "content":"t:general.headers.display.content"
    },
    {
      "type":"select",
      "id":"visibility",
      "label":"t:general.settings.visibility.label",
      "options":[
        {
          "value":"",
          "label":"t:general.settings.visibility.all.label"
        },
        {
          "value":"md:hidden",
          "label":"t:general.settings.visibility.mobile.label"
        },
        {
          "value":"hidden md:block",
          "label":"t:general.settings.visibility.desktop.label"
        }
      ],
      "default":""
    }
  ],
  "blocks":[
    {
      "type":"testimonial",
      "name":"t:sections.testimonial_slider.blocks.testimonial.name",
      "limit":20,
      "settings":[
        {
          "type":"header",
          "content":"t:general.headers.content.content"
        },
        {
          "type":"text",
          "id":"content",
          "label":"t:general.settings.content.label",
          "default":{
            "en":"Describe a product, make announcements, or inform customers about a promotion.",
            "es":"Describa un producto, haga anuncios o informe a los clientes sobre una promoción.",
            "it":"Descrivi un prodotto, fai annunci o informa i clienti su una promozione.",
            "de":"Beschreiben Sie ein Produkt, machen Sie Ankündigungen oder informieren Sie Kunden über eine Werbeaktion.",
            "fr":"Décrivez un produit, faites des annonces ou informez les clients d’une promotion."
          }
        },
        {
          "type":"richtext",
          "id":"name",
          "label":"t:general.settings.name.label",
          "default":{
            "en":"<p>Reviewer name</p>",
            "es":"<p>Nombre del revisor</p>",
            "it":"<p>Nome del revisore</p>",
            "de":"<p>Name des Prüfers</p>",
            "fr":"<p>Nom de l’évaluateur</p>"
          }
        },
        {
          "type":"richtext",
          "id":"title",
          "label":"t:general.settings.title.label",
          "default":{
            "en":"<p>Founder</p>",
            "es":"<p>Fundador</p>",
            "it":"<p>Fondatore</p>",
            "de":"<p>Gründer</p>",
            "fr":"<p>Fondateur</p>"
          }
        },
        {
          "type":"image_picker",
          "id":"avatar",
          "label":"t:general.settings.avatar_128.label",
          "info":"t:general.settings.avatar_128.info"
        },
        {
          "type":"image_picker",
          "id":"logo",
          "label":"t:general.settings.logo.label"
        },
        {
          "type":"image_picker",
          "id":"image",
          "label":"t:general.settings.image.label"
        },
        {
          "type": "range",
          "id": "logo_height",
          "min": 10,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "t:general.settings.logo_height.label",
          "default": 44
        },
        {
          "type":"header",
          "content":"t:general.headers.layout.content"
        },
        {
          "type":"select",
          "id":"layout_x_alignment",
          "label":"t:general.settings.x_alignment.label",
          "options":[
            {
              "value":"text-left justify-start items-start",
              "label":"t:general.settings.x_alignment.left.label"
            },
            {
              "value":"text-center justify-center items-center",
              "label":"t:general.settings.x_alignment.center.label"
            },
            {
              "value":"text-right justify-end items-end",
              "label":"t:general.settings.x_alignment.right.label"
            }
          ],
          "default":"text-left justify-start items-start"
        }
      ]
    }
  ],
  "presets":[
    {
      "name":"t:sections.testimonial_slider.name",
      "settings":{
        "announcement_delay": 0,
        "spacing_top": 100,
        "spacing_bottom": 100,
        "color_background": "#ffffff",
        "color_text": "",
        "color_border": "color__border-divider-1",
        "enable_color_fade": false,
        "style_border": "border--b-width",
        "layout_x_alignment": "justify-start",
        "enable_margin": true,
        "visibility": ""
      },
      "blocks":[
        {
          "type":"testimonial",
          "settings":{
            "content":"Include a valuable review or testimonial that shows customers how much people enjoy your products."
          }
        },
        {
          "type":"testimonial",
          "settings":{
            "content":"Include a valuable review or testimonial that shows customers how much people enjoy your products."
          }
        },
        {
          "type":"testimonial",
          "settings":{
            "content":"Include a valuable review or testimonial that shows customers how much people enjoy your products."
          }
        }
      ]
    }
  ],
  "disabled_on":{
    "groups":[
      "custom.overlay"
    ]
  }
}
{% endschema %}