<!-- sections/testimonial-grid.liquid -->
{% comment %} 
  Grid of testimonials.

  Globals:
   - layout_horizontal: {string} Class string to set horizontal margin.
{% endcomment %}

<section 
  id="{{ section.id }}"
  class="
    animation-1000
    {{ section.settings.visibility }}
    {{ section.settings.color_border }}
    {{ section.settings.style_border }}
    {% unless section.settings.enable_color_fade %}
      {{ section.settings.color_text }}
      {% unless section.settings.color_scheme == 'custom' %}
        {{ section.settings.color_scheme }}
      {% endunless %}
    {% endunless %}
  "
  {% if section.settings.color_scheme == 'custom' %}
    {% unless section.settings.enable_color_fade %}
      style="
        background:{{ section.settings.color_background }};
      "
    {% endunless %}
  {% endif %}
  {% if section.settings.enable_color_fade %}
    :class="`${body_background_color} ${body_text_color}`"
    :style="{ background: body_background_color }"
    x-intersect.margin.-50%="
      body_background_color = '{% if section.settings.color_scheme == 'custom' %}{{ section.settings.color_background }}{% else %}{{ section.settings.color_scheme }}{% endif %}';
      body_text_color = '{{ section.settings.color_text }}';
    "
  {% endif %}>
  <div
    class="
      {% if section.settings.enable_margin %}
        {{ settings.x_margin }}
      {% endif %}
    "
    style="
      padding-top:{{ section.settings.spacing_top }}px;
      padding-bottom:{{ section.settings.spacing_bottom }}px;
    ">
    <div
      class="
        flex flex-wrap items-start justify-between
        {% if section.settings.enable_split %}
          flex-row
        {% else %}
          flex-col
        {% endif %}
      ">

      {% comment %} Header {% endcomment %}
      <div 
        class="
          flex w-full flex-col
          {% if section.settings.enable_split %}md:w-1/3 md:pr-4{% endif %}
          {% unless section.settings.enable_margin %}
            px-4
          {% endunless %}
        ">
        {% render 'component__section-header' %} 
      </div>
      
      {% comment %} Content {% endcomment %}
      <div 
        class="
          grid w-full
          md:grid-cols-{{ section.settings.layout_row_desktop }}
          grid-cols-{{ section.settings.layout_row_mobile }}
          {% if section.settings.enable_split %}md:w-2/3{% endif %}
        "
        style="
          gap: {{ settings.gap_size }}px;
        ">

        {% for block in section.blocks %}
          <div class="flex flex-col gap-2">
            <div class="p-4 space-y-4 border--l-width color__border-divider-1">
              {{ block.settings.content }}
            </div>
            <div class="flex items-center gap-2">
              {% if block.settings.avatar == blank %}
                <div class="relative w-6 h-6 border__button--radius color__bg-shade-2">
                  {{ 'image' | placeholder_svg_tag: 'w-full object-cover aspect-[1/1]' }}
                </div>
              {% else %}
                <div class="w-6 h-6 overflow-hidden border__button--radius">
                  {% render 'component__image', 
                    image: block.settings.avatar,
                    max_width: 48,
                    background_class: 'color__bg-shade-2',
                    ratio_class: 'aspect-[1/1]',
                    crop_class: 'object-cover',
                    enable_lazy_load: true,
                    enable_2x: true
                  %}
                </div>
              {% endif %}
              <div class="space-y-4 opacity-75 type--small">
                {{ block.settings.title }}
              </div>
            </div>
          </div>
        {% endfor %}

      </div>
    
    </div>
  </div>
</section>

{% schema %}
{
  "name":"t:sections.testimonial_grid.name",
  "settings":[
    {
      "type":"header",
      "content":"t:general.headers.content.content"
    },
    {
      "type":"text",
      "id":"heading",
      "label":"t:general.settings.heading.label"
    },
    {
      "type":"richtext",
      "id":"content",
      "label":"t:general.settings.content.label"
    },
    {
      "type":"text",
      "id":"button_label",
      "label":"t:general.settings.button_label.label"
    },
    {
      "type":"url",
      "id":"button_url",
      "label":"t:general.settings.button_url.label"
    },
    {
      "type":"header",
      "content":"t:general.headers.spacing.content"
    },
    {
      "type":"range",
      "id":"spacing_top",
      "min":0,
      "max":300,
      "step":10,
      "unit":"px",
      "label":"t:general.settings.top_spacing.label",
      "default":100
    },
    {
      "type":"range",
      "id":"spacing_bottom",
      "min":0,
      "max":300,
      "step":10,
      "unit":"px",
      "label":"t:general.settings.bottom_spacing.label",
      "default":100
    },
    {
      "type":"header",
      "content":"t:general.headers.color.content"
    },
    {
      "type":"select",
      "id":"color_scheme",
      "label":"t:general.settings.color_scheme.label",
      "options":[
        {
          "value":"color__bg-body",
          "label":"t:general.settings.color_scheme.body.label"
        },
        {
          "value":"color__bg-neutral",
          "label":"t:general.settings.color_scheme.neutral.label"
        },
        {
          "value":"color__bg-overlay-1",
          "label":"t:general.settings.color_scheme.accent_1.label"
        },
        {
          "value":"color__bg-overlay-2",
          "label":"t:general.settings.color_scheme.accent_2.label"
        },
        {
          "value":"color__bg-overlay-3",
          "label":"t:general.settings.color_scheme.accent_3.label"
        },
        {
          "value":"color__bg-shade-1",
          "label":"t:general.settings.color_scheme.shade_1.label"
        },
        {
          "value":"color__bg-shade-2",
          "label":"t:general.settings.color_scheme.shade_2.label"
        },
        {
          "value":"color__bg-shade-3",
          "label":"t:general.settings.color_scheme.shade_3.label"
        },
        {
          "value":"color__bg-primary",
          "label":"t:general.settings.color_scheme.primary.label"
        },
        {
          "value":"color__bg-secondary",
          "label":"t:general.settings.color_scheme.secondary.label"
        },
        {
          "value":"color__bg-tertiary",
          "label":"t:general.settings.color_scheme.tertiary.label"
        },
        {
          "value":"custom",
          "label":"t:general.settings.color_scheme.custom.label"
        }
      ],
      "default":"color__bg-body"
    },
    {
      "type":"color",
      "id":"color_background",
      "label":"t:general.settings.color_custom.label",
      "info":"t:general.settings.color_custom.info",
      "default":"#ffffff"
    },
    {
      "type":"select",
      "id":"color_text",
      "label":"t:general.settings.color_text.label",
      "options":[
        {
          "value":"",
          "label":"t:general.settings.color_text.default.label"
        },
        {
          "value":"color__light",
          "label":"t:general.settings.color_text.force_light.label"
        },
        {
          "value":"color__dark",
          "label":"t:general.settings.color_text.force_dark.label"
        }
      ],
      "default":""
    },
    {
      "type":"select",
      "id":"color_border",
      "label":"t:general.settings.color_border.label",
      "options":[
        {
          "value":"color__border-divider-1",
          "label":"t:general.settings.color_border.subtle.label"
        },
        {
          "value":"color__border-selected-1",
          "label":"t:general.settings.color_border.strong.label"
        }
      ],
      "default":"color__border-divider-1"
    },
    {
      "type":"select",
      "id":"color_button",
      "label":"t:general.settings.color_button.label",
      "options":[
        {
          "value":"btn",
          "label":"t:general.settings.color_button.primary.label"
        },
        {
          "value":"btn btn--secondary",
          "label":"t:general.settings.color_button.secondary.label"
        },
        {
          "value":"btn btn--tertiary",
          "label":"t:general.settings.color_button.tertiary.label"
        },
        {
          "value":"btn btn--neutral",
          "label":"t:general.settings.color_button.neutral.label"
        },
        {
          "value":"btn btn--plain",
          "label":"t:general.settings.color_button.plain.label"
        },
        {
          "value":"btn btn--outline",
          "label":"t:general.settings.color_button.outline.label"
        },
        {
          "value":"btn btn--outline-alt",
          "label":"t:general.settings.color_button.inverted_outline.label"
        },
        {
          "value":"btn btn--minimal",
          "label":"t:general.settings.color_button.link.label"
        },
        {
          "value":"btn btn--minimal-alt",
          "label":"t:general.settings.color_button.inverted_link.label"
        }
      ],
      "default":"btn btn--secondary"
    },
    {
      "type":"checkbox",
      "id":"enable_color_fade",
      "label":"t:general.settings.enable_color_fade.label",
      "info":"t:general.settings.enable_color_fade.info",
      "default":false
    },
    {
      "type":"header",
      "content":"t:general.headers.style.content"
    },
    {
      "type":"select",
      "id":"style_border",
      "label":"t:general.settings.border_position.label",
      "options":[
        {
          "value":"",
          "label":"t:general.settings.border_position.none.label"
        },
        {
          "value":"border--t-width",
          "label":"t:general.settings.border_position.top.label"
        },
        {
          "value":"border--b-width",
          "label":"t:general.settings.border_position.bottom.label"
        },
        {
          "value":"border--b-width border--t-width",
          "label":"t:general.settings.border_position.top_and_bottom.label"
        }
      ],
      "default":"border--b-width"
    },
    {
      "type":"header",
      "content":"t:general.headers.layout.content"
    },
    {
      "type":"paragraph",
      "content":"t:general.paragraphs.row_size.content"
    },
    {
      "type":"range",
      "id":"layout_row_desktop",
      "min":1,
      "max":8,
      "step":1,
      "label":"t:general.settings.row_desktop.label",
      "default":3
    },
    {
      "type":"range",
      "id":"layout_row_mobile",
      "min":1,
      "max":4,
      "step":1,
      "label":"t:general.settings.row_mobile.label",
      "default":1
    },
    {
      "type":"select",
      "id":"layout_x_alignment",
      "label":"t:general.settings.x_alignment.label",
      "options":[
        {
          "value":"justify-between",
          "label":"t:general.settings.x_alignment.left.label"
        },
        {
          "value":"text-center justify-center flex-col items-center",
          "label":"t:general.settings.x_alignment.center.label"
        },
        {
          "value":"text-right justify-end flex-col items-end",
          "label":"t:general.settings.x_alignment.right.label"
        }
      ],
      "default":"justify-between"
    },
    {
      "type":"checkbox",
      "id":"enable_margin",
      "label":"t:general.settings.enable_margin.label",
      "default":true
    },
    {
      "type":"checkbox",
      "id":"enable_split",
      "label":"t:general.settings.enable_split.label",
      "default":false
    },
    {
      "type":"header",
      "content":"t:general.headers.display.content"
    },
    {
      "type":"select",
      "id":"visibility",
      "label":"t:general.settings.visibility.label",
      "options":[
        {
          "value":"",
          "label":"t:general.settings.visibility.all.label"
        },
        {
          "value":"md:hidden",
          "label":"t:general.settings.visibility.mobile.label"
        },
        {
          "value":"hidden md:block",
          "label":"t:general.settings.visibility.desktop.label"
        }
      ],
      "default":""
    }
  ],
  "blocks":[
    {
      "type":"testimonial",
      "name":"t:sections.testimonial_grid.blocks.testimonial.name",
      "limit":20,
      "settings":[
        {
          "type":"header",
          "content":"t:general.headers.content.content"
        },
        {
          "type":"richtext",
          "id":"content",
          "label":"t:general.settings.content.label",
          "default":{
            "en":"<p>Describe a product, make announcements, or inform customers about a promotion.</p>",
            "es":"<p>Describa un producto, haga anuncios o informe a los clientes sobre una promoción.</p>",
            "it":"<p>Descrivi un prodotto, fai annunci o informa i clienti su una promozione.</p>",
            "de":"<p>Beschreiben Sie ein Produkt, machen Sie Ankündigungen oder informieren Sie Kunden über eine Werbeaktion.</p>",
            "fr":"<p>Décrivez un produit, faites des annonces ou informez les clients d’une promotion.</p>"
          }
        },
        {
          "type":"richtext",
          "id":"title",
          "label":"t:general.settings.name.label",
          "default":{
            "en":"<p>Reviewer name</p>",
            "es":"<p>Nombre del revisor</p>",
            "it":"<p>Nome del revisore</p>",
            "de":"<p>Name des Prüfers</p>",
            "fr":"<p>Nom de l’évaluateur</p>"
          }
        },
        {
          "type":"image_picker",
          "id":"avatar",
          "label":"t:general.settings.avatar_128.label",
          "info":"t:general.settings.avatar_128.info"
        }
      ]
    }
  ],
  "presets":[
    {
      "name":"t:sections.testimonial_grid.name",
      "settings":{
        "heading":"Testimonials",
        "content": "<p>Describe a product, make announcements, or welcome customers to your store.<\/p>",
        "button_label": "Button",
        "button_url": "shopify:\/\/collections\/all",
        "spacing_top": 100,
        "spacing_bottom": 100,
        "color_background": "#ffffff",
        "color_text": "",
        "color_border": "color__border-divider-1",
        "color_button": "btn btn--secondary",
        "enable_color_fade": false,
        "style_border": "border--b-width",
        "layout_row_desktop": 3,
        "layout_row_mobile": 1,
        "layout_x_alignment": "justify-between",
        "enable_margin": true,
        "enable_split": false,
        "visibility": ""
      },
      "blocks":[
        {
          "type":"testimonial",
          "settings":{
            "content":"<p>Include a valuable review or testimonial that shows customers how much people enjoy your products.</p>",
            "title":"<p>Reviewer name</p>"
          }
        },
        {
          "type":"testimonial",
          "settings":{
            "content":"<p>Include a valuable review or testimonial that shows customers how much people enjoy your products.</p>",
            "title":"<p>Reviewer name</p>"
          }
        },
        {
          "type":"testimonial",
          "settings":{
            "content":"<p>Include a valuable review or testimonial that shows customers how much people enjoy your products.</p>",
            "title":"<p>Reviewer name</p>"
          }
        }
      ]
    }
  ],
  "disabled_on":{
    "groups":[
      "custom.overlay"
    ]
  }
}
{% endschema %}