<!-- sections/text-highlight.liquid -->
{% comment %} 
  Text that changes colors as you scroll.

  Globals:
  - layout_horizontal: {string} Horizontal margin from global theme settings.

  Possible enhancements:
  - Add alternative layout options
{% endcomment %}

{% assign total_words = 0 %}
{% for block in section.blocks %}
  {% case block.type %}
    {% when 'heading' %}
      {% assign content = block.settings.content | strip_html %}
      {% assign words = content | split: ' ' %}
      {% assign total_words = total_words | plus: words.size %}
    {% when 'content' %}
      {% assign content = block.settings.content | strip_html %}
      {% assign words = content | split: ' ' %}
      {% assign total_words = total_words | plus: words.size %}
  {% endcase %}
{% endfor %}

<section 
  id="{{ section.id }}"
  class="
    animation-1000
    {{ section.settings.visibility }}
    {{ section.settings.color_border }}
    {{ section.settings.style_border }}
    {% unless section.settings.enable_color_fade %}
      {{ section.settings.color_text }}
      {% unless section.settings.color_scheme == 'custom' %}
        {{ section.settings.color_scheme }}
      {% endunless %}
    {% endunless %}
    {% if section.settings.enable_sticky_layout %}
      h-[2000px]
    {% endif %}
  "
  {% if section.settings.color_scheme == 'custom' %}
    {% unless section.settings.enable_color_fade %}
      style="
        background:{{ section.settings.color_background }};
      "
    {% endunless %}
  {% endif %}
  {% if section.settings.enable_color_fade %}
    :class="`${body_background_color} ${body_text_color}`"
    :style="{ background: body_background_color }"
    x-intersect.margin.-50%="
      body_background_color = '{% if section.settings.color_scheme == 'custom' %}{{ section.settings.color_background }}{% else %}{{ section.settings.color_scheme }}{% endif %}';
      body_text_color = '{{ section.settings.color_text }}';
    "
  {% endif %}
  x-data="{
    scrolled_depth: 0,
    selected_block: 0,
    saved_pos: 0,
    onScroll: function() {
      const windowHeight = window.innerHeight;
      const windowScrolled = window.pageYOffset;
      const element = this.$refs.scroll_element;
      const elementHeight = element.getBoundingClientRect().height;
    
      // when top is within 50% of height
      if(
        element.getBoundingClientRect().top < 
        (windowHeight
          {% if section.settings.enable_sticky_layout %}
            /2
          {% else %}
            
          {% endif %}
        )
      ){
        // Set savePosition if unset
        if (this.saved_pos <= 0) {
          this.saved_pos = windowScrolled;
        }
        const endPosition = this.saved_pos + elementHeight; 
        const difference =  windowScrolled - this.saved_pos;
        const percent = (difference / elementHeight) * 100;
        this.selected_block = percent / (100 / {{ total_words }});
      }
    }
  }"
  @scroll.window.throttle="
    onScroll();
  ">
  <div 
    class="
      {% if section.settings.enable_margin %}
        {{ settings.x_margin }}
      {% else %}
        window--full
      {% endif %}
      {% if section.settings.enable_sticky_layout %}
        sticky
        top-0
      {% endif %}
    ">
    <div 
      class="
        flex flex-col
        {{ section.settings.layout_x_alignment }}
      "
      style="
        padding-top:{{ section.settings.spacing_top }}px;
        padding-bottom:{{ section.settings.spacing_bottom }}px;
      "
      x-ref="scroll_element">
      <div 
        class="
          flex flex-col w-full gap-8
          md:w-[{{ section.settings.layout_column_width }}%]
        "
        style="
          width: ;
        ">

        {% assign current_count = 0 %}
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'heading' %}
              <h2 class="type__heading-1
                {{ block.settings.layout_x_alignment }}">
                {% assign content = block.settings.content | strip_html %}
                {% assign words = content | split: ' ' %}
                {% for word in words %}
                  <span 
                    class="animation-300 type__heading-1 opacity-20"
                    :class="{
                      '!opacity-100' : selected_block >= {{ current_count }}
                    }">
                    {{ word }}
                  </span>
                  {% assign current_count = current_count | plus: 1 %}
                {% endfor %}
              </h2>
            
            {% when 'content' %}
              <div class="type--big
                {{ block.settings.layout_x_alignment }}">
                {% assign content = block.settings.content | strip_html %}
                {% assign words = content | split: ' ' %}
                {% for word in words %}
                  <span 
                    class="animation-300 opacity-20"
                    :class="{
                      '!opacity-100' : selected_block >= {{ current_count }}
                    }">
                    {{ word }}
                  </span>
                  {% assign current_count = current_count | plus: 1 %}
                {% endfor %}
              </div>

            {% when 'buttons' %}
              <div class="md:flex-nowrap flex flex-wrap gap-2
                {{ block.settings.layout_x_alignment }}">
                {% unless block.settings.button_url == blank %}
                  <a href="{{ block.settings.button_url }}" 
                    class="{{ block.settings.color_button }}">
                    {{ block.settings.button_label }}
                  </a>
                {% endunless %}
                {% unless block.settings.secondary_button_url == blank %}
                  <a href="{{ block.settings.secondary_button_url }}" 
                    class="{{ block.settings.secondary_color_button }}">
                    {{ block.settings.secondary_button_label }}
                  </a>
                {% endunless %}
              </div>
              
          {% endcase %}
        {% endfor %}
    
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name":"t:sections.text_highlight.name",
  "class": "section-text-highlight",
  "settings":[
    {
      "type": "header",
      "content": "t:general.headers.spacing.content"
    },
    {
      "type": "range",
      "id": "spacing_top",
      "min": 0,
      "max": 500,
      "step": 10,
      "unit": "px",
      "label": "t:general.settings.top_spacing.label",
      "default": 100
    },
    {
      "type": "range",
      "id": "spacing_bottom",
      "min": 0,
      "max": 500,
      "step": 10,
      "unit": "px",
      "label": "t:general.settings.bottom_spacing.label",
      "default": 100
    },
    {
      "type":"header",
      "content":"t:general.headers.color.content"
    },
    {
      "type":"select",
      "id":"color_scheme",
      "label":"t:general.settings.color_scheme.label",
      "options":[
        {
          "value":"color__bg-body",
          "label":"t:general.settings.color_scheme.body.label"
        },
        {
          "value":"color__bg-neutral",
          "label":"t:general.settings.color_scheme.neutral.label"
        },
        {
          "value":"color__bg-overlay-1",
          "label":"t:general.settings.color_scheme.accent_1.label"
        },
        {
          "value":"color__bg-overlay-2",
          "label":"t:general.settings.color_scheme.accent_2.label"
        },
        {
          "value":"color__bg-overlay-3",
          "label":"t:general.settings.color_scheme.accent_3.label"
        },
        {
          "value":"color__bg-shade-1",
          "label":"t:general.settings.color_scheme.shade_1.label"
        },
        {
          "value":"color__bg-shade-2",
          "label":"t:general.settings.color_scheme.shade_2.label"
        },
        {
          "value":"color__bg-shade-3",
          "label":"t:general.settings.color_scheme.shade_3.label"
        },
        {
          "value":"color__bg-primary",
          "label":"t:general.settings.color_scheme.primary.label"
        },
        {
          "value":"color__bg-secondary",
          "label":"t:general.settings.color_scheme.secondary.label"
        },
        {
          "value":"color__bg-tertiary",
          "label":"t:general.settings.color_scheme.tertiary.label"
        },
        {
          "value":"custom",
          "label":"t:general.settings.color_scheme.custom.label"
        }
      ],
      "default":"color__bg-body"
    },
    {
      "type":"color",
      "id":"color_background",
      "label":"t:general.settings.color_custom.label",
      "info":"t:general.settings.color_custom.info",
      "default":"#ffffff"
    },
    {
      "type":"select",
      "id":"color_text",
      "label":"t:general.settings.color_text.label",
      "options":[
        {
          "value":"",
          "label":"t:general.settings.color_text.default.label"
        },
        {
          "value":"color__light",
          "label":"t:general.settings.color_text.force_light.label"
        },
        {
          "value":"color__dark",
          "label":"t:general.settings.color_text.force_dark.label"
        }
      ],
      "default":""
    },
    {
      "type":"select",
      "id":"color_border",
      "label":"t:general.settings.color_border.label",
      "options":[
        {
          "value":"color__border-divider-1",
          "label":"t:general.settings.color_border.subtle.label"
        },
        {
          "value":"color__border-selected-1",
          "label":"t:general.settings.color_border.strong.label"
        }
      ],
      "default":"color__border-divider-1"
    },
    {
      "type": "checkbox",
      "id": "enable_color_fade",
      "label":"t:general.settings.enable_color_fade.label",
      "info":"t:general.settings.enable_color_fade.info",
      "default": false
    },
    {
      "type":"header",
      "content":"t:general.headers.style.content"
    },
    {
      "type":"select",
      "id":"style_border",
      "label":"t:general.settings.border_position.label",
      "options":[
        {
          "value":"",
          "label":"t:general.settings.border_position.none.label"
        },
        {
          "value":"border--t-width",
          "label":"t:general.settings.border_position.top.label"
        },
        {
          "value":"border--b-width",
          "label":"t:general.settings.border_position.bottom.label"
        },
        {
          "value":"border--b-width border--t-width",
          "label":"t:general.settings.border_position.top_and_bottom.label"
        }
      ],
      "default":"border--b-width"
    },
    {
      "type":"header",
      "content":"t:general.headers.layout.content"
    },
    {
      "type": "range",
      "id":"layout_column_width",
      "label":"t:general.settings.column_width.label",
      "info":"t:general.settings.column_width.info",
      "min": 20,
      "max": 100,
      "step": 10,
      "unit": "%",
      "default": 50
    },
    {
      "type": "select",
      "id": "layout_x_alignment",
      "label": "t:general.settings.x_alignment.label",
      "options": [
        {
          "value": "items-start",
          "label": "t:general.settings.x_alignment.left.label"
        },
        {
          "value": "items-center",
          "label": "t:general.settings.x_alignment.center.label"
        },
        {
          "value": "items-end",
          "label": "t:general.settings.x_alignment.right.label"
        }
      ],
      "default": "items-start"
    },
    {
      "type":"checkbox",
      "id":"enable_margin",
      "label":"t:general.settings.enable_margin.label",
      "default":true
    },
    {
      "type":"checkbox",
      "id":"enable_sticky_layout",
      "label":"t:general.settings.enable_sticky_layout.label",
      "default":false
    },
    {
      "type":"header",
      "content":"t:general.headers.display.content"
    },
    {
      "type":"select",
      "id":"visibility",
      "label":"t:general.settings.visibility.label",
      "options":[
        {
          "value":"",
          "label":"t:general.settings.visibility.all.label"
        },
        {
          "value":"md:hidden",
          "label":"t:general.settings.visibility.mobile.label"
        },
        {
          "value":"hidden md:block",
          "label":"t:general.settings.visibility.desktop.label"
        }
      ],
      "default":""
    }
  ],
  "blocks":[
    {
      "type": "heading",
      "name":"t:sections.text_highlight.blocks.heading.name",
      "settings": [
        {
          "type":"header",
          "content":"t:general.headers.content.content"
        },
        {
          "type": "text",
          "id": "content",
          "label": "t:general.settings.content.label",
          "default":{
            "en":"Describe a product, make announcements, or inform customers about a promotion.",
            "es":"Describa un producto, haga anuncios o informe a los clientes sobre una promoción.",
            "it":"Descrivi un prodotto, fai annunci o informa i clienti su una promozione.",
            "de":"<p>Beschreiben Sie ein Produkt, machen Sie Ankündigungen oder informieren Sie Kunden über eine Werbeaktion.",
            "fr":"Décrivez un produit, faites des annonces ou informez les clients d’une promotion."
          }
        },
        {
          "type":"header",
          "content":"t:general.headers.layout.content"
        },
        {
          "type":"select",
          "id":"layout_x_alignment",
          "label":"t:general.settings.x_alignment.label",
          "options":[
            {
              "value":"",
              "label":"t:general.settings.x_alignment.left.label"
            },
            {
              "value":"text-center",
              "label":"t:general.settings.x_alignment.center.label"
            },
            {
              "value":"text-right",
              "label":"t:general.settings.x_alignment.right.label"
            }
          ],
          "default":""
        }
      ]
    },
    {
      "type": "content",
      "name":"t:sections.text_highlight.blocks.content.name",
      "settings": [
        {
          "type":"header",
          "content":"t:general.headers.content.content"
        },
        {
          "type": "text",
          "id": "content",
          "label": "t:general.settings.content.label",
          "default":{
            "en":"Describe a product, make announcements, or inform customers about a promotion.",
            "es":"Describa un producto, haga anuncios o informe a los clientes sobre una promoción.",
            "it":"Descrivi un prodotto, fai annunci o informa i clienti su una promozione.",
            "de":"<p>Beschreiben Sie ein Produkt, machen Sie Ankündigungen oder informieren Sie Kunden über eine Werbeaktion.",
            "fr":"Décrivez un produit, faites des annonces ou informez les clients d’une promotion."
          }
        },
        {
          "type":"header",
          "content":"t:general.headers.layout.content"
        },
        {
          "type":"select",
          "id":"layout_x_alignment",
          "label":"t:general.settings.x_alignment.label",
          "options":[
            {
              "value":"",
              "label":"t:general.settings.x_alignment.left.label"
            },
            {
              "value":"text-center",
              "label":"t:general.settings.x_alignment.center.label"
            },
            {
              "value":"text-right",
              "label":"t:general.settings.x_alignment.right.label"
            }
          ],
          "default":""
        }
      ]
    },
    {
      "type": "buttons",
      "name":"t:sections.text_highlight.blocks.buttons.name",
      "limit": 1,
      "settings":[
        {
          "type":"header",
          "content":"t:general.headers.primary_button.content"
        },
        {
          "type":"text",
          "id":"button_label",
          "label":"t:general.settings.button_label.label",
          "default":{
            "en":"Button",
            "es":"Etiqueta del botón",
            "it":"Etichetta del pulsante",
            "de":"Schaltflächenbeschriftung",
            "fr":"Étiquette du bouton"
          }
        },
        {
          "type":"url",
          "id":"button_url",
          "label":"t:general.settings.button_url.label",
          "default":"/collections/all"
        },
        {
          "type":"select",
          "id":"color_button",
          "label":"t:general.settings.color_button.label",
          "options":[
            {
              "value":"btn",
              "label":"t:general.settings.color_button.primary.label"
            },
            {
              "value":"btn btn--secondary",
              "label":"t:general.settings.color_button.secondary.label"
            },
            {
              "value":"btn btn--tertiary",
              "label":"t:general.settings.color_button.tertiary.label"
            },
            {
              "value":"btn btn--neutral",
              "label":"t:general.settings.color_button.neutral.label"
            },
            {
              "value":"btn btn--plain",
              "label":"t:general.settings.color_button.plain.label"
            },
            {
              "value":"btn btn--outline",
              "label":"t:general.settings.color_button.outline.label"
            },
            {
              "value":"btn btn--outline-alt",
              "label":"t:general.settings.color_button.inverted_outline.label"
            },
            {
              "value":"btn btn--minimal",
              "label":"t:general.settings.color_button.link.label"
            },
            {
              "value":"btn btn--minimal-alt",
              "label":"t:general.settings.color_button.inverted_link.label"
            }
          ],
          "default":"btn"
        },
        {
          "type":"header",
          "content":"t:general.headers.secondary_button.content"
        },
        {
          "type":"text",
          "id":"secondary_button_label",
          "label":"t:general.settings.button_label.label",
          "default":{
            "en":"Button",
            "es":"Etiqueta del botón",
            "it":"Etichetta del pulsante",
            "de":"Schaltflächenbeschriftung",
            "fr":"Étiquette du bouton"
          }
        },
        {
          "type":"url",
          "id":"secondary_button_url",
          "label":"t:general.settings.button_url.label",
          "default":"/collections/all"
        },
        {
          "type":"select",
          "id":"secondary_color_button",
          "label":"t:general.settings.color_button.label",
          "options":[
            {
              "value":"btn",
              "label":"t:general.settings.color_button.primary.label"
            },
            {
              "value":"btn btn--secondary",
              "label":"t:general.settings.color_button.secondary.label"
            },
            {
              "value":"btn btn--tertiary",
              "label":"t:general.settings.color_button.tertiary.label"
            },
            {
              "value":"btn btn--neutral",
              "label":"t:general.settings.color_button.neutral.label"
            },
            {
              "value":"btn btn--plain",
              "label":"t:general.settings.color_button.plain.label"
            },
            {
              "value":"btn btn--outline",
              "label":"t:general.settings.color_button.outline.label"
            },
            {
              "value":"btn btn--outline-alt",
              "label":"t:general.settings.color_button.inverted_outline.label"
            },
            {
              "value":"btn btn--minimal",
              "label":"t:general.settings.color_button.link.label"
            },
            {
              "value":"btn btn--minimal-alt",
              "label":"t:general.settings.color_button.inverted_link.label"
            }
          ],
          "default":"btn btn--neutral"
        }
      ]
    }
  ],
  "presets":[
    {
      "name":"t:sections.text_highlight.name",
      "settings":{
        "spacing_top": 500,
        "spacing_bottom": 500,
        "color_background": "#ffffff",
        "color_text": "",
        "color_border": "color__border-divider-1",
        "style_border": "border--b-width",
        "layout_x_alignment": "items-start",
        "enable_margin": true,
        "enable_sticky_layout": false,
        "visibility": ""
      },
      "blocks": [
        {
          "type": "heading",
          "settings": {
            "content": "Describe a product, make announcements, or inform customers about a promotion.",
            "layout_x_alignment": ""
          }
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["custom.overlay"]
  }
}
{% endschema %}