<!-- sections/theme__scroll-up.liquid -->
{% comment %} 
  This file is responsible for displaying a "Scroll Up" button on the website. 
  The style of the button (text or icon) is determined by the 'scroll_up_style' setting.
  The button becomes visible when the user scrolls down beyond 30% of the page height.
  On click, the button smoothly scrolls the page back to the top.

  Globals:
  - settings.enable_animations: {boolean} Indicates if animations should be enabled.

  Recommendations:
  - Use this section to improve navigation for long pages.
{% endcomment %}

<section
  id="{{ section.id }}">
  <button 
    class="
      z-40 fixed bottom-0 right-0 m-4 btn--small
      {{ section.settings.visibility }} {{ section.settings.button_color }} btn-{{ section.settings.scroll_up_style }}
    "
    :class="{ 
      '!z-10' : filter_overlay || menu_drawer || cart_drawer || search_drawer || has_overlay
    }" 
    :style="{
      bottom: sticky_bar_height_right + 'px'
    }"
    aria-label="{{ 'actions.back_to_top' | t }}"
    {% if settings.enable_animations %}
      x-transition:enter="animation-300"
      x-transition:enter-start="opacity-0 translate-y-8"
      x-transition:enter-end="opacity-100"
      x-transition:leave="animation-300"
      x-transition:leave-start="opacity-100"
      x-transition:leave-end="opacity-0 translate-y-8"
    {% endif %}
    x-show="show_scroll_up"
    x-cloak
    @scroll.window="
      show_scroll_up = (window.pageYOffset > document.body.offsetHeight * 0.3) ? true : false
    "
    @click.prevent="
      window.scrollTo({top: 0, behavior: 'smooth'})
    ">
    {% if section.settings.scroll_up_style == 'text' %}
      {{ 'actions.back_to_top' | t }}
    {% else %}
      <svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1.73999 6.76562L6.98999 1.51562" stroke="currentColor" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"/>
        <path d="M12.24 6.76562L6.98999 1.51562" stroke="currentColor" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"/>
      </svg>
    {% endif %}
  </button>      
</section>

{% schema %}
   {
  "name":"t:sections.theme_scroll_up.name",
  "class":"sections-scroll-up",
  "settings":[
    {
      "type":"select",
      "id":"scroll_up_style",
      "label":"t:general.settings.button_type.label",
      "options":[
        {
          "value":"icon",
          "label":"t:general.settings.button_type.icon.label"
        },
        {
          "value":"text",
          "label":"t:general.settings.button_type.text.label"
        }
      ],
      "default":"icon"
    },
    {
      "type":"select",
      "id":"button_color",
      "label":"t:general.settings.color_button.label",
      "options":[
        {
          "value":"btn",
          "label":"t:general.settings.color_button.primary.label"
        },
        {
          "value":"btn btn--secondary",
          "label":"t:general.settings.color_button.secondary.label"
        },
        {
          "value":"btn btn--tertiary",
          "label":"t:general.settings.color_button.tertiary.label"
        },
        {
          "value":"btn btn--neutral",
          "label":"t:general.settings.color_button.neutral.label"
        },
        {
          "value":"btn btn--plain",
          "label":"t:general.settings.color_button.plain.label"
        },
        {
          "value":"btn btn--outline",
          "label":"t:general.settings.color_button.outline.label"
        },
        {
          "value":"btn btn--outline-alt",
          "label":"t:general.settings.color_button.inverted_outline.label"
        },
        {
          "value":"btn btn--minimal",
          "label":"t:general.settings.color_button.link.label"
        },
        {
          "value":"btn btn--minimal-alt",
          "label":"t:general.settings.color_button.inverted_link.label"
        }
      ],
      "default":"btn"
    },
    {
      "type":"select",
      "id":"visibility",
      "label":"t:general.settings.visibility.label",
      "options":[
        {
          "value":"",
          "label":"t:general.settings.visibility.all.label"
        },
        {
          "value":"md:hidden",
          "label":"t:general.settings.visibility.mobile.label"
        },
        {
          "value":"hidden md:block",
          "label":"t:general.settings.visibility.desktop.label"
        }
      ],
      "default":""
    },
    {
      "type":"paragraph",
      "content":"t:general.paragraphs.overlap_warning.content"
    }
  ]
}
{% endschema %}
