<!-- sections/theme__header.liquid -->
{% comment %} 
  This file is responsible for rendering the header of the theme. It includes the logo, navigation, and other elements that appear in the header.
  
  Global Variables:
  - layout_horizontal: {string} Class string to set horizontal margin.
  - cart_icon_behavior: {string} Behavior of the cart icon - set to drawer to prevent cart from linking to /cart
{% endcomment %}

{% capture desktop_logo %}
  <div class="md:py-4 flex items-center py-2
    {% if section.settings.bar_layout_desktop == "center" %}w-1/5 justify-center{% endif %}">

    {% capture logo_default_size %}
      height: {{ section.settings.logo_desktop_height }}px;
      width: {{ section.settings.logo_desktop_height | times: section.settings.logo_default.aspect_ratio }}px;
    {% endcapture %}
    {% capture logo_overlay_size %}
      height: {{ section.settings.logo_desktop_height }}px;
      width: {{ section.settings.logo_desktop_height | times: section.settings.logo_overlay.aspect_ratio }}px;
    {% endcapture %}

    {% comment %} Default logo {% endcomment %}
    {% if section.settings.logo_default %}
      <a 
        class="relative items-center inline-block invisible animation-500 hover:!opacity-100"  
        :class="{ '!visible': !is_scrolled_up || !has_banner_overlap }"
        style="{{ logo_default_size }}"
        href="{{ routes.root_url }}" 
        title="{{ shop.name }}">
        {{ section.settings.logo_default 
          | image_url: width: 400 
          | image_tag: class: 'w-full h-full !bg-transparent object-cover', alt: section.settings.logo_default.alt }}
      </a>

      {% comment %} Fallback - if only default logo is available {% endcomment %}
      {% if section.settings.logo_overlay == blank %}
        <a 
          class="absolute items-center inline-block invisible animation-500 hover:!opacity-100"  
          :class="{ '!visible': is_scrolled_up && has_banner_overlap }"
          style="{{ logo_default_size }}"
          href="{{ routes.root_url }}" 
          title="{{ shop.name }}">
          {{ section.settings.logo_default 
            | image_url: width: 400 
            | image_tag: class: 'w-full h-full !bg-transparent object-cover', alt: section.settings.logo_overlay.alt }}
        </a>
      {% endif %}
    {% endif %}

    {% comment %} Overlay logo {% endcomment %}
    {% if section.settings.logo_overlay %}
      <a 
        class="absolute items-center inline-block invisible animation-500 hover:!opacity-100"  
        :class="{ '!visible': is_scrolled_up && has_banner_overlap }"
        style="{{ logo_overlay_size }}"
        href="{{ routes.root_url }}" 
        title="{{ shop.name }}">
        {{ section.settings.logo_overlay 
          | image_url: width: 400 
          | image_tag: class: 'w-full h-full !bg-transparent object-cover', alt: section.settings.logo_overlay.alt }}
      </a>

      {% comment %} Fallback - if only overlay logo is available {% endcomment %}
      {% if section.settings.logo_default == blank %}
        <a 
          class="absolute items-center inline-block invisible animation-500 hover:!opacity-100"  
          :class="{ '!visible': is_scrolled_up && has_banner_overlap }"
          style="{{ logo_overlay_size }}"
          href="{{ routes.root_url }}" 
          title="{{ shop.name }}">
          {{ section.settings.logo_overlay 
            | image_url: width: 400 
            | image_tag: class: 'w-full h-full !bg-transparent object-cover', alt: section.settings.logo_overlay.alt }}
        </a>
      {% endif %}
    {% endif %}

    {% comment %} Text fallback {% endcomment %}
    {% if section.settings.logo_default == blank and section.settings.logo_overlay == blank %}
      <a 
        class="relative items-center inline-block no-underline whitespace-nowrap"
        href="{{ routes.root_url }}" 
        title="{{ shop.name }}">
        {{ shop.name }}
      </a>
    {% endif %}
    
  </div>
{% endcapture %}

{% capture desktop_navigation %}
  <div 
    class="
      flex flex-wrap items-center pl-6 gap-x-6
      {% if section.settings.bar_layout_desktop == "left" %}flex-grow{% endif %}
    ">   

    {% comment %} Navigation {% endcomment %}
    {% for link in settings.header_links_desktop.links %}
      <div class="flex-shrink">

        {% comment %} Parent link {% endcomment %}
        {% if link.levels >= 1 and section.settings.bar_link_as_button %}
          <button
        {% else %}
          <a href="{{ link.url }}"
        {% endif %}
          class="
            header__link py-6 flex items-center no-underline animation-300
            {{ section.settings.bar_capitilization }}
            {{ section.settings.bar_font }}
            {% if link.child_active %}!underline{% endif %}
            {% if link.active %}!underline{% endif %}
          ">
          {{ link.title }}
          {% if link.levels >= 1 %}
            {% render 'component__icon', icon: 'chevron-down', class: 'ml-1 [&>*]:animation-300', size: '20' %}
          {% endif %}

        {% if link.levels >= 1 and section.settings.bar_link_as_button %}
          </button>
        {% else %}
          </a>
        {% endif %}

        {% comment %} Dropdown navigation {% endcomment %}
        {% if link.levels >= 1 %}
          <div 
            class="
              header__dropdown animation-300 absolute left-auto block w-auto h-0 overflow-hidden normal-case opacity-0 min-w-[300px]
            ">
            <div class="border--width border--radius !rounded-t-none
              {{ section.settings.dropdown_color_scheme }}
              {{ section.settings.dropdown_color_border }}">
              <div class="flex justify-between overflow-hidden
                {{ section.settings.dropdown_color_border }}">

                {% comment %} Nested links {% endcomment %}
                <div class="flex flex-col flex-wrap flex-grow">
                  {% for child_link in link.links %}
                    {% if child_link.links != blank %}
                      <div class="flex flex-col w-auto border--t-width
                        {{ section.settings.dropdown_color_border }}">
                        <a class="flex items-center justify-between w-full px-4 pt-4 no-underline opacity-75 md:px-6 type__body"
                          href="{{ child_link.url }}">
                          {{ child_link.title }}
                        </a>
                        {% for grandchild_link in child_link.links %}
                          <a class="flex items-center justify-between w-full px-4 py-4 font-bold no-underline md:px-6 type--bigger"
                            href="{{ grandchild_link.url }}">
                            {{ grandchild_link.title }}
                          </a>
                        {% endfor %}
                      </div>
                    {% else %}
                      <div class="w-auto border--t-width
                        {{ section.settings.dropdown_color_border }}">
                        <a class="font-bold type--bigger flex items-center justify-between w-full py-4 px-4 md:px-6 no-underline
                          {{ section.settings.main_color_border }}"
                          href="{{ child_link.url }}">
                          {{ child_link.title }}
                        </a>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>

                {% comment %} Content blocks {% endcomment %}
                {% for block in section.blocks %}
                  {% if block.type == 'content' %}
                    {% assign link_handle = link.handle | handle %}
                    {% assign menu_handle = block.settings.menu | handle %}
                    {% if link_handle == menu_handle %}
                      <div class="pl-12 flex justify-center flex-none min-w-[350px] max-w-[500px] whitespace-normal">
                        {% render 'component__content-item',
                          heading: block.settings.heading,
                          content: block.settings.content,
                          button_label: block.settings.button_label,
                          url: block.settings.url,
                          image: block.settings.image,
                          image_background: block.settings.image_background,
                          video: block.settings.video,
                          enable_autoplay: block.settings.enable_autoplay,
                          enable_mute_toggle: block.settings.enable_mute_toggle,
                          enable_loop: block.settings.enable_loop,
                          color_scheme: block.settings.color_scheme,
                          color_border: block.settings.color_border,
                          color_button: block.settings.color_button,
                          enable_gradient: block.settings.enable_gradient,
                          spacing_minimum_height: block.settings.spacing_minimum_height,
                          enable_padding: block.settings.enable_padding,
                          layout_y_alignment: block.settings.layout_y_alignment,
                          layout_x_alignment: block.settings.layout_x_alignment,
                          enable_radius: false
                        %}
                      </div>
                      {% break %}
                    {% endif %}
                  {% endif %}
                {% endfor %}  

              </div>
            </div>
          </div>
        {% endif %}
        
      </div>
    {% endfor %}

    {% comment %} Search button {% endcomment %}
    {% unless section.settings.bar_button_search_type == "none" %}
      <div class="flex-shrink">
        <a
          class="
            hover:underline inline-flex pr-4 mr-2 no-underline py-6 items-center animation-300
            {{ section.settings.bar_capitilization }}
            {{ section.settings.bar_font }}
          "
          href="{{ routes.search_url }}"
          {% if settings.header_button_behavior == 'hover' %}
            @mouseenter="hovered = true; setTimeout(() => { if (hovered){ openSearch() } }, 300)"
            @mouseleave="hovered = false"
          {% else %}
            @click.prevent="openSearch()"
          {% endif %}>
          {% if section.settings.bar_button_search_type contains 'icon' %}
            {% render 'component__icon', icon: 'search', size: '24', class: '' %} 
          {% endif %}
          {% if section.settings.bar_button_search_type contains 'text' %}
            <span 
              class="
                animation-300
                {{ section.settings.bar_capitilization }}
                {{ section.settings.bar_font }}
                {% if section.settings.bar_button_search_type contains 'icon' %}ml-1{% endif %}
              ">
              {{ 'labels.search' | t }}
            </span>
          {% endif %}
        </a>
      </div>
    {% endunless %}

  </div>
{% endcapture %}

{% capture desktop_actions--left %}
  <div class="flex items-center justify-start pr-2
    {% if section.settings.bar_layout_desktop == "center" %}w-2/5 grow-0{% endif %}">

    {% comment %} Menu button {% endcomment %}
    {% unless section.settings.bar_button_menu_type == "none" %}
      <button
        class="
          no-js--hide inline-flex pr-4 mr-2 no-underline h-full items-center animation-300
          {{ section.settings.bar_capitilization }}
          {{ section.settings.bar_font }}"
        {% if settings.header_button_behavior == 'hover' %}
          @mouseenter="hovered = true; setTimeout(() => { if (hovered){ openMenu() } }, 300)"
          @mouseleave="hovered = false"
        {% else %}
          @click.prevent="openMenu()"
        {% endif %}>
        {% if section.settings.bar_button_menu_type contains 'icon' %}
          {% render 'component__icon', icon: 'menu', size: '24', class: '' %}
        {% endif %}
        {% if section.settings.bar_button_menu_type contains 'text' %}
          <span 
            class="
              animation-300
              {{ section.settings.bar_capitilization }}
              {{ section.settings.bar_font }}
              {% if section.settings.bar_button_menu_type contains 'icon' %}ml-1{% endif %}
            ">
            {{ 'labels.menu' | t }}
          </span>
        {% endif %}
      </button>
    {% endunless %}

    {% comment %} Search button {% endcomment %}
    {% unless section.settings.bar_button_search_type == "none" %}
      <a
        class="
          hover:underline inline-flex pr-4 mr-2 no-underline h-full items-center animation-300
          {{ section.settings.bar_capitilization }}
          {{ section.settings.bar_font }}
        "
        href="{{ routes.search_url }}"
        {% if settings.header_button_behavior == 'hover' %}
          @mouseenter="hovered = true; setTimeout(() => { if (hovered){ openSearch() } }, 300)"
          @mouseleave="hovered = false"
        {% else %}
          @click.prevent="openSearch()"
        {% endif %}>
        {% if section.settings.bar_button_search_type contains 'icon' %}
          {% render 'component__icon', icon: 'search', size: '24', class: '' %} 
        {% endif %}
        {% if section.settings.bar_button_search_type contains 'text' %}
          <span 
            class="
              animation-300
              {{ section.settings.bar_capitilization }}
              {{ section.settings.bar_font }}
              {% if section.settings.bar_button_search_type contains 'icon' %}ml-1{% endif %}
            ">
            {{ 'labels.search' | t }}
          </span>
        {% endif %}
      </a>
    {% endunless %}
    
  </div>
{% endcapture %}

{% capture desktop_actions--right %}
  <div class="flex items-center justify-end pl-2 text-right gap-6
    {% if section.settings.bar_layout_desktop == "center" %}w-2/5 grow-0{% endif %}">

    {% comment %} Featured button {% endcomment %}
    {% for block in section.blocks %}
      {% case block.type %}
      {% when 'button' %}
        <a
          class="
            btn
            {{ block.settings.color_button}}
          "
          href="{{ block.settings.button_url }}">
          {{ block.settings.button_label }}
        </a>
      {% endcase %}
    {% endfor %}

    {% comment %} Account button {% endcomment %}
    {% if shop.customer_accounts_enabled %}
      {% unless section.settings.bar_button_login_type == "none" %}
        <a
          class="
            hover:underline inline-flex py-2 no-underline h-full items-center animation-300
            {{ section.settings.bar_capitilization }}
            {{ section.settings.bar_font }}
          "
          href="{{ routes.account_url }}">
          {% if section.settings.bar_button_login_type contains 'icon' %}
            {% render 'component__icon', icon: 'account', size: '24', class: '' %} 
          {% endif %}
          {% if section.settings.bar_button_login_type contains 'text' %}
            <span 
              class="
                animation-300
                {{ section.settings.bar_capitilization }}
                {{ section.settings.bar_font }}
                {% if section.settings.bar_button_login_type contains 'icon' %}ml-1{% endif %}
              ">
              {% if customer %}
                {{ 'labels.account' | t }}
              {% else %}
                {{ 'actions.log_in' | t }}
              {% endif %}
            </span>
          {% endif %}
        </a>
      {% endunless %}
    {% endif %}
    
    {% comment %} Cart button {% endcomment %}
    {% unless section.settings.bar_button_cart_type == "none" %}
      <a
        class="
          hover:underline inline-flex py-2 no-underline h-full items-center animation-300 hover:no-underline
          {{ section.settings.bar_capitilization }}
          {{ section.settings.bar_font }}
        "
        {% if settings.cart_icon_behavior == "drawer" %}
          {% if settings.header_button_behavior == 'hover' %}
            @mouseenter="hovered = true; setTimeout(() => { if (hovered){ openCart() } }, 300)"
            @mouseleave="hovered = false"
            @click.prevent="openCart()"
          {% else %}
            @click.prevent="openCart()"
          {% endif %}
        {% endif %}
        href="{{ routes.cart_url }}">
        {% if section.settings.bar_button_cart_type contains 'icon' %}
          {% render 'component__icon', icon: 'cart', size: '24', class: '' %}
          {% unless section.settings.bar_button_cart_type contains 'text' %}
            <span 
              class="type__nav type--smaller color__bg-primary !color__primary ml-1 px-2 py-0.5 border__button--radius"
              x-show="cart.item_count > 0" 
              x-cloak>
              <span class="type__nav" x-text="cart.item_count">{{ cart.item_count }}</span>
            </span>
          {% endunless %}
        {% endif %}
        {% if section.settings.bar_button_cart_type contains 'text' %}
          <span 
            class="
              animation-300
              {{ section.settings.bar_capitilization }}
              {{ section.settings.bar_font }}
              {% if section.settings.bar_button_cart_type contains 'icon' %}ml-1{% endif %}
            ">
            {{ 'labels.cart' | t }} 
          </span>
          <span 
            class="
              ml-1 animation-300
              {{ section.settings.bar_capitilization }}
              {{ section.settings.bar_font }}
            " 
            x-show="cart.item_count > 0" 
            x-cloak>
            (<span 
              class="
                animation-300
                {{ section.settings.bar_capitilization }}
                {{ section.settings.bar_font }}
              " 
              x-text="cart.item_count">
              {{ cart.item_count }}
            </span>)
          </span>
        {% endif %}
      </a>
    {% endunless %}
   
  </div>
{% endcapture %}

<nav 
  id="{{ section.id }}"
  class="
    animation-300 z-10 relative
    {{ section.settings.bar_capitilization }}
    {{ section.settings.bar_font }}
    {{ section.settings.visibility }}
    {% if section.settings.bar_default_color_scheme != section.settings.bar_overlay_color_scheme %}
      opacity-0
    {% else %}
      {{ section.settings.bar_default_color_scheme }}
    {% endif %}
  "
  :class="
    `${header_color} ${header_border} ${is_ready ? '!opacity-100' : ''}`
  "
  x-ref="internal_header"
  x-data="{
    hovered: false,
    is_ready: false
  }"
  x-init="
    header_bar_height = $refs.internal_header.offsetHeight;
    header_default_color = '{{ section.settings.bar_default_color_scheme }}';
    header_overlay_color = '{{ section.settings.bar_overlay_color_scheme }}';
    header_default_border = 'border--b-width {{ section.settings.bar_default_color_border }}';
    header_overlay_border = 'border--b-width {{ section.settings.bar_overlay_color_border }}';
    header_color = header_default_color
    header_border = header_default_border
    $nextTick(() => { 
      is_ready = true      
    });
  ">
  <div class="relative">
    
    {% comment %} Mobile {% endcomment %}
    <div
      class="
        md:hidden flex flex-wrap items-center py-2
        {% if section.settings.enable_margin %}
          {{ settings.x_margin }}
        {% else %}
          window--full
        {% endif %}
      ">

      {% comment %} Menu button {% endcomment %}
      <div class="flex items-center justify-start flex-grow flex-shrink basis-0">
        {% unless section.settings.bar_button_menu_type == "none" %}
          <button
            class="
              no-js--hide inline-flex py-2 pr-4 mr-2 no-underline
              animation-300
              {{ section.settings.bar_capitilization }}
              {{ section.settings.bar_font }}
            "
            @click="openMenu()">
            {% if section.settings.bar_button_menu_type contains 'icon' %}
              {% render 'component__icon', icon: 'menu', size: '24', class: '' %}
            {% endif %}
            {% if section.settings.bar_button_menu_type contains 'text' %}
              <span 
                class="
                  animation-300
                  {{ section.settings.bar_capitilization }}
                  {{ section.settings.bar_font }}
                  {% if section.settings.bar_button_menu_type contains 'icon' %}ml-1{% endif %}
                ">
                {{ 'labels.menu' | t }}
              </span>
            {% endif %}
          </button>
        {% endunless %}
        <noscript>
          {% if section.settings.bar_button_menu_type == 'text' %}
            <button
              class="
                inline-flex py-2 pr-4 mr-2 no-underline peer
                animation-300
                {{ section.settings.bar_capitilization }}
                {{ section.settings.bar_font }}
              "
              @click="openMenu()"
            >
              {{ 'labels.menu' | t }}
            </button>
          {% else %}
            <button
              @click="openMenu()"
              class="
                inline-flex py-2 pr-4 mr-2 no-underline peer
                animation-300
                {{ section.settings.bar_capitilization }}
                {{ section.settings.bar_font }}
              "
              title="{{ 'labels.menu' | t }}"
            >
              {% render 'component__icon',
                icon: 'menu',
                size: '24',
                class: ''
              %}
            </button>
          {% endif %}

          <div class="peer-focus:block hover:block focus-within:block hidden bottom-0 fixed color__bg-body w-full left-0 right-0 -z-10 max-h-[70vh] mt-28 border--t-width color__border-divider-1 overflow-scroll">
            {% for link in settings.header_links_desktop.links %}
              <a
                class="block w-full p-4 no-underline border--b-width color__border-divider-1"
                href="{{ link.url }}"
              >
                {{- link.title -}}
              </a>
              {% for child_link in link.links %}
                <a
                  class="border--b-width color__border-divider-1 block w-full p-4 !pl-8 no-underline"
                  href="{{ child_link.url }}"
                >
                  {{- child_link.title -}}
                </a>
                {% for grandchild_link in child_link.links %}
                  <a
                    class="border--b-width color__border-divider-1 block w-full p-4 !pl-12 no-underline"
                    href="{{ grandchild_link.url }}"
                  >
                    {{- grandchild_link.title -}}
                  </a>
                {% endfor %}
              {% endfor %}
            {% endfor %}
          </div>
        </noscript>
      </div>

      {% comment %} Logo {% endcomment %}
      <div class="flex items-center justify-center max-w-[45%] sm:max-w-[70%]">

        {% capture logo_default_size %}
          height: {{ section.settings.logo_mobile_height }}px;
          width: {{ section.settings.logo_mobile_height | times: section.settings.logo_default.aspect_ratio }}px;
        {% endcapture %}
        {% capture logo_overlay_size %}
          height: {{ section.settings.logo_mobile_height }}px;
          width: {{ section.settings.logo_mobile_height | times: section.settings.logo_overlay.aspect_ratio }}px;
        {% endcapture %}
        
        {% comment %} Default logo {% endcomment %}
        {% if section.settings.logo_default %}
          <a 
            class="relative items-center inline-block invisible animation-500 hover:!opacity-100"  
            :class="{ '!visible': !is_scrolled_up || !has_banner_overlap }"
            style="{{ logo_default_size }}"
            href="{{ routes.root_url }}" 
            title="{{ shop.name }}">
            {{ section.settings.logo_default 
              | image_url: width: 400 
              | image_tag: class: 'w-full h-full !bg-transparent object-cover', alt: section.settings.logo_default.alt }}
          </a>

          {% comment %} Fallback - if only default logo is available {% endcomment %}
          {% if section.settings.logo_overlay == blank %}
            <a 
              class="absolute items-center inline-block invisible animation-500 hover:!opacity-100"  
              :class="{ '!visible': is_scrolled_up && has_banner_overlap }"
              style="{{ logo_default_size }}"
              href="{{ routes.root_url }}" 
              title="{{ shop.name }}">
              {{ section.settings.logo_default 
                | image_url: width: 400 
                | image_tag: class: 'w-full h-full !bg-transparent object-cover', alt: section.settings.logo_overlay.alt }}
            </a>
          {% endif %}
        {% endif %}

        {% comment %} Overlay logo {% endcomment %}
        {% if section.settings.logo_overlay %}
          <a 
            class="absolute items-center inline-block invisible animation-500 hover:!opacity-100"  
            :class="{ '!visible': is_scrolled_up && has_banner_overlap }"
            style="{{ logo_overlay_size }}"
            href="{{ routes.root_url }}" 
            title="{{ shop.name }}">
            {{ section.settings.logo_overlay 
              | image_url: width: 400 
              | image_tag: class: 'w-full h-full !bg-transparent object-cover', alt: section.settings.logo_overlay.alt }}
          </a>

          {% comment %} Fallback - if only overlay logo is available {% endcomment %}
          {% if section.settings.logo_default == blank %}
            <a 
              class="absolute items-center inline-block invisible animation-500 hover:!opacity-100"  
              :class="{ '!visible': is_scrolled_up && has_banner_overlap }"
              style="{{ logo_overlay_size }}"
              href="{{ routes.root_url }}" 
              title="{{ shop.name }}">
              {{ section.settings.logo_overlay 
                | image_url: width: 400 
                | image_tag: class: 'w-full h-full !bg-transparent object-cover', alt: section.settings.logo_overlay.alt }}
            </a>
          {% endif %}
        {% endif %}

        {% comment %} Text fallback {% endcomment %}
        {% if section.settings.logo_default == blank and section.settings.logo_overlay == blank %}
          <a 
            class="relative items-center inline-block text-center no-underline break-all"  
            href="{{ routes.root_url }}" 
            title="{{ shop.name }}">
            {{ shop.name }}
          </a>
        {% endif %}

      </div>

      {% comment %} Cart button {% endcomment %}
      <div class="flex items-center justify-end flex-grow flex-shrink text-right basis-0">

        {% unless section.settings.bar_button_cart_type == "none" %}
          <a
            class="
              inline-flex ml-6 no-underline items-center
              animation-300
              {{ section.settings.bar_capitilization }}
              {{ section.settings.bar_font }}
            "
            {% if settings.cart_icon_behavior == "drawer" %}
              {% if settings.header_button_behavior == 'hover' %}
                @click.prevent="openCart()"
              {% else %}
                @click.prevent="openCart()"
              {% endif %}
            {% endif %}
            href="{{ routes.cart_url }}">
            {% if section.settings.bar_button_cart_type contains 'icon' %}
              {% render 'component__icon', icon: 'cart', size: '24', class: '' %}
              {% unless section.settings.bar_button_cart_type contains 'text' %}
                <span 
                  class="type__nav type--smaller color__bg-primary !color__primary ml-1 px-2 py-0.5 border__button--radius"
                  x-show="cart.item_count > 0" 
                  x-cloak>
                  <span class="type__nav" x-text="cart.item_count">{{ cart.item_count }}</span>
                </span>
              {% endunless %}
            {% endif %}
            {% if section.settings.bar_button_cart_type contains 'text' %}
              <span 
                class="
                  animation-300
                  {{ section.settings.bar_capitilization }}
                  {{ section.settings.bar_font }}
                  {% if section.settings.bar_button_cart_type contains 'icon' %}ml-1{% endif %}
                ">
                {{ 'labels.cart' | t }} 
              </span>
              <span 
                class="
                  ml-1
                  animation-300
                  {{ section.settings.bar_capitilization }}
                  {{ section.settings.bar_font }}
                " 
                x-show="cart.item_count > 0" 
                x-cloak>
                (<span 
                  class="
                    animation-300
                    {{ section.settings.bar_capitilization }}
                    {{ section.settings.bar_font }}
                  " 
                  x-text="cart.item_count">
                  {{ cart.item_count }}
                </span>)
              </span>
            {% endif %}
          </a>
        {% endunless %}

      </div>

    </div>

    {% comment %} Desktop {% endcomment %}
    <div
      class="md:flex items-stretch hidden
      {% if section.settings.enable_margin %}
        {{ settings.x_margin }}
      {% else %}
        window--full
      {% endif %}
      {% if section.settings.bar_layout_desktop == "left" %}
        justify-start
      {% endif %}
      {% if section.settings.bar_layout_desktop == "center" %}
        jusitify-between
      {% endif %}">

      {% if section.settings.bar_layout_desktop == 'left' %}
        {{ desktop_logo }}
        {{ desktop_navigation }}
        {{ desktop_actions--right }}
      {% endif %}
      {% if section.settings.bar_layout_desktop == 'center' %}
        {{ desktop_actions--left }}
        {{ desktop_logo }}
        {{ desktop_actions--right }}
      {% endif %}
    </div>
    
  </div>
</nav>

{% schema %}
{
  "name": "t:sections.theme_header.name",
  "class": "theme__header",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:general.paragraphs.header_navigation.content"
    },
    {
      "type": "header",
      "content": "t:general.headers.logos.content"
    },
    {
      "type": "image_picker",
      "id": "logo_default",
      "label": "t:general.settings.logo_default.label"
    },
    {
      "type": "image_picker",
      "id": "logo_overlay",
      "label": "t:general.settings.logo_overlay.label",
      "info": "t:general.settings.logo_overlay.info"
    },
    {
      "type": "range",
      "id": "logo_desktop_height",
      "min": 10,
      "max": 80,
      "step": 1,
      "unit": "px",
      "label": "t:general.settings.desktop_logo_height.label",
      "default": 24
    },
    {
      "type": "range",
      "id": "logo_mobile_height",
      "min": 10,
      "max": 60,
      "step": 1,
      "unit": "px",
      "label": "t:general.settings.mobile_logo_height.label",
      "default": 20
    },
    {
      "type": "header",
      "content": "t:general.headers.layout.content"
    },
    {
      "type": "select",
      "id": "bar_layout_desktop",
      "label": "t:general.settings.desktop_layout.label",
      "options": [
        {
          "value": "left",
          "label": "t:general.settings.x_alignment.left.label"
        },
        {
          "value": "center",
          "label": "t:general.settings.x_alignment.center.label"
        }
      ],
      "default": "left"
    },
    {
      "type": "select",
      "id": "bar_default_color_scheme",
      "label": "t:general.settings.default_color_scheme.label",
      "options": [
        {
          "value":"color__bg-body color__text",
          "label":"t:general.settings.color_scheme.body.label"
        },
        {
          "value":"color__bg-neutral color__text",
          "label":"t:general.settings.color_scheme.neutral.label"
        },
        {
          "value":"color__bg-overlay-1 color__text",
          "label":"t:general.settings.color_scheme.accent_1.label"
        },
        {
          "value":"color__bg-overlay-2 color__text",
          "label":"t:general.settings.color_scheme.accent_2.label"
        },
        {
          "value":"color__bg-overlay-3 color__text",
          "label":"t:general.settings.color_scheme.accent_3.label"
        },
        {
          "value":"color__bg-shade-1 color__text",
          "label":"t:general.settings.color_scheme.shade_1.label"
        },
        {
          "value":"color__bg-shade-2 color__text",
          "label":"t:general.settings.color_scheme.shade_2.label"
        },
        {
          "value":"color__bg-shade-3 color__text",
          "label":"t:general.settings.color_scheme.shade_3.label"
        },
        {
          "value":"color__bg-primary color__primary",
          "label":"t:general.settings.color_scheme.primary.label"
        },
        {
          "value":"color__bg-secondary color__secondary",
          "label":"t:general.settings.color_scheme.secondary.label"
        },
        {
          "value":"color__bg-tertiary color__tertiary",
          "label":"t:general.settings.color_scheme.tertiary.label"
        },
        {
          "value":"bg-transparent color__dark",
          "label":"Transparent"
        },
        {
          "value":"bg-transparent color__light",
          "label":"Inverted transparent"
        }
      ],
      "default": "color__bg-body color__text"
    },
    {
      "type": "select",
      "id": "bar_overlay_color_scheme",
      "label": "t:general.settings.overlay_color_scheme.label",
      "info": "t:general.settings.overlay_color_scheme.info",
      "options": [
        {
          "value":"color__bg-body color__text",
          "label":"t:general.settings.color_scheme.body.label"
        },
        {
          "value":"color__bg-neutral color__text",
          "label":"t:general.settings.color_scheme.neutral.label"
        },
        {
          "value":"color__bg-overlay-1 color__text",
          "label":"t:general.settings.color_scheme.accent_1.label"
        },
        {
          "value":"color__bg-overlay-2 color__text",
          "label":"t:general.settings.color_scheme.accent_2.label"
        },
        {
          "value":"color__bg-overlay-3 color__text",
          "label":"t:general.settings.color_scheme.accent_3.label"
        },
        {
          "value":"color__bg-shade-1 color__text",
          "label":"t:general.settings.color_scheme.shade_1.label"
        },
        {
          "value":"color__bg-shade-2 color__text",
          "label":"t:general.settings.color_scheme.shade_2.label"
        },
        {
          "value":"color__bg-shade-3 color__text",
          "label":"t:general.settings.color_scheme.shade_3.label"
        },
        {
          "value":"color__bg-primary color__primary",
          "label":"t:general.settings.color_scheme.primary.label"
        },
        {
          "value":"color__bg-secondary color__secondary",
          "label":"t:general.settings.color_scheme.secondary.label"
        },
        {
          "value":"color__bg-tertiary color__tertiary",
          "label":"t:general.settings.color_scheme.tertiary.label"
        },
        {
          "value":"bg-transparent color__dark",
          "label":"t:general.settings.color_scheme.transparent.label"
        },
        {
          "value":"bg-transparent color__light",
          "label":"t:general.settings.color_scheme.inverted_transparent.label"
        }
      ],
      "default": "color__bg-body color__text"
    },
    {
      "type": "select",
      "id": "bar_default_color_border",
      "label": "t:general.settings.default_color_border.label",
      "options": [
        {
          "value": "color__border-divider-1",
          "label": "t:general.settings.color_border.subtle.label"
        },
        {
          "value": "color__border-selected-1",
          "label": "t:general.settings.color_border.strong.label"
        },
        {
          "value": "!color__border-transparent",
          "label": "t:general.settings.color_border.none.label"
        }
      ],
      "default": "color__border-divider-1"
    },
    {
      "type": "select",
      "id": "bar_overlay_color_border",
      "label": "t:general.settings.overlay_color_border.label",
      "info": "t:general.settings.overlay_color_border.info",
      "options": [
        {
          "value": "color__border-divider-1",
          "label": "t:general.settings.color_border.subtle.label"
        },
        {
          "value": "color__border-selected-1",
          "label": "t:general.settings.color_border.strong.label"
        },
        {
          "value": "!color__border-transparent",
          "label": "t:general.settings.color_border.none.label"
        }
      ],
      "default": "color__border-divider-1"
    },
    {
      "type": "select",
      "id": "bar_button_cart_type",
      "label": "t:general.settings.cart_button.label",
      "options": [
        {
          "value": "none",
          "label": "t:general.settings.button_type.none.label"
        },
        {
          "value":"icontext",
          "label":"t:general.settings.button_type.icon_and_text.label"
        },
        {
          "value":"icon",
          "label":"t:general.settings.button_type.icon.label"
        },
        {
          "value":"text",
          "label":"t:general.settings.button_type.text.label"
        }
      ],
      "default": "icon"
    },
    {
      "type": "select",
      "id": "bar_button_search_type",
      "label": "t:general.settings.search_button.label",
      "options": [
        {
          "value": "none",
          "label": "t:general.settings.button_type.none.label"
        },
        {
          "value":"icontext",
          "label":"t:general.settings.button_type.icon_and_text.label"
        },
        {
          "value":"icon",
          "label":"t:general.settings.button_type.icon.label"
        },
        {
          "value":"text",
          "label":"t:general.settings.button_type.text.label"
        }
      ],
      "default": "icon"
    },
    {
      "type": "select",
      "id": "bar_button_login_type",
      "label": "t:general.settings.login_button.label",
      "options": [
        {
          "value": "none",
          "label": "t:general.settings.button_type.none.label"
        },
        {
          "value":"icontext",
          "label":"t:general.settings.button_type.icon_and_text.label"
        },
        {
          "value":"icon",
          "label":"t:general.settings.button_type.icon.label"
        },
        {
          "value":"text",
          "label":"t:general.settings.button_type.text.label"
        }
      ],
      "default": "none"
    },
    {
      "type": "select",
      "id": "bar_button_menu_type",
      "label": "t:general.settings.menu_button.label",
      "options": [
        {
          "value": "none",
          "label": "t:general.settings.button_type.none.label"
        },
        {
          "value":"icontext",
          "label":"t:general.settings.button_type.icon_and_text.label"
        },
        {
          "value":"icon",
          "label":"t:general.settings.button_type.icon.label"
        },
        {
          "value":"text",
          "label":"t:general.settings.button_type.text.label"
        }
      ],
      "default": "icon"
    },
    {
      "type": "select",
      "id": "bar_capitilization",
      "label": "t:general.settings.text_capitalization.label",
      "options": [
        {
          "value": "",
          "label": "t:general.settings.text_capitalization.standard.label"
        },
        {
          "value": "!uppercase",
          "label": "t:general.settings.text_capitalization.uppercase.label"
        },
        {
          "value": "!lowercase",
          "label": "t:general.settings.text_capitalization.lowercase.label"
        }
      ],
      "default": ""
    },
    {
      "type": "select",
      "id": "bar_font",
      "label": "t:general.settings.font_family.label",
      "options": [
        {
          "value": "type__body",
          "label": "t:general.settings.font_family.standard.label"
        },
        {
          "value": "type__heading",
          "label": "t:general.settings.font_family.heading.label"
        },
        {
          "value": "type__nav",
          "label":"t:general.settings.font_family.navigation.label"
        }
      ],
      "default": "type__body"
    },
    {
      "type":"checkbox",
      "id":"bar_link_as_button",
      "label": "t:general.settings.link_as_button.label",
      "info": "t:general.settings.link_as_button.info",
      "default":false
    },
    {
      "type":"checkbox",
      "id":"enable_margin",
      "label":"t:general.settings.enable_margin.label",
      "default":true
    },
    {
      "type": "header",
      "content": "t:general.headers.dropdown.content"
    },
    {
      "type": "paragraph",
      "content": "t:general.paragraphs.dropdown_usage.content"
    },
    {
      "type": "select",
      "id": "dropdown_color_scheme",
      "label": "t:general.settings.color_scheme.label",
      "options":[
        {
          "value":"color__bg-body !color__text",
          "label":"t:general.settings.color_scheme.body.label"
        },
        {
          "value":"color__bg-neutral !color__text",
          "label":"t:general.settings.color_scheme.neutral.label"
        },
        {
          "value":"color__bg-overlay-1 !color__text",
          "label":"t:general.settings.color_scheme.accent_1.label"
        },
        {
          "value":"color__bg-overlay-2 !color__text",
          "label":"t:general.settings.color_scheme.accent_2.label"
        },
        {
          "value":"color__bg-overlay-3 !color__text",
          "label":"t:general.settings.color_scheme.accent_3.label"
        },
        {
          "value":"color__bg-shade-1 !color__text",
          "label":"t:general.settings.color_scheme.shade_1.label"
        },
        {
          "value":"color__bg-shade-2 !color__text",
          "label":"t:general.settings.color_scheme.shade_2.label"
        },
        {
          "value":"color__bg-shade-3 !color__text",
          "label":"t:general.settings.color_scheme.shade_3.label"
        },
        {
          "value":"color__bg-primary !color__primary",
          "label":"t:general.settings.color_scheme.primary.label"
        },
        {
          "value":"color__bg-secondary !color__secondary",
          "label":"t:general.settings.color_scheme.secondary.label"
        },
        {
          "value":"color__bg-tertiary !color__tertiary",
          "label":"t:general.settings.color_scheme.tertiary.label"
        }
      ],
      "default": "color__bg-body !color__text"
    },
    {
      "type": "select",
      "id": "dropdown_color_border",
      "label": "t:general.settings.color_border.label",
      "options": [
        {
          "value": "color__border-divider-1",
          "label": "t:general.settings.color_border.subtle.label"
        },
        {
          "value": "color__border-selected-1",
          "label": "t:general.settings.color_border.strong.label"
        },
        {
          "value": "!color__border-transparent",
          "label": "t:general.settings.color_border.none.label"
        }
      ],
      "default": "color__border-divider-1"
    },
    {
      "type":"header",
      "content":"t:general.headers.display.content"
    },
    {
      "type":"select",
      "id":"visibility",
      "label":"t:general.settings.visibility.label",
      "options":[
        {
          "value":"",
          "label":"t:general.settings.visibility.all.label"
        },
        {
          "value":"md:hidden",
          "label":"t:general.settings.visibility.mobile.label"
        },
        {
          "value":"hidden md:block",
          "label":"t:general.settings.visibility.desktop.label"
        }
      ],
      "default":""
    }
  ],
  "blocks": [
    {
      "type": "button",
      "name": "t:sections.theme_header.blocks.button.name",
      "limit": 1,
      "settings": [
        {
          "type":"header",
          "content":"t:general.headers.content.content"
        },
        {
          "type":"text",
          "id":"button_label",
          "label":"t:general.settings.button_label.label",
          "default": {
            "en": "Shop now",
            "es": "Comprar ahora",
            "it": "Acquista ora",
            "de": "Jetzt kaufen",
            "fr": "Acheter maintenant"
          }
        },
        {
          "type":"url",
          "id":"button_url",
          "label":"t:general.settings.button_url.label"
        },
        {
          "type":"header",
          "content":"t:general.headers.color.content"
        },
        {
          "type":"select",
          "id":"color_button",
          "label":"t:general.settings.color_button.label",
          "options":[
            {
              "value":"btn--smaller",
              "label":"t:general.settings.color_button.primary.label"
            },
            {
              "value":"btn--smaller btn--secondary",
              "label":"t:general.settings.color_button.secondary.label"
            },
            {
              "value":"btn--smaller btn--tertiary",
              "label":"t:general.settings.color_button.tertiary.label"
            },
            {
              "value":"btn--smaller btn--neutral",
              "label":"t:general.settings.color_button.neutral.label"
            },
            {
              "value":"btn--smaller btn--plain",
              "label":"t:general.settings.color_button.plain.label"
            },
            {
              "value":"btn--smaller btn--outline",
              "label":"t:general.settings.color_button.outline.label"
            },
            {
              "value":"btn--smaller btn--outline-alt",
              "label":"t:general.settings.color_button.inverted_outline.label"
            },
            {
              "value":"btn--smaller btn--minimal",
              "label":"t:general.settings.color_button.link.label"
            },
            {
              "value":"btn--smaller btn--minimal-alt",
              "label":"t:general.settings.color_button.inverted_link.label"
            }
          ],
          "default":"btn--smaller btn--secondary"
        }
      ]
    },
    {
      "type": "content",
      "name": "t:sections.theme_header.blocks.content.name",
      "limit": 10,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:general.paragraphs.dropdown_blocks.content"
        },
        {
          "type":"header",
          "content":"t:general.headers.content.content"
        },
        {
          "type": "text",
          "id": "menu",
          "label": "t:general.settings.linked_menu.label",
          "info": "t:general.settings.linked_menu.info"
        },
        {
          "type":"text",
          "id":"heading",
          "label":"t:general.settings.heading.label",
          "default":{
            "en":"Block heading",
            "es":"Encabezado de bloque",
            "it":"Intestazione del blocco",
            "de":"Blocküberschrift",
            "fr":"En-tête de bloc"
          }
        },
        {
          "type":"richtext",
          "id":"content",
          "label":"t:general.settings.content.label",
          "default":{
            "en":"<p>Describe a product, make announcements, or inform customers about a promotion.</p>",
            "es":"<p>Describa un producto, haga anuncios o informe a los clientes sobre una promoción.</p>",
            "it":"<p>Descrivi un prodotto, fai annunci o informa i clienti su una promozione.</p>",
            "de":"<p>Beschreiben Sie ein Produkt, machen Sie Ankündigungen oder informieren Sie Kunden über eine Werbeaktion.</p>",
            "fr":"<p>Décrivez un produit, faites des annonces ou informez les clients d’une promotion.</p>"
          }
        },
        {
          "type":"text",
          "id":"button_label",
          "label":"t:general.settings.button_label.label",
          "default":{
            "en":"Button",
            "es":"Botón",
            "it":"Bottone",
            "de":"Knopf",
            "fr":"Bouton"
          }
        },
        {
          "type":"url",
          "id":"url",
          "label":"t:general.settings.url.label",
          "info":"t:general.settings.url.info",
          "default":"/collections/all"
        },
        {
          "type":"image_picker",
          "id":"image",
          "label":"t:general.settings.image.label"
        },
        {
          "type":"image_picker",
          "id":"image_background",
          "label":"t:general.settings.image_background.label"
        },
        {
          "type":"video",
          "id":"video",
          "label":"t:general.settings.video.label"
        },
        {
          "type":"checkbox",
          "id":"enable_autoplay",
          "label":"t:general.settings.enable_video_autoplay.label",
          "default":true
        },
        {
          "type":"checkbox",
          "id":"enable_mute_toggle",
          "label":"t:general.settings.enable_mute_button.label",
          "default":true
        },
        {
          "type":"checkbox",
          "id":"enable_loop",
          "label":"t:general.settings.enable_video_loop.label",
          "default":true
        },
        {
          "type":"header",
          "content":"t:general.headers.style.content"
        },
        {
          "type":"range",
          "id":"spacing_minimum_height",
          "min":0,
          "max":500,
          "step":10,
          "unit":"px",
          "label":"t:general.settings.minimum_height.label",
          "default":250
        },
        {
          "type":"checkbox",
          "id":"enable_padding",
          "label":"t:general.settings.enable_padding.label",
          "default":true
        },
        {
          "type":"header",
          "content":"t:general.headers.color.content"
        },
        {
          "type":"select",
          "id":"color_scheme",
          "label":"t:general.settings.color_scheme.label",
          "options":[
            {
              "value":"color__bg-body !color__text",
              "label":"t:general.settings.color_scheme.body.label"
            },
            {
              "value":"color__bg-neutral !color__text",
              "label":"t:general.settings.color_scheme.neutral.label"
            },
            {
              "value":"color__bg-overlay-1 !color__text",
              "label":"t:general.settings.color_scheme.accent_1.label"
            },
            {
              "value":"color__bg-overlay-2 !color__text",
              "label":"t:general.settings.color_scheme.accent_2.label"
            },
            {
              "value":"color__bg-overlay-3 !color__text",
              "label":"t:general.settings.color_scheme.accent_3.label"
            },
            {
              "value":"color__bg-shade-1 !color__text",
              "label":"t:general.settings.color_scheme.shade_1.label"
            },
            {
              "value":"color__bg-shade-2 !color__text",
              "label":"t:general.settings.color_scheme.shade_2.label"
            },
            {
              "value":"color__bg-shade-3 !color__text",
              "label":"t:general.settings.color_scheme.shade_3.label"
            },
            {
              "value":"color__bg-primary !color__primary",
              "label":"t:general.settings.color_scheme.primary.label"
            },
            {
              "value":"color__bg-secondary !color__secondary",
              "label":"t:general.settings.color_scheme.secondary.label"
            },
            {
              "value":"color__bg-tertiary !color__tertiary",
              "label":"t:general.settings.color_scheme.tertiary.label"
            },
            {
              "value":"color__bg-transparent",
              "label":"t:general.settings.color_scheme.transparent.label"
            }
          ],
          "default":"color__bg-body !color__text"
        },
        {
          "type":"select",
          "id":"color_border",
          "label":"t:general.settings.color_border.label",
          "options": [
            {
              "value": "outline--width color__outline-divider-1",
              "label":"t:general.settings.color_border.subtle.label"
            },
            {
              "value": "outline--width color__outline-selected-1",
              "label":"t:general.settings.color_border.strong.label"
            },
            {
              "value":"",
              "label":"t:general.settings.color_border.none.label"
            }
          ],
          "default": "outline--width color__outline-divider-1"
        },
        {
          "type":"select",
          "id":"color_button",
          "label":"t:general.settings.color_button.label",
          "options":[
            {
              "value":"btn--small !color__primary",
              "label":"t:general.settings.color_button.primary.label"
            },
            {
              "value":"btn--small btn--secondary !color__secondary",
              "label":"t:general.settings.color_button.secondary.label"
            },
            {
              "value":"btn--small btn--tertiary !color__tertiary",
              "label":"t:general.settings.color_button.tertiary.label"
            },
            {
              "value":"btn--small btn--neutral !color__text",
              "label":"t:general.settings.color_button.neutral.label"
            },
            {
              "value":"btn--small btn--plain !color__text",
              "label":"t:general.settings.color_button.plain.label"
            },
            {
              "value":"btn--small btn--outline !color__text",
              "label":"t:general.settings.color_button.outline.label"
            },
            {
              "value":"btn--small btn--outline-alt !color__light",
              "label":"t:general.settings.color_button.inverted_outline.label"
            },
            {
              "value":"btn--small btn--minimal !color__text",
              "label":"t:general.settings.color_button.link.label"
            },
            {
              "value":"btn--small btn--minimal-alt !color__light",
              "label":"t:general.settings.color_button.inverted_link.label"
            }
          ],
          "default":"btn--small btn--plain !color__text"
        },
        {
          "type":"checkbox",
          "id":"enable_gradient",
          "label":"t:general.settings.enable_gradient.label",
          "default":false
        },
        {
          "type":"header",
          "content":"t:general.headers.layout.content"
        },
        {
          "type":"select",
          "id":"layout_y_alignment",
          "label":"t:general.settings.y_alignment.label",
          "options":[
            {
              "value":"justify-start",
              "label":"t:general.settings.y_alignment.top.label"
            },
            {
              "value":"justify-center",
              "label":"t:general.settings.y_alignment.middle.label"
            },
            {
              "value":"justify-end",
              "label":"t:general.settings.y_alignment.bottom.label"
            }
          ],
          "default":"justify-end"
        },
        {
          "type":"select",
          "id":"layout_x_alignment",
          "label":"t:general.settings.x_alignment.label",
          "options":[
            {
              "value":"left",
              "label":"t:general.settings.x_alignment.left.label"
            },
            {
              "value":"center",
              "label":"t:general.settings.x_alignment.center.label"
            },
            {
              "value":"justify",
              "label":"t:general.settings.x_alignment.justify.label"
            },
            {
              "value":"right",
              "label":"t:general.settings.x_alignment.right.label"
            }
          ],
          "default":"left"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["custom.overlay"]
  }
}
{% endschema %}
