<!-- sections/theme__fixed-menu.liquid -->
{% comment %} 
  Sticky menu for mobile users
{% endcomment %}

<section
  id="{{ section.id }}"
  class="{{ section.settings.visibility }}">
  <nav 
    class="
      fixed z-30 flex justify-center p-4
      {{ section.settings.placement }}
    ">
    <div 
      class="
        shadow-md border--width border__button--radius whitespace-nowrap snap-x scroll-smooth hidescrollbar inline-flex overflow-x-auto overflow-y-hidden
        {{ section.settings.color_button }}
      ">
      <div class="flex items-center justify-center type--small">
        {% for block in section.blocks %}
          {% case block.type %}

            {% when 'menu' %}
              <div 
                class="
                  snap-start
                  {% unless forloop.last %}border--r-width color__border-divider-1{% endunless %}
                ">
                <button
                  class="inline-flex items-center gap-1 p-2 px-6 no-underline type__nav"
                  title="{{ 'labels.menu' | t }}"
                  @click="
                    closeCart();
                    closeSearch();
                    toggleMenu();
                  ">
                  {% if block.settings.menu_button contains 'icon' %}
                    {% render 'component__icon', icon: 'menu', size: '16', class: '' %}
                  {% endif %}
                  {% if block.settings.menu_button contains 'text' %}
                    <span 
                      class="type--small">
                      {{ 'labels.menu' | t }}
                    </span>
                  {% endif %}
                </button>
              </div>

            {% when 'search' %}
              <div 
                class="
                  snap-start
                  {% unless forloop.last %}border--r-width color__border-divider-1{% endunless %}
                ">
                <a
                  class="inline-flex items-center gap-1 p-2 px-6 no-underline type__nav hover:no-underline"
                  href="{{ routes.search_url }}"
                  @click.prevent="
                    closeCart();
                    closeMenu();
                    toggleSearch();
                  ">
                  {% if block.settings.menu_button contains 'icon' %}
                    {% render 'component__icon', icon: 'search', size: '16', class: '' %}
                  {% endif %}
                  {% if block.settings.menu_button contains 'text' %}
                    <span 
                      class="type--small">
                      {{ 'labels.search' | t }}
                    </span>
                  {% endif %}
                </a>
              </div>
              
            {% when 'cart' %}
              <div 
                class="
                  snap-start
                  {% unless forloop.last %}border--r-width color__border-divider-1{% endunless %}
                ">
                <a
                  class="inline-flex items-center gap-1 p-2 px-6 no-underline type__nav hover:no-underline"
                  href="{{ routes.cart_url }}"
                  @click.prevent="
                    closeMenu();
                    closeSearch();
                    toggleCart();
                  ">
                  {% if block.settings.menu_button contains 'icon' %}
                    {% render 'component__icon', icon: 'cart', size: '16', class: '' %}
                    {% unless section.settings.bar_button_cart_type contains 'text' %}
                      <span 
                        class="type__nav type--smaller color__bg-primary !color__primary ml-1 px-2 py-0.5 border__button--radius"
                        x-show="cart.item_count > 0" 
                        x-cloak>
                        <span class="type__nav" x-text="cart.item_count">{{ cart.item_count }}</span>
                      </span>
                    {% endunless %}
                  {% endif %}
                  {% if block.settings.menu_button contains 'text' %}
                    <span 
                      class="type--small">
                      {{ 'labels.cart' | t }}
                    </span>
                    <span 
                      class="
                        ml-1 animation-300 type--small
                        {{ section.settings.bar_capitilization }}
                        {{ section.settings.bar_font }}
                      " 
                      x-show="cart.item_count > 0" 
                      x-cloak>
                      (<span 
                        class="
                          animation-300
                          {{ section.settings.bar_capitilization }}
                          {{ section.settings.bar_font }}
                        " 
                        x-text="cart.item_count">
                        {{ cart.item_count }}
                      </span>)
                    </span>
                  {% endif %}
                </a>
              </div>

            {% when 'link' %}
              <div 
                class="
                  snap-start
                  {% unless forloop.last %}border--r-width color__border-divider-1{% endunless %}
                ">
                <a
                  class="inline-flex p-2 px-6 no-underline type__nav type--small"
                  href="{{ block.settings.url }}">
                  {{ block.settings.button_label }}
                </a>
              </div>

            {% when 'logo' %}
              <div 
                class="
                  snap-start
                  {% unless forloop.last %}border--r-width color__border-divider-1{% endunless %}
                ">
                <a
                  class="inline-flex p-2 px-6 no-underline type__nav"
                  href="{{ block.settings.url }}">
                  {% capture logo_size %}
                    height: {{ block.settings.logo_desktop_height }}px;
                    width: {{ block.settings.logo_desktop_height | times: block.settings.logo.aspect_ratio }}px;
                  {% endcapture %}
                  {% if block.settings.logo %}
                    <span
                      class="relative items-center block" 
                      style="{{ logo_size }}"
                      title="{{ shop.name }}">
                      {{ block.settings.logo
                      | image_url: width: 400
                      | image_tag: style: 'object-fit:cover', class: 'w-full h-full !bg-transparent object-contain', alt: block.settings.logo.alt }}
                    </span>
                  {% endif %}
                </a>
              </div>
              
          {% endcase %}
        {% endfor %}
      </div>
    </div>
  </nav>
</section>

{% schema %}
{
  "name":"t:sections.theme_fixed-menu.name",
  "settings":[
    {
      "type":"header",
      "content":"t:general.headers.color.content"
    },
    {
      "type":"select",
      "id":"color_button",
      "label":"t:general.settings.color_button.label",
      "options":[
        {
          "value":"color__button-primary color__primary",
          "label":"t:general.settings.color_button.primary.label"
        },
        {
          "value":"color__button-secondary color__secondary",
          "label":"t:general.settings.color_button.secondary.label"
        },
        {
          "value":"color__button-tertiary color__tertiary",
          "label":"t:general.settings.color_button.tertiary.label"
        },
        {
          "value":"color__button-neutral color__neutral",
          "label":"t:general.settings.color_button.neutral.label"
        },
        {
          "value":"color__button-plain color__text",
          "label":"t:general.settings.color_button.plain.label"
        }
      ],
      "default":"color__button-plain color__text"
    },
    {
      "type":"header",
      "content":"t:general.headers.layout.content"
    },
    {
      "type":"select",
      "id":"placement",
      "label":"t:general.settings.placement.label",
      "options":[
        {
          "value":"top-0 left-0",
          "label":"t:general.settings.placement.top_left.label"
        },
        {
          "value":"top-0 right-0 left-0",
          "label":"t:general.settings.placement.top_center.label"
        },
        {
          "value":"top-0 right-0",
          "label":"t:general.settings.placement.top_right.label"
        },
        {
          "value":"bottom-0 left-0",
          "label":"t:general.settings.placement.bottom_left.label"
        },
        {
          "value":"bottom-0 right-0 left-0",
          "label":"t:general.settings.placement.bottom_center.label"
        },
        {
          "value":"bottom-0 right-0",
          "label":"t:general.settings.placement.bottom_right.label"
        }
      ],
      "default":"bottom-0 left-0"
    },
    {
      "type":"header",
      "content":"t:general.headers.display.content"
    },
    {
      "type":"select",
      "id":"visibility",
      "label":"t:general.settings.visibility.label",
      "options":[
        {
          "value":"",
          "label":"t:general.settings.visibility.all.label"
        },
        {
          "value":"md:hidden",
          "label":"t:general.settings.visibility.mobile.label"
        },
        {
          "value":"hidden md:block",
          "label":"t:general.settings.visibility.desktop.label"
        }
      ],
      "default":""
    }
  ],
  "blocks":[
    {
      "type":"menu",
      "name":"t:sections.theme_fixed-menu.blocks.menu.name",
      "limit":1,
      "settings":[
        {
          "type": "select",
          "id": "menu_button",
          "label": "t:general.settings.menu_button.label",
          "options": [
            {
              "value":"icontext",
              "label":"t:general.settings.button_type.icon_and_text.label"
            },
            {
              "value":"icon",
              "label":"t:general.settings.button_type.icon.label"
            },
            {
              "value":"text",
              "label":"t:general.settings.button_type.text.label"
            }
          ],
          "default": "icon"
        }
      ]
    },
    {
      "type":"search",
      "name":"t:sections.theme_fixed-menu.blocks.search.name",
      "limit":1,
      "settings":[
        {
          "type": "select",
          "id": "menu_button",
          "label": "t:general.settings.menu_button.label",
          "options": [
            {
              "value":"icontext",
              "label":"t:general.settings.button_type.icon_and_text.label"
            },
            {
              "value":"icon",
              "label":"t:general.settings.button_type.icon.label"
            },
            {
              "value":"text",
              "label":"t:general.settings.button_type.text.label"
            }
          ],
          "default": "icon"
        }
      ]
    },
    {
      "type":"cart",
      "name":"t:sections.theme_fixed-menu.blocks.cart.name",
      "limit":1,
      "settings":[
        {
          "type": "select",
          "id": "menu_button",
          "label": "t:general.settings.menu_button.label",
          "options": [
            {
              "value":"icontext",
              "label":"t:general.settings.button_type.icon_and_text.label"
            },
            {
              "value":"icon",
              "label":"t:general.settings.button_type.icon.label"
            },
            {
              "value":"text",
              "label":"t:general.settings.button_type.text.label"
            }
          ],
          "default": "icon"
        }
      ]
    },
    {
      "type":"link",
      "name":"t:sections.theme_fixed-menu.blocks.link.name",
      "limit":5,
      "settings":[
        {
          "type":"header",
          "content":"t:general.headers.content.content"
        },
        {
          "type":"text",
          "id":"button_label",
          "label":"t:general.settings.button_label.label",
          "default":{
            "en":"Button",
            "es":"Botón",
            "it":"Bottone",
            "de":"Knopf",
            "fr":"Bouton"
          }
        },
        {
          "type":"url",
          "id":"url",
          "label":"t:general.settings.url.label",
          "default":"/collections/all"
        }
      ]
    },
    {
      "type":"logo",
      "name":"t:sections.theme_fixed-menu.blocks.logo.name",
      "limit":1,
      "settings":[
        {
          "type":"header",
          "content":"t:general.headers.content.content"
        },
        {
          "type":"url",
          "id":"url",
          "label":"t:general.settings.url.label",
          "default":"/collections/all"
        },
        {
          "type":"image_picker",
          "id":"logo",
          "label":"t:general.settings.logo.label"
        },
        {
          "type":"range",
          "id":"logo_desktop_height",
          "min":10,
          "max":70,
          "step":1,
          "unit":"px",
          "label":"t:general.settings.desktop_logo_height.label",
          "default":20
        },
        {
          "type":"range",
          "id":"logo_mobile_height",
          "min":10,
          "max":50,
          "step":1,
          "unit":"px",
          "label":"t:general.settings.mobile_logo_height.label",
          "default":20
        }
      ]
    }
  ]
}
{% endschema %}