<!-- sections/theme__header.liquid -->
{% comment %} 
  This file is responsible for rendering the header of the theme. It includes the logo, navigation, and other elements that appear in the header.
  
  Global Variables:
  - layout_horizontal: {string} Class string to set horizontal margin.
  - cart_icon_behavior: {string} Behavior of the cart icon - set to drawer to prevent cart from linking to /cart
{% endcomment %}

{% capture desktop_logo %}
  <div class="md:py-4 flex items-center py-2
    {% if section.settings.bar_layout_desktop == "center" %}w-1/5 justify-center{% endif %}">

    {% capture logo_default_size %}
      height: {{ section.settings.logo_desktop_height }}px;
      width: {{ section.settings.logo_desktop_height | times: section.settings.logo_default.aspect_ratio }}px;
    {% endcapture %}
    {% capture logo_overlay_size %}
      height: {{ section.settings.logo_desktop_height }}px;
      width: {{ section.settings.logo_desktop_height | times: section.settings.logo_overlay.aspect_ratio }}px;
    {% endcapture %}

    {% comment %} Default logo {% endcomment %}
    {% if section.settings.logo_default %}
      <a 
        class="relative items-center inline-block invisible animation-500 hover:!opacity-100"  
        :class="{ '!visible': !is_scrolled_up || !has_banner_overlap }"
        style="{{ logo_default_size }}"
        href="{{ routes.root_url }}" 
        title="{{ shop.name }}">
        {{ section.settings.logo_default 
          | image_url: width: 400 
          | image_tag: class: 'w-full h-full !bg-transparent object-cover', alt: section.settings.logo_default.alt }}
      </a>

      {% comment %} Fallback - if only default logo is available {% endcomment %}
      {% if section.settings.logo_overlay == blank %}
        <a 
          class="absolute items-center inline-block invisible animation-500 hover:!opacity-100"  
          :class="{ '!visible': is_scrolled_up && has_banner_overlap }"
          style="{{ logo_default_size }}"
          href="{{ routes.root_url }}" 
          title="{{ shop.name }}">
          {{ section.settings.logo_default 
            | image_url: width: 400 
            | image_tag: class: 'w-full h-full !bg-transparent object-cover', alt: section.settings.logo_overlay.alt }}
        </a>
      {% endif %}
    {% endif %}

    {% comment %} Overlay logo {% endcomment %}
    {% if section.settings.logo_overlay %}
      <a 
        class="absolute items-center inline-block invisible animation-500 hover:!opacity-100"  
        :class="{ '!visible': is_scrolled_up && has_banner_overlap }"
        style="{{ logo_overlay_size }}"
        href="{{ routes.root_url }}" 
        title="{{ shop.name }}">
        {{ section.settings.logo_overlay 
          | image_url: width: 400 
          | image_tag: class: 'w-full h-full !bg-transparent object-cover', alt: section.settings.logo_overlay.alt }}
      </a>

      {% comment %} Fallback - if only overlay logo is available {% endcomment %}
      {% if section.settings.logo_default == blank %}
        <a 
          class="absolute items-center inline-block invisible animation-500 hover:!opacity-100"  
          :class="{ '!visible': is_scrolled_up && has_banner_overlap }"
          style="{{ logo_overlay_size }}"
          href="{{ routes.root_url }}" 
          title="{{ shop.name }}">
          {{ section.settings.logo_overlay 
            | image_url: width: 400 
            | image_tag: class: 'w-full h-full !bg-transparent object-cover', alt: section.settings.logo_overlay.alt }}
        </a>
      {% endif %}
    {% endif %}

    {% comment %} Text fallback {% endcomment %}
    {% if section.settings.logo_default == blank and section.settings.logo_overlay == blank %}
      <a 
        class="relative items-center inline-block no-underline whitespace-nowrap"
        href="{{ routes.root_url }}" 
        title="{{ shop.name }}">
        {{ shop.name }}
      </a>
    {% endif %}
    
  </div>
{% endcapture %}

{% capture desktop_navigation %}
  <div 
    class="
      flex flex-wrap items-center pl-6 gap-6
      {% if section.settings.bar_layout_desktop == "left" %}flex-grow{% endif %}
    ">   
  </div>
{% endcapture %}

{% capture desktop_actions--left %}
  <div class="flex items-center justify-start pr-2
    {% if section.settings.bar_layout_desktop == "center" %}w-2/5 grow-0{% endif %}">
  </div>
{% endcapture %}

{% capture desktop_actions--right %}
  <div class="flex items-center justify-end pl-2 text-right gap-6
    {% if section.settings.bar_layout_desktop == "center" %}w-2/5 grow-0{% endif %}">
  </div>
{% endcapture %}

<nav 
  id="{{ section.id }}"
  class="
    animation-300 z-10 relative 
    {{ section.settings.bar_capitilization }}
    {{ section.settings.bar_font }}
    {{ section.settings.visibility }}
    {% if section.settings.bar_default_color_scheme != section.settings.bar_overlay_color_scheme %}
      opacity-0
    {% else %}
      {{ section.settings.bar_default_color_scheme }}
    {% endif %}
  "
  :class="
    `${header_color} ${header_border} ${is_ready ? '!opacity-100' : ''}`
  "
  x-ref="internal_header"
  x-data="{
    is_ready: false
  }"
  x-init="
    header_bar_height = $refs.internal_header.offsetHeight;
    header_default_color = '{{ section.settings.bar_default_color_scheme }}';
    header_overlay_color = '{{ section.settings.bar_overlay_color_scheme }}';
    header_default_border = 'border--b-width {{ section.settings.bar_default_color_border }}';
    header_overlay_border = 'border--b-width {{ section.settings.bar_overlay_color_border }}';
    header_color = header_default_color
    header_border = header_default_border
    $nextTick(() => { 
      is_ready = true      
    });
  ">
  <div class="relative">
    
    {% comment %} Mobile {% endcomment %}
    <div
      class="md:hidden flex flex-wrap items-center py-2
      {{ settings.x_margin }}">

      {% comment %} Menu button {% endcomment %}
      <div class="flex items-center justify-start flex-grow flex-shrink basis-0">
      </div>

      {% comment %} Logo {% endcomment %}
      <div class="flex items-center justify-center max-w-[45%] sm:max-w-[70%]">

        {% capture logo_default_size %}
          height: {{ section.settings.logo_mobile_height }}px;
          width: {{ section.settings.logo_mobile_height | times: section.settings.logo_default.aspect_ratio }}px;
        {% endcapture %}
        {% capture logo_overlay_size %}
          height: {{ section.settings.logo_mobile_height }}px;
          width: {{ section.settings.logo_mobile_height | times: section.settings.logo_overlay.aspect_ratio }}px;
        {% endcapture %}
        
        {% comment %} Default logo {% endcomment %}
        {% if section.settings.logo_default %}
          <a 
            class="relative items-center inline-block invisible animation-500 hover:!opacity-100"  
            :class="{ '!visible': !is_scrolled_up || !has_banner_overlap }"
            style="{{ logo_default_size }}"
            href="{{ routes.root_url }}" 
            title="{{ shop.name }}">
            {{ section.settings.logo_default 
              | image_url: width: 400 
              | image_tag: class: 'w-full h-full !bg-transparent object-cover', alt: section.settings.logo_default.alt }}
          </a>

          {% comment %} Fallback - if only default logo is available {% endcomment %}
          {% if section.settings.logo_overlay == blank %}
            <a 
              class="absolute items-center inline-block invisible animation-500 hover:!opacity-100"  
              :class="{ '!visible': is_scrolled_up && has_banner_overlap }"
              style="{{ logo_default_size }}"
              href="{{ routes.root_url }}" 
              title="{{ shop.name }}">
              {{ section.settings.logo_default 
                | image_url: width: 400 
                | image_tag: class: 'w-full h-full !bg-transparent object-cover', alt: section.settings.logo_overlay.alt }}
            </a>
          {% endif %}
        {% endif %}

        {% comment %} Overlay logo {% endcomment %}
        {% if section.settings.logo_overlay %}
          <a 
            class="absolute items-center inline-block invisible animation-500 hover:!opacity-100"  
            :class="{ '!visible': is_scrolled_up && has_banner_overlap }"
            style="{{ logo_overlay_size }}"
            href="{{ routes.root_url }}" 
            title="{{ shop.name }}">
            {{ section.settings.logo_overlay 
              | image_url: width: 400 
              | image_tag: class: 'w-full h-full !bg-transparent object-cover', alt: section.settings.logo_overlay.alt }}
          </a>

          {% comment %} Fallback - if only overlay logo is available {% endcomment %}
          {% if section.settings.logo_default == blank %}
            <a 
              class="absolute items-center inline-block invisible animation-500 hover:!opacity-100"  
              :class="{ '!visible': is_scrolled_up && has_banner_overlap }"
              style="{{ logo_overlay_size }}"
              href="{{ routes.root_url }}" 
              title="{{ shop.name }}">
              {{ section.settings.logo_overlay 
                | image_url: width: 400 
                | image_tag: class: 'w-full h-full !bg-transparent object-cover', alt: section.settings.logo_overlay.alt }}
            </a>
          {% endif %}
        {% endif %}

        {% comment %} Text fallback {% endcomment %}
        {% if section.settings.logo_default == blank and section.settings.logo_overlay == blank %}
          <a 
            class="relative items-center inline-block no-underline whitespace-nowrap"  
            href="{{ routes.root_url }}" 
            title="{{ shop.name }}">
            {{ shop.name }}
          </a>
        {% endif %}

      </div>

      {% comment %} Cart button {% endcomment %}
      <div class="flex items-center justify-end flex-grow flex-shrink text-right basis-0">
      </div>

    </div>

    {% comment %} Desktop {% endcomment %}
    <div
      class="md:flex items-stretch hidden flex-wrap
      {{ settings.x_margin }}
      {% if section.settings.bar_layout_desktop == "left" %}
        justify-start
      {% endif %}
      {% if section.settings.bar_layout_desktop == "center" %}
        jusitify-between
      {% endif %}">

      {% if section.settings.bar_layout_desktop == 'left' %}
        {{ desktop_logo }}
        {{ desktop_navigation }}
        {{ desktop_actions--right }}
      {% endif %}
      {% if section.settings.bar_layout_desktop == 'center' %}
        {{ desktop_actions--left }}
        {{ desktop_logo }}
        {{ desktop_actions--right }}
      {% endif %}
    </div>
    
  </div>
</nav>

{% schema %}
{
  "name": "t:sections.theme_header.name",
  "class": "theme__header",
  "settings": [
    {
      "type": "header",
      "content": "t:general.headers.navigation.content"
    },
    {
      "type": "header",
      "content": "t:general.headers.logos.content"
    },
    {
      "type": "image_picker",
      "id": "logo_default",
      "label": "t:general.settings.logo_default.label"
    },
    {
      "type": "image_picker",
      "id": "logo_overlay",
      "label": "t:general.settings.logo_overlay.label",
      "info": "t:general.settings.logo_overlay.info"
    },
    {
      "type": "range",
      "id": "logo_desktop_height",
      "min": 10,
      "max": 60,
      "step": 1,
      "unit": "px",
      "label": "t:general.settings.desktop_logo_height.label",
      "default": 24
    },
    {
      "type": "range",
      "id": "logo_mobile_height",
      "min": 10,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "t:general.settings.mobile_logo_height.label",
      "default": 20
    },
    {
      "type": "header",
      "content": "t:general.headers.layout.content"
    },
    {
      "type": "select",
      "id": "bar_layout_desktop",
      "label": "t:general.settings.desktop_layout.label",
      "options": [
        {
          "value": "left",
          "label": "t:general.settings.x_alignment.left.label"
        },
        {
          "value": "center",
          "label": "t:general.settings.x_alignment.center.label"
        }
      ],
      "default": "left"
    },
    {
      "type": "select",
      "id": "bar_default_color_scheme",
      "label": "t:general.settings.default_color_scheme.label",
      "options": [
        {
          "value":"color__bg-body color__text",
          "label":"t:general.settings.color_scheme.body.label"
        },
        {
          "value":"color__bg-neutral color__text",
          "label":"t:general.settings.color_scheme.neutral.label"
        },
        {
          "value":"color__bg-overlay-1 color__text",
          "label":"t:general.settings.color_scheme.accent_1.label"
        },
        {
          "value":"color__bg-overlay-2 color__text",
          "label":"t:general.settings.color_scheme.accent_2.label"
        },
        {
          "value":"color__bg-overlay-3 color__text",
          "label":"t:general.settings.color_scheme.accent_3.label"
        },
        {
          "value":"color__bg-shade-1 color__text",
          "label":"t:general.settings.color_scheme.shade_1.label"
        },
        {
          "value":"color__bg-shade-2 color__text",
          "label":"t:general.settings.color_scheme.shade_2.label"
        },
        {
          "value":"color__bg-shade-3 color__text",
          "label":"t:general.settings.color_scheme.shade_3.label"
        },
        {
          "value":"color__bg-primary color__primary",
          "label":"t:general.settings.color_scheme.primary.label"
        },
        {
          "value":"color__bg-secondary color__secondary",
          "label":"t:general.settings.color_scheme.secondary.label"
        },
        {
          "value":"color__bg-tertiary color__tertiary",
          "label":"t:general.settings.color_scheme.tertiary.label"
        },
        {
          "value":"bg-transparent color__dark",
          "label":"Transparent"
        },
        {
          "value":"bg-transparent color__light",
          "label":"Inverted transparent"
        }
      ],
      "default": "color__bg-body color__text"
    },
    {
      "type": "select",
      "id": "bar_overlay_color_scheme",
      "label": "t:general.settings.overlay_color_scheme.label",
      "info": "t:general.settings.overlay_color_scheme.info",
      "options": [
        {
          "value":"color__bg-body color__text",
          "label":"t:general.settings.color_scheme.body.label"
        },
        {
          "value":"color__bg-neutral color__text",
          "label":"t:general.settings.color_scheme.neutral.label"
        },
        {
          "value":"color__bg-overlay-1 color__text",
          "label":"t:general.settings.color_scheme.accent_1.label"
        },
        {
          "value":"color__bg-overlay-2 color__text",
          "label":"t:general.settings.color_scheme.accent_2.label"
        },
        {
          "value":"color__bg-overlay-3 color__text",
          "label":"t:general.settings.color_scheme.accent_3.label"
        },
        {
          "value":"color__bg-shade-1 color__text",
          "label":"t:general.settings.color_scheme.shade_1.label"
        },
        {
          "value":"color__bg-shade-2 color__text",
          "label":"t:general.settings.color_scheme.shade_2.label"
        },
        {
          "value":"color__bg-shade-3 color__text",
          "label":"t:general.settings.color_scheme.shade_3.label"
        },
        {
          "value":"color__bg-primary color__primary",
          "label":"t:general.settings.color_scheme.primary.label"
        },
        {
          "value":"color__bg-secondary color__secondary",
          "label":"t:general.settings.color_scheme.secondary.label"
        },
        {
          "value":"color__bg-tertiary color__tertiary",
          "label":"t:general.settings.color_scheme.tertiary.label"
        },
        {
          "value":"bg-transparent color__dark",
          "label":"t:general.settings.color_scheme.transparent.label"
        },
        {
          "value":"bg-transparent color__light",
          "label":"t:general.settings.color_scheme.inverted_transparent.label"
        }
      ],
      "default": "color__bg-body color__text"
    },
    {
      "type": "select",
      "id": "bar_default_color_border",
      "label": "t:general.settings.default_color_border.label",
      "options": [
        {
          "value": "color__border-divider-1",
          "label": "t:general.settings.color_border.subtle.label"
        },
        {
          "value": "color__border-selected-1",
          "label": "t:general.settings.color_border.strong.label"
        },
        {
          "value": "!color__border-transparent",
          "label": "t:general.settings.color_border.none.label"
        }
      ],
      "default": "color__border-divider-1"
    },
    {
      "type": "select",
      "id": "bar_overlay_color_border",
      "label": "t:general.settings.overlay_color_border.label",
      "info": "t:general.settings.overlay_color_border.info",
      "options": [
        {
          "value": "color__border-divider-1",
          "label": "t:general.settings.color_border.subtle.label"
        },
        {
          "value": "color__border-selected-1",
          "label": "t:general.settings.color_border.strong.label"
        },
        {
          "value": "!color__border-transparent",
          "label": "t:general.settings.color_border.none.label"
        }
      ],
      "default": "color__border-divider-1"
    },
    {
      "type": "select",
      "id": "bar_capitilization",
      "label": "t:general.settings.text_capitalization.label",
      "options": [
        {
          "value": "",
          "label": "t:general.settings.text_capitalization.standard.label"
        },
        {
          "value": "!uppercase",
          "label": "t:general.settings.text_capitalization.uppercase.label"
        },
        {
          "value": "!lowercase",
          "label": "t:general.settings.text_capitalization.lowercase.label"
        }
      ],
      "default": ""
    },
    {
      "type": "select",
      "id": "bar_font",
      "label": "t:general.settings.font_family.label",
      "options": [
        {
          "value": "type__body",
          "label": "t:general.settings.font_family.standard.label"
        },
        {
          "value": "type__heading",
          "label": "t:general.settings.font_family.heading.label"
        },
        {
          "value": "type__nav",
          "label":"t:general.settings.font_family.navigation.label"
        }
      ],
      "default": "type__body"
    },
    {
      "type":"header",
      "content":"t:general.headers.display.content"
    },
    {
      "type":"select",
      "id":"visibility",
      "label":"t:general.settings.visibility.label",
      "options":[
        {
          "value":"",
          "label":"t:general.settings.visibility.all.label"
        },
        {
          "value":"md:hidden",
          "label":"t:general.settings.visibility.mobile.label"
        },
        {
          "value":"hidden md:block",
          "label":"t:general.settings.visibility.desktop.label"
        }
      ],
      "default":""
    }
  ],
  "disabled_on": {
    "groups": ["custom.overlay"]
  }
}
{% endschema %}
