<!-- templates/gift_card.liquid -->
{% layout 'minimal' %}

<section class="py-24
  {{ settings.x_margin }}
  {{ settings.x_alignment }}">
  <div class="flex flex-col w-full gap-4 max-w-prose">
    
    <h1>{{ 'info.gift_card_description' | t }}</h1>

    <p>{{ 'info.gift_card_redeem' | t }}</p>
  
    <div 
      class="flex justify-between w-full gap-4 p-4 border--radius color__bg-primary color__primary"
      style="aspect-ratio:5/2.5">
      <div class="flex flex-col justify-between gap-4">
        <h3>{{ shop.name }}</h3>
        <div 
          id="js-giftCardQrCode" 
          data-identifier="{{ gift_card.qr_identifier }}">
        </div>
      </div>
      <div class="flex flex-col justify-between gap-4 text-right">
        <div>
          <h3>
            {% render 'component__format-price', price: gift_card.initial_value %}
          </h3>
          <p class="opacity-50">
            {% render 'component__format-price', price: gift_card.balance %} 
            {{ 'labels.left' | t | downcase }}
          </p>
          {% if gift_card.enabled == false or gift_card.expired %}
            <p>{{ 'labels.expired' | t }}</p>
          {% endif %}
        </div>
        <div class="opacity-50 type--small">
          <p>{{ gift_card.code | format_code }}</p>
        </div>
      </div>
    </div>
    
    <div class="relative flex gap-4" 
      x-data="{
        copy: 'Copy'
      }">
      <input
        id="copy-gift-card"
        type="text"
        class="js-giftCardNumber"
        value="{{ gift_card.code | format_code }}"
        aria-label="{{ 'info.gift_card_code' | t }}"
        readonly
      >
      <button class="btn"
        @click="
        copyToClipboard('copy-gift-card');
        copy = 'Copied';
        ">
        <span class="btn__content" x-text="copy">{{ 'actions.copy' | t }}</span>
      </button>
    </div>
    
    {% if gift_card.pass_url %}
      <a 
        class="gift_card__apple-wallet"
        href="{{ gift_card.pass_url }}" >
        <img 
          src="{{ 'gift-card/add-to-apple-wallet.svg' | shopify_asset_url }}" 
          width="120" 
          height="40" 
          alt="{{ 'actions.add_to_apple_wallet' | t }}" 
          loading="lazy">
      </a>
    {% endif %}
    
    <div class="flex gap-4">
      <a
        href="{{ shop.url }}"
        class="btn btn--plain"
        rel="noopener">
        {{ 'actions.continue_shopping' | t }}
      </a>
      <button
        class="btn btn--plain"
        onclick="window.print();">
        {{ 'actions.print' | t }}
      </button>
    </div>
    
  </div>
</section>

<script src="{{ 'vendor/qrcode.js' | shopify_asset_url }}" defer></script>
<script type="module">
  var string = { qrImageAlt: {{ 'info.gift_card_code' | t | json }} };
  document.addEventListener('DOMContentLoaded', function() {
    new QRCode( document.getElementById('js-giftCardQrCode'), {
      text: document.getElementById('js-giftCardQrCode').dataset.identifier,
      width: 120,
      height: 120,
      colorDark : "{{ settings.color_foreground_primary }}",
      colorLight : "{{ settings.color_background_primary }}",
      imageAltText: string.qrImageAlt
    });
  });
</script>
